SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.FT.T24.PORTAL/SBV.FT.T24.PORTAL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/T24PORTAL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="T24WebServicesImplService" targetNamespace="http://temenos.com/T24PORTAL">
    <import namespace="http://temenos.com/T24PORTAL" location="SBV.FT.T24.PORTAL_xsd1.xsd"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/T24PORTAL" schemaLocation="SBV.FT.T24.PORTAL_xsd1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="SBV.FT.T24.PORTAL_xsd2.xsd"/>
        </xsd:schema>
    </types>
    <message name="ERPCheckRef">
        <part name="parameters" element="tns:ERPCheckRef"/>
    </message>
    <message name="ERPCheckRefResponse">
        <part element="tns:ERPCheckRefResponse" name="parameters"/>
    </message>
    <message name="PortalClearingCredit">
        <part element="tns:PortalClearingCredit" name="parameters"/>
    </message>
    <message name="PortalClearingCreditResponse">
        <part element="tns:PortalClearingCreditResponse" name="parameters"/>
    </message>
    <message name="PortalClearingCredit_Validate">
        <part element="tns:PortalClearingCredit_Validate" name="parameters"/>
    </message>
    <message name="PortalClearingCredit_ValidateResponse">
        <part element="tns:PortalClearingCredit_ValidateResponse" name="parameters"/>
    </message>
    <message name="PortalCitadCredit">
        <part element="tns:PortalCitadCredit" name="parameters"/>
    </message>
    <message name="PortalCitadCreditResponse">
        <part element="tns:PortalCitadCreditResponse" name="parameters"/>
    </message>
    <message name="PortalCitadCredit_Validate">
        <part element="tns:PortalCitadCredit_Validate" name="parameters"/>
    </message>
    <message name="PortalCitadCredit_ValidateResponse">
        <part element="tns:PortalCitadCredit_ValidateResponse" name="parameters"/>
    </message>
    <message name="FTOtherTransaction">
        <part element="tns:FTOtherTransaction" name="parameters"/>
    </message>
    <message name="FTOtherTransactionResponse">
        <part element="tns:FTOtherTransactionResponse" name="parameters"/>
    </message>
    <message name="FTOtherTransaction_Validate">
        <part element="tns:FTOtherTransaction_Validate" name="parameters"/>
    </message>
    <message name="FTOtherTransaction_ValidateResponse">
        <part element="tns:FTOtherTransaction_ValidateResponse" name="parameters"/>
    </message>
    <message name="CreateFTfromPortal">
        <part element="tns:CreateFTfromPortal" name="parameters"/>
    </message>
    <message name="CreateFTfromPortalResponse">
        <part element="tns:CreateFTfromPortalResponse" name="parameters"/>
    </message>
    <message name="CreateFTfromPortal_Validate">
        <part element="tns:CreateFTfromPortal_Validate" name="parameters"/>
    </message>
    <message name="CreateFTfromPortal_ValidateResponse">
        <part element="tns:CreateFTfromPortal_ValidateResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="ERPCheckRef">
            <input message="tns:ERPCheckRef" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/ERPCheckRefRequest"/>
            <output message="tns:ERPCheckRefResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/ERPCheckRefResponse"/>
        </operation>
        <operation name="PortalClearingCredit">
            <input message="tns:PortalClearingCredit" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalClearingCreditRequest"/>
            <output message="tns:PortalClearingCreditResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalClearingCreditResponse"/>
        </operation>
        <operation name="PortalClearingCredit_Validate">
            <input message="tns:PortalClearingCredit_Validate" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalClearingCredit_ValidateRequest"/>
            <output message="tns:PortalClearingCredit_ValidateResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalClearingCredit_ValidateResponse"/>
        </operation>
        <operation name="PortalCitadCredit">
            <input message="tns:PortalCitadCredit" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalCitadCreditRequest"/>
            <output message="tns:PortalCitadCreditResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalCitadCreditResponse"/>
        </operation>
        <operation name="PortalCitadCredit_Validate">
            <input message="tns:PortalCitadCredit_Validate" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalCitadCredit_ValidateRequest"/>
            <output message="tns:PortalCitadCredit_ValidateResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/PortalCitadCredit_ValidateResponse"/>
        </operation>
        <operation name="FTOtherTransaction">
            <input message="tns:FTOtherTransaction" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/FTOtherTransactionRequest"/>
            <output message="tns:FTOtherTransactionResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/FTOtherTransactionResponse"/>
        </operation>
        <operation name="FTOtherTransaction_Validate">
            <input message="tns:FTOtherTransaction_Validate" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/FTOtherTransaction_ValidateRequest"/>
            <output message="tns:FTOtherTransaction_ValidateResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/FTOtherTransaction_ValidateResponse"/>
        </operation>
        <operation name="CreateFTfromPortal">
            <input message="tns:CreateFTfromPortal" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/CreateFTfromPortalRequest"/>
            <output message="tns:CreateFTfromPortalResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/CreateFTfromPortalResponse"/>
        </operation>
        <operation name="CreateFTfromPortal_Validate">
            <input message="tns:CreateFTfromPortal_Validate" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/CreateFTfromPortal_ValidateRequest"/>
            <output message="tns:CreateFTfromPortal_ValidateResponse" wsam:Action="http://temenos.com/T24PORTAL/T24WebServicesImpl/CreateFTfromPortal_ValidateResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ERPCheckRef">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PortalClearingCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PortalClearingCredit_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PortalCitadCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PortalCitadCredit_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTOtherTransaction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTOtherTransaction_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateFTfromPortal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateFTfromPortal_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.192.26.101:7001/T24PORTAL/services"/>
        </port>
    </service>
</definitions>