SG31ESBProject/SharedResource/Schema/Global/System/T24/QueueSchema/CashWithdrawal/CashWithdralLocalFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/CashWithdrawalLocal/CashWithdralLocalFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/CashWithdrawalLocal/CashWithdralLocalFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../Common-EventCommon.xsd"/>
	<xsd:element name="CashWithdralLocalFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="amountLocal1Group" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="account2" minOccurs="0"/>
				<xsd:element ref="currency1" minOccurs="0"/>
				<xsd:element ref="valueDate1" minOccurs="0"/>
				<xsd:element ref="lTtContent" minOccurs="0"/>
				<xsd:element ref="transactionCode" minOccurs="0"/>
				<xsd:element ref="coCode" minOccurs="0"/>
				<xsd:element ref="ttReceiver" minOccurs="0"/>
				<xsd:element ref="ttReceiverAdd" minOccurs="0"/>
				<xsd:element ref="lBcSortCode" minOccurs="0"/>
				<xsd:element ref="recordStatus" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="amountLocal1Group">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="amountLocal1" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="account2" type="xsd:string"/>
	<xsd:element name="currency1" type="xsd:string"/>
	<xsd:element name="valueDate1" type="xsd:date"/>
	<xsd:element name="lTtContent" type="xsd:string"/>
	<xsd:element name="transactionCode" type="xsd:string"/>
	<xsd:element name="coCode" type="xsd:string"/>
	<xsd:element name="ttReceiver" type="xsd:string"/>
	<xsd:element name="ttReceiverAdd" type="xsd:string"/>
	<xsd:element name="lBcSortCode" type="xsd:string"/>
	<xsd:element name="recordStatus" type="xsd:string"/>
</xsd:schema>