SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.ERP.T24.INTEGRATION/SBV.ERP.T24.INTEGRATION.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.ERP.T24.INTEGRATION" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.ERP.T24.INTEGRATION">
    <import location="SBV.ERP.T24.INTEGRATION_xsd1.xsd" namespace="http://temenos.com/SBV.ERP.T24.INTEGRATION"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.ERP.T24.INTEGRATION" schemaLocation="SBV.ERP.T24.INTEGRATION_xsd1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="SBV.ERP.T24.INTEGRATION_xsd2.xsd"/>
        </xsd:schema>
    </types>
    <message name="ERPToCitadDebit">
        <part element="tns:ERPToCitadDebit" name="parameters"/>
    </message>
    <message name="ERPToCitadDebitResponse">
        <part element="tns:ERPToCitadDebitResponse" name="parameters"/>
    </message>
    <message name="ERPToCitadDebit_Validate">
        <part element="tns:ERPToCitadDebit_Validate" name="parameters"/>
    </message>
    <message name="ERPToCitadDebit_ValidateResponse">
        <part element="tns:ERPToCitadDebit_ValidateResponse" name="parameters"/>
    </message>
    <message name="ERPCreateTT">
        <part element="tns:ERPCreateTT" name="parameters"/>
    </message>
    <message name="ERPCreateTTResponse">
        <part element="tns:ERPCreateTTResponse" name="parameters"/>
    </message>
    <message name="ERPCreateTT_Validate">
        <part element="tns:ERPCreateTT_Validate" name="parameters"/>
    </message>
    <message name="ERPCreateTT_ValidateResponse">
        <part element="tns:ERPCreateTT_ValidateResponse" name="parameters"/>
    </message>
    <message name="ERPCheckRef">
        <part element="tns:ERPCheckRef" name="parameters"/>
    </message>
    <message name="ERPCheckRefResponse">
        <part element="tns:ERPCheckRefResponse" name="parameters"/>
    </message>
    <message name="ERPToCitadCredit">
        <part element="tns:ERPToCitadCredit" name="parameters"/>
    </message>
    <message name="ERPToCitadCreditResponse">
        <part element="tns:ERPToCitadCreditResponse" name="parameters"/>
    </message>
    <message name="ERPToCitadCredit_Validate">
        <part element="tns:ERPToCitadCredit_Validate" name="parameters"/>
    </message>
    <message name="ERPToCitadCredit_ValidateResponse">
        <part element="tns:ERPToCitadCredit_ValidateResponse" name="parameters"/>
    </message>
    <message name="ERPCreateFT">
        <part element="tns:ERPCreateFT" name="parameters"/>
    </message>
    <message name="ERPCreateFTResponse">
        <part element="tns:ERPCreateFTResponse" name="parameters"/>
    </message>
    <message name="ERPCreateFT_Validate">
        <part element="tns:ERPCreateFT_Validate" name="parameters"/>
    </message>
    <message name="ERPCreateFT_ValidateResponse">
        <part element="tns:ERPCreateFT_ValidateResponse" name="parameters"/>
    </message>
    <message name="ERPClearingCredit">
        <part element="tns:ERPClearingCredit" name="parameters"/>
    </message>
    <message name="ERPClearingCreditResponse">
        <part element="tns:ERPClearingCreditResponse" name="parameters"/>
    </message>
    <message name="ERPClearingCredit_Validate">
        <part element="tns:ERPClearingCredit_Validate" name="parameters"/>
    </message>
    <message name="ERPClearingCredit_ValidateResponse">
        <part element="tns:ERPClearingCredit_ValidateResponse" name="parameters"/>
    </message>
    <message name="ERPClearingDebit">
        <part element="tns:ERPClearingDebit" name="parameters"/>
    </message>
    <message name="ERPClearingDebitResponse">
        <part element="tns:ERPClearingDebitResponse" name="parameters"/>
    </message>
    <message name="ERPClearingDebit_Validate">
        <part element="tns:ERPClearingDebit_Validate" name="parameters"/>
    </message>
    <message name="ERPClearingDebit_ValidateResponse">
        <part element="tns:ERPClearingDebit_ValidateResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="ERPToCitadDebit">
            <input message="tns:ERPToCitadDebit" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadDebitRequest"/>
            <output message="tns:ERPToCitadDebitResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadDebitResponse"/>
        </operation>
        <operation name="ERPToCitadDebit_Validate">
            <input message="tns:ERPToCitadDebit_Validate" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadDebit_ValidateRequest"/>
            <output message="tns:ERPToCitadDebit_ValidateResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadDebit_ValidateResponse"/>
        </operation>
        <operation name="ERPCreateTT">
            <input message="tns:ERPCreateTT" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateTTRequest"/>
            <output message="tns:ERPCreateTTResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateTTResponse"/>
        </operation>
        <operation name="ERPCreateTT_Validate">
            <input message="tns:ERPCreateTT_Validate" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateTT_ValidateRequest"/>
            <output message="tns:ERPCreateTT_ValidateResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateTT_ValidateResponse"/>
        </operation>
        <operation name="ERPCheckRef">
            <input message="tns:ERPCheckRef" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCheckRefRequest"/>
            <output message="tns:ERPCheckRefResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCheckRefResponse"/>
        </operation>
        <operation name="ERPToCitadCredit">
            <input message="tns:ERPToCitadCredit" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadCreditRequest"/>
            <output message="tns:ERPToCitadCreditResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadCreditResponse"/>
        </operation>
        <operation name="ERPToCitadCredit_Validate">
            <input message="tns:ERPToCitadCredit_Validate" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadCredit_ValidateRequest"/>
            <output message="tns:ERPToCitadCredit_ValidateResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPToCitadCredit_ValidateResponse"/>
        </operation>
        <operation name="ERPCreateFT">
            <input message="tns:ERPCreateFT" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateFTRequest"/>
            <output message="tns:ERPCreateFTResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateFTResponse"/>
        </operation>
        <operation name="ERPCreateFT_Validate">
            <input message="tns:ERPCreateFT_Validate" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateFT_ValidateRequest"/>
            <output message="tns:ERPCreateFT_ValidateResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPCreateFT_ValidateResponse"/>
        </operation>
        <operation name="ERPClearingCredit">
            <input message="tns:ERPClearingCredit" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingCreditRequest"/>
            <output message="tns:ERPClearingCreditResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingCreditResponse"/>
        </operation>
        <operation name="ERPClearingCredit_Validate">
            <input message="tns:ERPClearingCredit_Validate" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingCredit_ValidateRequest"/>
            <output message="tns:ERPClearingCredit_ValidateResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingCredit_ValidateResponse"/>
        </operation>
        <operation name="ERPClearingDebit">
            <input message="tns:ERPClearingDebit" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingDebitRequest"/>
            <output message="tns:ERPClearingDebitResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingDebitResponse"/>
        </operation>
        <operation name="ERPClearingDebit_Validate">
            <input message="tns:ERPClearingDebit_Validate" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingDebit_ValidateRequest"/>
            <output message="tns:ERPClearingDebit_ValidateResponse" wsam:Action="http://temenos.com/SBV.ERP.T24.INTEGRATION/T24WebServicesImpl/ERPClearingDebit_ValidateResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ERPToCitadDebit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPToCitadDebit_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPCreateTT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPCreateTT_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPCheckRef">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPToCitadCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPToCitadCredit_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPCreateFT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPCreateFT_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPClearingCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPClearingCredit_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPClearingDebit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPClearingDebit_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.1.26.6:7001/SBV.ERP.T24.INTEGRATION/services"/>
        </port>
    </service>
</definitions>