SIT/SG31ESBProject_SIT/SharedResource/Schema/Global/Remittance/CashPosting/CashPosting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.sbv.org.vn/global/remittance/securitiesposting/create/version1.0" xmlns:ns="sbv/global/remittance/securitiesposting/create/version1.0" xmlns:ns4="http://www.sbv.gov.vn/global/remittance/securitiesposting/version1.0" xmlns:ns3="http://www.sbv.org.vn/global/remittance/securitiesposting/version1.0" xmlns:tns="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0" targetNamespace="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0">
    <import namespace="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0" location="CashPosting.xsd"/>
    <message name="createPostingReq">
        <part element="ns5:createPostingReq" name="Req"/>
    </message>
    <message name="createPostingRes">
        <part element="ns5:createPostingRes" name="Res"/>
    </message>
    <message name="reverseCashPostingReq">
        <part element="tns:reverseCashPostingReq" name="Req"/>
    </message>
    <message name="reverseCashPostingRes">
        <part element="tns:reverseCashPostingRes" name="Res"/>
    </message>
    <message name="CSDLimitUnsecReq">
        <part name="Req" element="tns:CSDLimitUnsecReq"/>
    </message>
    <message name="CSDLimitUnsecRes">
        <part name="Res" element="tns:CSDLimitUnsecRes"/>
    </message>
    <message name="createMultiPostingReq">
        <part name="Req" element="tns:createPostingReq"/>
    </message>
    <message name="createMultiPostingRes">
        <part name="Res" element="tns:createPostingRes"/>
    </message>
    <portType name="PortType">
        <operation name="createPosting">
            <input message="tns:createPostingReq"/>
            <output message="tns:createPostingRes"/>
        </operation>
        <operation name="reverseCashPosting">
            <input message="tns:reverseCashPostingReq"/>
            <output message="tns:reverseCashPostingRes"/>
        </operation>
        <operation name="CSDLimitUnsec">
            <input message="tns:CSDLimitUnsecReq"/>
            <output message="tns:CSDLimitUnsecRes"/>
        </operation>
        <operation name="createMultiPosting">
            <input message="tns:createMultiPostingReq"/>
            <output message="tns:createMultiPostingRes"/>
        </operation>
    </portType>
</definitions>