SG31ESBProject/SharedResource/Schema/Global/System/VSD/BondPayment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.sbv.gov.vn/Schema/Global/System/VSD/BondPayment.xsd" xmlns:tns="http://www.sbv.gov.vn/Schema/Global/System/VSD/BondPayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sbv.gov.vn/Schema/Global/System/VSD/BondPayment">
    <import location="BondPayment.xsd" namespace="http://www.sbv.gov.vn/Schema/Global/System/VSD/BondPayment.xsd"/>
    <message name="BondListPaymentReq">
        <part element="ns:BondListPaymentReq" name="Request"/>
    </message>
    <message name="BondListPaymentRes">
        <part element="ns:BondListPaymentRes" name="Response"/>
    </message>
    <message name="BondPaymentModifyReq">
        <part element="ns:BondPaymentModifyReq" name="Request"/>
    </message>
    <message name="BondPaymentModifyRes">
        <part element="ns:BondPaymentModifyRes" name="Response"/>
    </message>
    <message name="BondPaymentReconcileReq">
        <part element="ns:BondPaymentReconcileReq" name="Request"/>
    </message>
    <message name="BondPaymentReconcileRes">
        <part element="ns:BondPaymentReconcileRes" name="Response"/>
    </message>
    <portType name="BondPaymentPortType">
        <operation name="createBondPayment">
            <input message="tns:BondListPaymentReq"/>
            <output message="tns:BondListPaymentRes"/>
        </operation>
        <operation name="modifyBondPayment">
            <input message="tns:BondPaymentModifyReq"/>
            <output message="tns:BondPaymentModifyRes"/>
        </operation>
        <operation name="reconcileBondPayment">
            <input message="tns:BondPaymentReconcileReq"/>
            <output message="tns:BondPaymentReconcileRes"/>
        </operation>
    </portType>
</definitions>