UAT/SG31ESBProject_UAT/Services/Global/System/ALERTSYS/T24check.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS" name="T24WebServicesImplService">
    <import namespace="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS" location="T24check.xsd"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS" schemaLocation="T24check.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.192.26.101:7001/SBV.FT.SETTLE.IBPS.PAYMENT.WS/services?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="CoreSystemStatus">
        <part name="parameters" element="tns:CoreSystemStatus"/>
    </message>
    <message name="CoreSystemStatusResponse">
        <part name="parameters" element="tns:CoreSystemStatusResponse"/>
    </message>
    <message name="IBPSAccountKQ">
        <part name="parameters" element="tns:IBPSAccountKQ"/>
    </message>
    <message name="IBPSAccountKQResponse">
        <part name="parameters" element="tns:IBPSAccountKQResponse"/>
    </message>
    <message name="FundsTransferHV">
        <part name="parameters" element="tns:FundsTransferHV"/>
    </message>
    <message name="FundsTransferHVResponse">
        <part name="parameters" element="tns:FundsTransferHVResponse"/>
    </message>
    <message name="FundsTransferHV_Validate">
        <part name="parameters" element="tns:FundsTransferHV_Validate"/>
    </message>
    <message name="FundsTransferHV_ValidateResponse">
        <part name="parameters" element="tns:FundsTransferHV_ValidateResponse"/>
    </message>
    <message name="IBPSNetting">
        <part name="parameters" element="tns:IBPSNetting"/>
    </message>
    <message name="IBPSNettingResponse">
        <part name="parameters" element="tns:IBPSNettingResponse"/>
    </message>
    <message name="IBPSNetting_Validate">
        <part name="parameters" element="tns:IBPSNetting_Validate"/>
    </message>
    <message name="IBPSNetting_ValidateResponse">
        <part name="parameters" element="tns:IBPSNetting_ValidateResponse"/>
    </message>
    <message name="IBPSQueryAccount">
        <part name="parameters" element="tns:IBPSQueryAccount"/>
    </message>
    <message name="IBPSQueryAccountResponse">
        <part name="parameters" element="tns:IBPSQueryAccountResponse"/>
    </message>
    <message name="SeeIBPSNetting">
        <part name="parameters" element="tns:SeeIBPSNetting"/>
    </message>
    <message name="SeeIBPSNettingResponse">
        <part name="parameters" element="tns:SeeIBPSNettingResponse"/>
    </message>
    <message name="IBPSOpenAccount">
        <part name="parameters" element="tns:IBPSOpenAccount"/>
    </message>
    <message name="IBPSOpenAccountResponse">
        <part name="parameters" element="tns:IBPSOpenAccountResponse"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="CoreSystemStatus">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/CoreSystemStatusRequest" message="tns:CoreSystemStatus"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/CoreSystemStatusResponse" message="tns:CoreSystemStatusResponse"/>
        </operation>
        <operation name="IBPSAccountKQ">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSAccountKQRequest" message="tns:IBPSAccountKQ"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSAccountKQResponse" message="tns:IBPSAccountKQResponse"/>
        </operation>
        <operation name="FundsTransferHV">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHVRequest" message="tns:FundsTransferHV"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHVResponse" message="tns:FundsTransferHVResponse"/>
        </operation>
        <operation name="FundsTransferHV_Validate">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHV_ValidateRequest" message="tns:FundsTransferHV_Validate"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHV_ValidateResponse" message="tns:FundsTransferHV_ValidateResponse"/>
        </operation>
        <operation name="IBPSNetting">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNettingRequest" message="tns:IBPSNetting"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNettingResponse" message="tns:IBPSNettingResponse"/>
        </operation>
        <operation name="IBPSNetting_Validate">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNetting_ValidateRequest" message="tns:IBPSNetting_Validate"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNetting_ValidateResponse" message="tns:IBPSNetting_ValidateResponse"/>
        </operation>
        <operation name="IBPSQueryAccount">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSQueryAccountRequest" message="tns:IBPSQueryAccount"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSQueryAccountResponse" message="tns:IBPSQueryAccountResponse"/>
        </operation>
        <operation name="SeeIBPSNetting">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/SeeIBPSNettingRequest" message="tns:SeeIBPSNetting"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/SeeIBPSNettingResponse" message="tns:SeeIBPSNettingResponse"/>
        </operation>
        <operation name="IBPSOpenAccount">
            <input wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSOpenAccountRequest" message="tns:IBPSOpenAccount"/>
            <output wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSOpenAccountResponse" message="tns:IBPSOpenAccountResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CoreSystemStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSAccountKQ">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FundsTransferHV">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FundsTransferHV_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSNetting">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSNetting_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSQueryAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SeeIBPSNetting">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSOpenAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
            <soap:address location="http://10.192.26.101:7001/SBV.FT.SETTLE.IBPS.PAYMENT.WS/services"/>
        </port>
    </service>
</definitions>