SIT/SG31ESBProject_SIT/SharedResource/Schema/Global/System/CSD/ErpPostToCSDService/ErpPostToCsdService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAccListFrErp"
	 xmlns:ns1="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAcctStatusFrErp"
	 targetNamespace="http://fis.vn/iMaximusGateway/ErpPostToCsdService"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAccListFrErp" schemaLocation="GetAccListFrErp.xsd"/>
	<xs:import namespace="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAcctStatusFrErp" schemaLocation="GetAcctStatusFrErp.xsd"/>
	<xs:element name="GetAccListFrErp">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q1="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAccListFrErp" name="request" type="q1:GetAccListFrErpRequest" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAccListFrErpResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q2="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAccListFrErp" name="GetAccListFrErpResult" type="q2:GetAccListFrErpResponse" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAcctStatusFrErp">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q3="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAcctStatusFrErp" name="request" type="q3:GetAcctStatusFrErpRequest" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAcctStatusFrErpResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q4="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAcctStatusFrErp" name="GetAcctStatusFrErpResult" type="q4:GetAcctStatusFrErpResponse" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>