SG31ESBProject/SharedResource/Schema/Global/System/CSD/CsdService/GetCalendarFrT24.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCalendarFrT24"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices"
	 targetNamespace="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCalendarFrT24"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="WCFServices.xsd"/>
	<xs:complexType name="GetCalendarFrT24Request">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="tns:ArrayOfGetCalendarFrT24RequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCalendarFrT24Request" type="tns:GetCalendarFrT24Request" nillable="true"/>
	<xs:complexType name="ArrayOfGetCalendarFrT24RequestType">
		<xs:sequence>
			<xs:element name="GetCalendarFrT24RequestType" type="tns:GetCalendarFrT24RequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetCalendarFrT24RequestType" type="tns:ArrayOfGetCalendarFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCalendarFrT24RequestType">
		<xs:sequence>
			<xs:element name="CalendarDate" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="HolidayTrading" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCalendarFrT24RequestType" type="tns:GetCalendarFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCalendarFrT24Response">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCalendarFrT24Response" type="tns:GetCalendarFrT24Response" nillable="true"/>
</xs:schema>