SG31ESBProject/SharedResource/Schema/Global/System/CSD/CsdService/GetCashAcctStatusFrT24.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCashAcctStatusFrT24"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices"
	 targetNamespace="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCashAcctStatusFrT24"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="WCFServices.xsd"/>
	<xs:complexType name="GetCashAcctStatusFrT24Request">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="tns:ArrayOfGetCashAcctStatusFrT24RequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCashAcctStatusFrT24Request" type="tns:GetCashAcctStatusFrT24Request" nillable="true"/>
	<xs:complexType name="ArrayOfGetCashAcctStatusFrT24RequestType">
		<xs:sequence>
			<xs:element name="GetCashAcctStatusFrT24RequestType" type="tns:GetCashAcctStatusFrT24RequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetCashAcctStatusFrT24RequestType" type="tns:ArrayOfGetCashAcctStatusFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCashAcctStatusFrT24RequestType">
		<xs:sequence>
			<xs:element name="Reason" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="RefNoInterfaceAomCsd" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="RefNoInterfaceVendor" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCashAcctStatusFrT24RequestType" type="tns:GetCashAcctStatusFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCashAcctStatusFrT24Response">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCashAcctStatusFrT24Response" type="tns:GetCashAcctStatusFrT24Response" nillable="true"/>
</xs:schema>