SG31ESBProject/SharedResource/Schema/Global/System/CSD/CsdService/GetExRateFrT24.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetExRateFrT24"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices"
	 targetNamespace="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetExRateFrT24"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="WCFServices.xsd"/>
	<xs:complexType name="GetExRateFrT24Request">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="tns:ArrayOfGetExRateFrT24RequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetExRateFrT24Request" type="tns:GetExRateFrT24Request" nillable="true"/>
	<xs:complexType name="ArrayOfGetExRateFrT24RequestType">
		<xs:sequence>
			<xs:element name="GetExRateFrT24RequestType" type="tns:GetExRateFrT24RequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetExRateFrT24RequestType" type="tns:ArrayOfGetExRateFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetExRateFrT24RequestType">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CurrencyType" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Date" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Exchangerate" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetExRateFrT24RequestType" type="tns:GetExRateFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetExRateFrT24Response">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetExRateFrT24Response" type="tns:GetExRateFrT24Response" nillable="true"/>
</xs:schema>