SG31ESBProject/SharedResource/Schema/Global/System/CSD/CsdService/GetLendingFrT24.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetLendingFrT24"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices"
	 targetNamespace="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetLendingFrT24"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="WCFServices.xsd"/>
	<xs:complexType name="GetLendingFrT24Request">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="tns:ArrayOfGetLendingFrT24RequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetLendingFrT24Request" type="tns:GetLendingFrT24Request" nillable="true"/>
	<xs:complexType name="ArrayOfGetLendingFrT24RequestType">
		<xs:sequence>
			<xs:element name="GetLendingFrT24RequestType" type="tns:GetLendingFrT24RequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetLendingFrT24RequestType" type="tns:ArrayOfGetLendingFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetLendingFrT24RequestType">
		<xs:sequence>
			<xs:element name="Amount" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="BankCode" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="BusinessCode" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CurrencyCode" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="DueDate" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="FineAmount" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="IntRate" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LdDate" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LoanNo" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LoanOrgNo" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="StatusLiquidate" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="StatusOverdue" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetLendingFrT24RequestType" type="tns:GetLendingFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetLendingFrT24Response">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetLendingFrT24Response" type="tns:GetLendingFrT24Response" nillable="true"/>
</xs:schema>