SG31ESBProject/SharedResource/Schema/Global/Remittance/AutionGold/AutionGold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.sbv.gov.vn/global/remitance/autiongold/version1.0" xmlns:tns="http://xmlns.example.com/1469593316763" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1469593316763">
    <import namespace="http://www.sbv.gov.vn/global/remitance/autiongold/version1.0" location="AOMMetalDeal.xsd"/>
    <message name="createMetalDlealReq">
        <part name="part1" element="ns:createMetalDlealReq"/>
    </message>
    <message name="createMetalDlealRes">
        <part name="part1" element="ns:createMetalDealRes"/>
    </message>
    <message name="deleteMetalDlealReq">
        <part name="part1" element="ns:deleteMetalDlealReq"/>
    </message>
    <message name="deleteMetalDlealRes">
        <part name="part1" element="ns:deleteMetalDlealRes"/>
    </message>
    <message name="createCSDFundCITADReq">
        <part name="Req" element="ns:createCSDFundCITADReq"/>
    </message>
    <message name="createCSDFundCITADRes">
        <part name="Res" element="ns:createCSDFundCITADRes"/>
    </message>
    <portType name="Operation">
        <operation name="createMetalDleal">
            <input message="tns:createMetalDlealReq"/>
            <output message="tns:createMetalDlealRes"/>
        </operation>
        <operation name="deleteMetalDleal">
            <input message="tns:deleteMetalDlealReq"/>
            <output message="tns:deleteMetalDlealRes"/>
        </operation>
        <operation name="createCSDFundCITAD">
            <input message="tns:createCSDFundCITADReq"/>
            <output message="tns:createCSDFundCITADRes"/>
        </operation>
    </portType>
</definitions>