Production/SG31ESBProject_Prod/SharedResource/Schema/Global/Local/GLPosting/GLPosting-sit-ver2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns="http://www.sbv.org.vn/global/remittance/glposting/glposting/version1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1440058534699" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1440058534699">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sbv.org.vn/global/remittance/glposting/glposting/version1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:include schemaLocation="../../../../../SharedResource/Schema/Global/Remittance/GLPosting/GLPosting.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="createGLPosting-dev">
        <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
            <soap:address location=""/>
            <jms:connectionFactory>FTQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">soaqueue1.0</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="GLPosting">
            <wsdl:input message="tns:GLPostingReq"/>
            <wsdl:output message="tns:GLPostingRes"/>
        </wsdl:operation>
        <wsdl:operation name="COBGLPosting">
            <wsdl:input message="tns:COBGLPostingReq"/>
            <wsdl:output message="tns:COBGLPostingRes"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="bytes"/>
        <wsdl:operation name="GLPosting">
            <soap:operation style="document" soapAction="/Services/Global/Remittance/GLPosting/OperationImpl/GLPosting-service0.serviceagent/PortTypeEndpoint0/GLPosting"/>
            <wsdl:input>
                <soap:body use="literal" parts="Req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Res"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="COBGLPosting">
            <soap:operation style="document" soapAction="/Services/Global/Remittance/GLPosting/OperationImpl/GLPosting-service0.serviceagent/PortTypeEndpoint0/COBGLPosting"/>
            <wsdl:input>
                <soap:body use="literal" parts="COBReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="COBRes"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GLPostingReq">
        <wsdl:part name="Req" element="ns:GLPostingReq"/>
    </wsdl:message>
    <wsdl:message name="GLPostingRes">
        <wsdl:part name="Res" element="ns:GLPostingRes"/>
    </wsdl:message>
    <wsdl:message name="COBGLPostingReq">
        <wsdl:part name="COBReq" element="ns:COBGLPostingReq"/>
    </wsdl:message>
    <wsdl:message name="COBGLPostingRes">
        <wsdl:part name="COBRes" element="ns:COBGLPostingRes"/>
    </wsdl:message>
</wsdl:definitions>