SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/PortalLending.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/Schema.xsd" xmlns:tns="http://xmlns.example.com/1458113920435" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1458113920435">
    <import namespace="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/Schema.xsd" location="PortalLending.xsd"/>
    <message name="createLDCollaterizedReq">
        <part name="Req" element="ns:createLDCollaterizedReq"/>
    </message>
    <message name="createLDCollaterizedRes">
        <part name="Res" element="ns:createLDCollaterizedRes"/>
    </message>
    <message name="createLDLongCollaterizedReq">
        <part name="Req" element="ns:createLDLongCollaterizedReq"/>
    </message>
    <message name="createLDLongCollaterizedRes">
        <part name="Res" element="ns:createLDLongCollaterizedRes"/>
    </message>
    <message name="createLDDiscountReq">
        <part name="Req" element="ns:createLDDiscountReq"/>
    </message>
    <message name="createLDDiscountRes">
        <part name="Res" element="ns:createLDDiscountRes"/>
    </message>
    <message name="createLDShortSpecialReq">
        <part name="Req" element="ns:createLDShortSpecialReq"/>
    </message>
    <message name="createLDShortSpecialRes">
        <part name="Res" element="ns:createLDShortSpecialRes"/>
    </message>
    <message name="createLDSpecialReq">
        <part name="Req" element="ns:createLDSpecialReq"/>
    </message>
    <message name="createLDSpecialRes">
        <part name="Res" element="ns:createLDSpecialRes"/>
    </message>
    <message name="createLDLoansAmendReq">
        <part name="Req" element="ns:createLDLoansAmendReq"/>
    </message>
    <message name="createLDLoansAmendRes">
        <part name="Res" element="ns:createLDLoansAmendRes"/>
    </message>
    <message name="createLDLoansAmendOnlReq">
        <part name="Req" element="ns:createLDLoansAmendOnlReq"/>
    </message>
    <message name="createLDLoansAmendOnlRes">
        <part name="Res" element="ns:createLDLoansAmendOnlRes"/>
    </message>
    <message name="createLDUnscheduledReq">
        <part name="Req" element="ns:createLDUnscheduledReq"/>
    </message>
    <message name="createLDUnscheduledRes">
        <part name="Res" element="ns:createLDUnscheduledRes"/>
    </message>
    <message name="InquiryLDLoanPresentReq">
        <part name="Req" element="ns:InquiryLDLoanPresentReq"/>
    </message>
    <message name="InquiryLDLoanPresentRes">
        <part name="Res" element="ns:InquiryLDLoanPresentRes"/>
    </message>
    <message name="InquiryLDLoanOutstandingReq">
        <part name="Req" element="ns:InquiryLDLoanOutstandingReq"/>
    </message>
    <message name="InquiryLDLoanOutstandingRes">
        <part name="Res" element="ns:InquiryLDLoanOutstandingRes"/>
    </message>
    <message name="InquiryLDLoanMatureReq">
        <part name="Req" element="ns:InquiryLDLoanMatureReq"/>
    </message>
    <message name="InquiryLDLoanMatureRes">
        <part name="Res" element="ns:InquiryLDLoanMatureRes"/>
    </message>
    <message name="createLDMaturityReq">
        <part name="Req" element="ns:createLDMaturityReq"/>
    </message>
    <message name="createLDMaturityRes">
        <part name="Res" element="ns:createLDMaturityRes"/>
    </message>
    <portType name="PortType">
        <operation name="createLDCollaterized">
            <input message="tns:createLDCollaterizedReq"/>
            <output message="tns:createLDCollaterizedRes"/>
        </operation>
        <operation name="createLDLongCollaterized">
            <input message="tns:createLDLongCollaterizedReq"/>
            <output message="tns:createLDLongCollaterizedRes"/>
        </operation>
        <operation name="createLDDiscount">
            <input message="tns:createLDDiscountReq"/>
            <output message="tns:createLDDiscountRes"/>
        </operation>
        <operation name="createLDShortSpecial">
            <input message="tns:createLDShortSpecialReq"/>
            <output message="tns:createLDShortSpecialRes"/>
        </operation>
        <operation name="createLDSpecial">
            <input message="tns:createLDSpecialReq"/>
            <output message="tns:createLDSpecialRes"/>
        </operation>
        <operation name="createLDLoansAmend">
            <input message="tns:createLDLoansAmendReq"/>
            <output message="tns:createLDLoansAmendRes"/>
        </operation>
        <operation name="createLDLoansAmendOnl">
            <input message="tns:createLDLoansAmendOnlReq"/>
            <output message="tns:createLDLoansAmendOnlRes"/>
        </operation>
        <operation name="createLDUnscheduled">
            <input message="tns:createLDUnscheduledReq"/>
            <output message="tns:createLDUnscheduledRes"/>
        </operation>
        <operation name="InquiryLDLoanPresent">
            <input message="tns:InquiryLDLoanPresentReq"/>
            <output message="tns:InquiryLDLoanPresentRes"/>
        </operation>
        <operation name="InquiryLDLoanOutstanding">
            <input message="tns:InquiryLDLoanOutstandingReq"/>
            <output message="tns:InquiryLDLoanOutstandingRes"/>
        </operation>
        <operation name="InquiryLDLoanMature">
            <input message="tns:InquiryLDLoanMatureReq"/>
            <output message="tns:InquiryLDLoanMatureRes"/>
        </operation>
        <operation name="createLDMaturity">
            <input message="tns:createLDMaturityReq"/>
            <output message="tns:createLDMaturityRes"/>
        </operation>
    </portType>
</definitions>