SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/PortalLending.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/Schema.xsd"
	 xmlns:cmd-envelope="sbv/common/envelope/serviceenvelope/1.0"
	 xmlns:ns0="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/LendingCommon.xsd"
	 targetNamespace="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="sbv/common/envelope/serviceenvelope/1.0" schemaLocation="../../../Common/Envelope/ServiceEnvelope.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalLending/LendingCommon.xsd" schemaLocation="LendingCommon.xsd"/>
	<xs:element name="createLDCollaterizedReq" type="createLDCollaterizedReqType"/>
	<xs:element name="createLDCollaterizedRes" type="createLDCollaterizedResType"/>
	<xs:complexType name="createLDCollaterizedReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDCollaterizedInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDCollaterizedResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDCollaterizedInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDCollaterizedInfoReq" type="LDCollaterizedInfoReqType"/>
	<xs:element name="LDCollaterizedInfoRes" type="LDCollaterizedInfoResType"/>
	<xs:complexType name="LDCollaterizedInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDCollaterizedDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDCollaterizedInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LendingCommon" type="LendingCommonType"/>
	<xs:complexType name="LendingCommonType">
		<xs:complexContent>
			<xs:extension base="ns0:BasedPortalLendingRequestType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="createLDLongCollaterizedReq" type="createLDLongCollaterizedReqType"/>
	<xs:element name="createLDLongCollaterizedRes" type="createLDLongCollaterizedResType"/>
	<xs:complexType name="createLDLongCollaterizedReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDLongCollaterizedInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDLongCollaterizedResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDLongCollaterizedInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDLongCollaterizedInfoReq" type="LDLongCollaterizedInfoReqType"/>
	<xs:element name="LDLongCollaterizedInfoRes" type="LDLongCollaterizedInfoResType"/>
	<xs:complexType name="LDLongCollaterizedInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDLongCollaterizedDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDLongCollaterizedInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="createLDDiscountReq" type="createLDDiscountReqType"/>
	<xs:element name="createLDDiscountRes" type="createLDDiscountResType"/>
	<xs:complexType name="createLDDiscountReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDDiscountInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDDiscountResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDDiscountInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDDiscountInfoReq" type="LDDiscountInfoReqType"/>
	<xs:element name="LDDiscountInfoRes" type="LDDiscountInfoResType"/>
	<xs:complexType name="LDDiscountInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDDiscountDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDDiscountInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="createLDShortSpecialReq" type="createLDShortSpecialReqType"/>
	<xs:element name="createLDShortSpecialRes" type="createLDShortSpecialResType"/>
	<xs:complexType name="createLDShortSpecialReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDShortSpecialInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDShortSpecialResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDShortSpecialInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDShortSpecialInfoReq" type="LDShortSpecialInfoReqType"/>
	<xs:element name="LDShortSpecialInfoRes" type="LDShortSpecialInfoResType"/>
	<xs:complexType name="LDShortSpecialInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDShortSpecialDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDShortSpecialInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="createLDSpecialReq" type="createLDSpecialReqType"/>
	<xs:element name="createLDSpecialRes" type="createLDSpecialResType"/>
	<xs:complexType name="createLDSpecialReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDSpecialInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDSpecialResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDSpecialInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDSpecialInfoReq" type="LDSpecialInfoReqType"/>
	<xs:element name="LDSpecialInfoRes" type="LDSpecialInfoResType"/>
	<xs:complexType name="LDSpecialInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDSpecialDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDSpecialInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="createLDLoansAmendReq" type="createLDLoansAmendReqType"/>
	<xs:element name="createLDLoansAmendRes" type="createLDLoansAmendResType"/>
	<xs:complexType name="createLDLoansAmendReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDLoansAmendInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDLoansAmendResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDLoansAmendInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDLoansAmendInfoReq" type="LDLoansAmendInfoReqType"/>
	<xs:element name="LDLoansAmendInfoRes" type="LDLoansAmendInfoResType"/>
	<xs:complexType name="LDLoansAmendInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDLoansAmendDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDLoansAmendInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="createLDLoansAmendOnlReq" type="createLDLoansAmendOnlReqType"/>
	<xs:element name="createLDLoansAmendOnlRes" type="createLDLoansAmendOnlResType"/>
	<xs:complexType name="createLDLoansAmendOnlReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDLoansAmendOnlInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDLoansAmendOnlResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDLoansAmendOnlInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDLoansAmendOnlInfoReq" type="LDLoansAmendOnlInfoReqType"/>
	<xs:element name="LDLoansAmendOnlInfoRes" type="LDLoansAmendOnlInfoResType"/>
	<xs:complexType name="LDLoansAmendOnlInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDLoansAmendOnlDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDLoansAmendOnlInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="createLDUnscheduledReq" type="createLDUnscheduledReqType"/>
	<xs:element name="createLDUnscheduledRes" type="createLDUnscheduledResType"/>
	<xs:complexType name="createLDUnscheduledReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDUnscheduledInfoReq"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDUnscheduledResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDUnscheduledInfoRes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDUnscheduledInfoReq" type="LDUnscheduledInfoReqType"/>
	<xs:element name="LDUnscheduledInfoRes" type="LDUnscheduledInfoResType"/>
	<xs:complexType name="LDUnscheduledInfoReqType">
		<xs:sequence>
			<xs:element ref="LendingCommon"/>
			<xs:element ref="LDUnscheduledDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LDUnscheduledInfoResType">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LDCollaterizedDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LimitReference" type="xs:string" minOccurs="0"/>
				<xs:element name="LoanProduct" type="xs:string" minOccurs="0"/>
				<xs:element name="DRAWDOWNACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRateFixed" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestKey" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="AccrualParam" type="xs:string" minOccurs="0"/>
				<xs:element name="Capitalisation" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTInteresAMT" type="xs:string" minOccurs="0"/>
				<xs:element name="LiquidationMode" type="xs:string" minOccurs="0"/>
				<xs:element name="UseDefaultPIRate" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK2" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFPRINACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="COMLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="SECUREDYN" type="xs:string" minOccurs="0"/>
				<xs:element name="FEEPAYACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="OURREMARKS" type="xs:string" minOccurs="0"/>
				<xs:element name="AutoScheds" type="xs:string" minOccurs="0"/>
				<xs:element name="DEFINESCHEDS" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymethodBEGINEND" type="xs:string" minOccurs="0"/>
				<xs:element name="FWDBWDKey" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseDateKey" type="xs:string" minOccurs="0"/>
				<xs:element name="ROUNDINGRULE" type="xs:string" minOccurs="0"/>
				<xs:element name="PortalReferenceNo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLongCollaterizedDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LimitReference" type="xs:string" minOccurs="0"/>
				<xs:element name="LoanProduct" type="xs:string" minOccurs="0"/>
				<xs:element name="DRAWDOWNACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRateFixed" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestKey" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="AccrualParam" type="xs:string" minOccurs="0"/>
				<xs:element name="Capitalisation" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTInteresAMT" type="xs:string" minOccurs="0"/>
				<xs:element name="LiquidationMode" type="xs:string" minOccurs="0"/>
				<xs:element name="UseDefaultPIRate" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK2" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFPRINACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="COMLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="SECUREDYN" type="xs:string" minOccurs="0"/>
				<xs:element name="FEEPAYACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="OURREMARKS" type="xs:string" minOccurs="0"/>
				<xs:element name="AutoScheds" type="xs:string" minOccurs="0"/>
				<xs:element name="DEFINESCHEDS" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymethodBEGINEND" type="xs:string" minOccurs="0"/>
				<xs:element name="FWDBWDKey" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseDateKey" type="xs:string" minOccurs="0"/>
				<xs:element name="ROUNDINGRULE" type="xs:string" minOccurs="0"/>
				<xs:element name="FinalMaturityDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PortalReferenceNo" type="xs:string" minOccurs="0"/>
				<xs:element name="Term" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDDiscountDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LimitReference" type="xs:string" minOccurs="0"/>
				<xs:element name="LoanProduct" type="xs:string" minOccurs="0"/>
				<xs:element name="DRAWDOWNACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRateFixed" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestKey" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="AccrualParam" type="xs:string" minOccurs="0"/>
				<xs:element name="Capitalisation" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTInteresAMT" type="xs:string" minOccurs="0"/>
				<xs:element name="LiquidationMode" type="xs:string" minOccurs="0"/>
				<xs:element name="UseDefaultPIRate" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK2" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFPRINACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="COMLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="SECUREDYN" type="xs:string" minOccurs="0"/>
				<xs:element name="FEEPAYACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="OURREMARKS" type="xs:string" minOccurs="0"/>
				<xs:element name="AutoScheds" type="xs:string" minOccurs="0"/>
				<xs:element name="DEFINESCHEDS" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymethodBEGINEND" type="xs:string" minOccurs="0"/>
				<xs:element name="FWDBWDKey" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseDateKey" type="xs:string" minOccurs="0"/>
				<xs:element name="ROUNDINGRULE" type="xs:string" minOccurs="0"/>
				<xs:element name="BuyBackOption" type="xs:string" minOccurs="0"/>
				<xs:element name="PortalReferenceNo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDShortSpecialDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LimitReference" type="xs:string" minOccurs="0"/>
				<xs:element name="LoanProduct" type="xs:string" minOccurs="0"/>
				<xs:element name="DRAWDOWNACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRateFixed" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestKey" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="AccrualParam" type="xs:string" minOccurs="0"/>
				<xs:element name="Capitalisation" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTInteresAMT" type="xs:string" minOccurs="0"/>
				<xs:element name="LiquidationMode" type="xs:string" minOccurs="0"/>
				<xs:element name="UseDefaultPIRate" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK2" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFPRINACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="COMLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="SECUREDYN" type="xs:string" minOccurs="0"/>
				<xs:element name="FEEPAYACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="OURREMARKS" type="xs:string" minOccurs="0"/>
				<xs:element name="AutoScheds" type="xs:string" minOccurs="0"/>
				<xs:element name="DEFINESCHEDS" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymethodBEGINEND" type="xs:string" minOccurs="0"/>
				<xs:element name="FWDBWDKey" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseDateKey" type="xs:string" minOccurs="0"/>
				<xs:element name="ROUNDINGRULE" type="xs:string" minOccurs="0"/>
				<xs:element name="PortalReferenceNo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDSpecialDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LimitReference" type="xs:string" minOccurs="0"/>
				<xs:element name="LoanProduct" type="xs:string" minOccurs="0"/>
				<xs:element name="DRAWDOWNACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRateFixed" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestKey" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="AccrualParam" type="xs:string" minOccurs="0"/>
				<xs:element name="Capitalisation" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTInteresAMT" type="xs:string" minOccurs="0"/>
				<xs:element name="LiquidationMode" type="xs:string" minOccurs="0"/>
				<xs:element name="UseDefaultPIRate" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK2" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFPRINACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="COMLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="SECUREDYN" type="xs:string" minOccurs="0"/>
				<xs:element name="FEEPAYACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="OURREMARKS" type="xs:string" minOccurs="0"/>
				<xs:element name="AutoScheds" type="xs:string" minOccurs="0"/>
				<xs:element name="DEFINESCHEDS" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymethodBEGINEND" type="xs:string" minOccurs="0"/>
				<xs:element name="FWDBWDKey" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseDateKey" type="xs:string" minOccurs="0"/>
				<xs:element name="ROUNDINGRULE" type="xs:string" minOccurs="0"/>
				<xs:element name="FinalMaturityDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PortalReferenceNo" type="xs:string" minOccurs="0"/>
				<xs:element name="Term" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoansAmendDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LimitReference" type="xs:string" minOccurs="0"/>
				<xs:element name="LoanProduct" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRateFixed" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestKeyFloating" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="LiquidationMode" type="xs:string" minOccurs="0"/>
				<xs:element name="OverdueStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="UseDefaultPIRate" type="xs:string" minOccurs="0"/>
				<xs:element name="SecuredYN" type="xs:string" minOccurs="0"/>
				<xs:element name="AmtIncreaseDecrease" type="xs:string" minOccurs="0"/>
				<xs:element name="EffectiveDate" type="xs:string" minOccurs="0"/>
				<xs:element name="NewInterestRate" type="xs:string" minOccurs="0"/>
				<xs:element name="Ratechangefrom" type="xs:string" minOccurs="0"/>
				<xs:element name="NewSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="NewSpreadEffectiveFrom" type="xs:string" minOccurs="0"/>
				<xs:element name="AutoSchedulesYN" type="xs:string" minOccurs="0"/>
				<xs:element name="DefineSchedulesYN" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="NewCommnRate" type="xs:string" minOccurs="0"/>
				<xs:element name="NewCommissionEffectiveFrom" type="xs:string" minOccurs="0"/>
				<xs:element name="CommissionDueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="Returninterest" type="xs:string" minOccurs="0"/>
				<xs:element name="FwdBwdKey" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseDateKey" type="xs:string" minOccurs="0"/>
				<xs:element name="OnlineEffectiveDate" type="xs:string" minOccurs="0"/>
				<xs:element name="OnlineRepayType" type="xs:string" minOccurs="0"/>
				<xs:element name="OnlineRpyAmt" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoansAmendOnlDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMERREF" type="xs:string" minOccurs="0"/>
				<xs:element name="DRAWDOWNACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRateFixed" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestKeyFloating" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="CHRGCODE1" type="xs:string" minOccurs="0"/>
				<xs:element name="CHRGAMOUNT1" type="xs:string" minOccurs="0"/>
				<xs:element name="CHRGCLAIMDATE1" type="xs:string" minOccurs="0"/>
				<xs:element name="CHRGBOOKEDON1" type="xs:string" minOccurs="0"/>
				<xs:element name="CHRGCAPITALISE1" type="xs:string" minOccurs="0"/>
				<xs:element name="UseDefaultPIRate" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK2" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFPRINACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="COMLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="CHRGLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="AmtIncrease" type="xs:string" minOccurs="0"/>
				<xs:element name="EffectiveDate" type="xs:string" minOccurs="0"/>
				<xs:element name="BKTOBKINFO1" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTREMARKS1" type="xs:string" minOccurs="0"/>
				<xs:element name="ACTIVITY1" type="xs:string" minOccurs="0"/>
				<xs:element name="ADVSENT1" type="xs:string" minOccurs="0"/>
				<xs:element name="SENDPAYMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="SENDCONFIRMATION" type="xs:string" minOccurs="0"/>
				<xs:element name="RepayDate" type="xs:string" minOccurs="0"/>
				<xs:element name="OnlineRepayType" type="xs:string" minOccurs="0"/>
				<xs:element name="OnlineRepayAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="IASCLASSIFICATION" type="xs:string" minOccurs="0"/>
				<xs:element name="IASSUBTYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="MARKETKEY" type="xs:string" minOccurs="0"/>
				<xs:element name="MARKETMARGIN" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDUnscheduledDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMERREF" type="xs:string" minOccurs="0"/>
				<xs:element name="DRAWDOWNACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="OVERDUESTATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINBENBANK2" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFPRINACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTBENBANK1" type="xs:string" minOccurs="0"/>
				<xs:element name="COMLIQACCT" type="xs:string" minOccurs="0"/>
				<xs:element name="FEEPAYACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="AMOUNTINCREASE" type="xs:string" minOccurs="0"/>
				<xs:element name="BKTOBKINFO1" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTREMARKS1" type="xs:string" minOccurs="0"/>
				<xs:element name="OURREMARKS" type="xs:string" minOccurs="0"/>
				<xs:element name="ACTIVITY" type="xs:string" minOccurs="0"/>
				<xs:element name="ADVSENT" type="xs:string" minOccurs="0"/>
				<xs:element name="SENDPAYMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="SENDCONFIRMATION" type="xs:string" minOccurs="0"/>
				<xs:element name="FWDBWDKey" type="xs:string" minOccurs="0"/>
				<xs:element name="BASEDATEKEY" type="xs:string" minOccurs="0"/>
				<xs:element name="IASCLASSIFICATION" type="xs:string" minOccurs="0"/>
				<xs:element name="IASSUBTYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="MARKETKEY" type="xs:string" minOccurs="0"/>
				<xs:element name="MARKETMARGIN" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanPresentDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionRef" type="xs:string" minOccurs="0"/>
				<xs:element name="Customer" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
				<xs:element name="Product" type="xs:string" minOccurs="0"/>
				<xs:element name="Amount" type="xs:string" minOccurs="0"/>
				<xs:element name="ValueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="MaturityDate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanOutstandingDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionRef" type="xs:string" minOccurs="0"/>
				<xs:element name="Product" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
				<xs:element name="TotalAmtDue" type="xs:string" minOccurs="0"/>
				<xs:element name="RepayDate" type="xs:string" minOccurs="0"/>
				<xs:element name="Principal" type="xs:string" minOccurs="0"/>
				<xs:element name="Interest" type="xs:string" minOccurs="0"/>
				<xs:element name="PenaltyInterest" type="xs:string" minOccurs="0"/>
				<xs:element name="PenaltySpread" type="xs:string" minOccurs="0"/>
				<xs:element name="OthersCECS" type="xs:string" minOccurs="0"/>
				<xs:element name="OverdueAmt" type="xs:string" minOccurs="0"/>
				<xs:element name="Days" type="xs:string" minOccurs="0"/>
				<xs:element name="ODStatus" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InquiryLDLoanPresentReq" type="InquiryLDLoanPresentReqType"/>
	<xs:element name="InquiryLDLoanPresentRes" type="InquiryLDLoanPresentResType"/>
	<xs:complexType name="InquiryLDLoanPresentReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDLoanPresentInfoInput"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InquiryLDLoanPresentResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDLoanPresentInfoList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDLoanPresentInfoInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Category" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomerId" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanPresentInfoList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LDLoanPresentInfoDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanPresentInfoDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionRef" type="xs:string" minOccurs="0"/>
				<xs:element name="Customer" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
				<xs:element name="Product" type="xs:string" minOccurs="0"/>
				<xs:element name="Amount" type="xs:string" minOccurs="0"/>
				<xs:element name="ValueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="MaturityDate" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestRate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InquiryLDLoanOutstandingReq" type="InquiryLDLoanOutstandingReqType"/>
	<xs:element name="InquiryLDLoanOutstandingRes" type="InquiryLDLoanOutstandingResType"/>
	<xs:complexType name="InquiryLDLoanOutstandingReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDLoanOutstandingInfoInput"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InquiryLDLoanOutstandingResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDLoanOutstandingInfoList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDLoanOutstandingInfoInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContractId" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomerId" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
				<xs:element name="Category" type="xs:string" minOccurs="0"/>
				<xs:element name="AccountOfficer" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentDteDue" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanOutstandingInfoDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionRef" type="xs:string" minOccurs="0"/>
				<xs:element name="Product" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
				<xs:element name="TotalAmtDue" type="xs:string" minOccurs="0"/>
				<xs:element name="RepayDate" type="xs:string" minOccurs="0"/>
				<xs:element name="Principal" type="xs:string" minOccurs="0"/>
				<xs:element name="Interest" type="xs:string" minOccurs="0"/>
				<xs:element name="PenaltyInterest" type="xs:string" minOccurs="0"/>
				<xs:element name="PenaltySpread" type="xs:string" minOccurs="0"/>
				<xs:element name="OthersCECS" type="xs:string" minOccurs="0"/>
				<xs:element name="OverdueAmt" type="xs:string" minOccurs="0"/>
				<xs:element name="Days" type="xs:string" minOccurs="0"/>
				<xs:element name="ODStatus" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanOutstandingInfoList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LDLoanOutstandingInfoDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InquiryLDLoanMatureReq" type="InquiryLDLoanMatureReqType"/>
	<xs:element name="InquiryLDLoanMatureRes" type="InquiryLDLoanMatureResType"/>
	<xs:complexType name="InquiryLDLoanMatureReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDLoanMatureInfoInput"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InquiryLDLoanMatureResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
				<xs:sequence>
					<xs:element ref="LDLoanMatureInfoList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDLoanMatureInfoInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContractId" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomerId" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
				<xs:element name="Category" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanMatureInfoList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LDLoanMatureInfoDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDLoanMatureInfoDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionRef" type="xs:string" minOccurs="0"/>
				<xs:element name="Customer" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency" type="xs:string" minOccurs="0"/>
				<xs:element name="Product" type="xs:string" minOccurs="0"/>
				<xs:element name="Amount" type="xs:string" minOccurs="0"/>
				<xs:element name="ValueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="MaturityDate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createLDMaturityReq" type="createLDMaturityReqType"/>
	<xs:element name="createLDMaturityRes" type="createLDMaturityResType"/>
	<xs:complexType name="createLDMaturityReqType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
				<xs:sequence>
					<xs:element ref="LDMaturityInfoInput"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="createLDMaturityResType">
		<xs:complexContent>
			<xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LDMaturityInfoInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContractId" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomerId" type="xs:string" minOccurs="0"/>
				<xs:element name="Amount" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>