SG31ESBProject/SharedResource/Schema/Global/Remittance/ReserveRequirement/ReserveRequirement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="schema://www.sbv.gov.vn/schema/global/remittance/ReserveRequirement/ReserveRequirement.xsd" xmlns:tns="http://wsdl.www.sbv.gov.vn/schema/global/remittance/ReserveRequirement/ReserveRequirement.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.www.sbv.gov.vn/schema/global/remittance/ReserveRequirement/ReserveRequirement.wsdl">
    <import namespace="schema://www.sbv.gov.vn/schema/global/remittance/ReserveRequirement/ReserveRequirement.xsd" location="ReserveRequirement.xsd"/>
    <message name="saveRRReportRequest">
        <part name="request" element="ns:saveRRReportRequest"/>
    </message>
    <message name="saveRRReportResponse">
        <part name="response" element="ns:saveRRReportResponse"/>
    </message>
    <message name="getCRRViewRequest">
        <part name="request" element="ns:getCRRViewRequest"/>
    </message>
    <message name="getCRRViewResponse">
        <part name="response" element="ns:getCRRViewResponse"/>
    </message>
    <message name="ENQCRRPaymentAccountRequest">
        <part name="request" element="ns:ENQCRRPaymentAccountRequest"/>
    </message>
    <message name="ENQCRRPaymentAccountResponse">
        <part name="response" element="ns:ENQCRRPaymentAccountResponse"/>
    </message>
    <message name="ENQCRRInterestAccountRequest">
        <part name="request" element="ns:ENQCRRInterestAccountRequest"/>
    </message>
    <message name="ENQCRRInterestAccountResponse">
        <part name="response" element="ns:ENQCRRInterestAccountResponse"/>
    </message>
    <portType name="ReserveRequirement">
        <operation name="SaveRRReport">
            <input message="tns:saveRRReportRequest"/>
            <output message="tns:saveRRReportResponse"/>
        </operation>
        <operation name="getCRRView">
            <input message="tns:getCRRViewRequest"/>
            <output message="tns:getCRRViewResponse"/>
        </operation>
        <operation name="ENQCRRPaymentAccount">
            <input message="tns:ENQCRRPaymentAccountRequest"/>
            <output message="tns:ENQCRRPaymentAccountResponse"/>
        </operation>
        <operation name="ENQCRRInterestAccount">
            <input message="tns:ENQCRRInterestAccountRequest"/>
            <output message="tns:ENQCRRInterestAccountResponse"/>
        </operation>
    </portType>
</definitions>