SG31ESBProject/SharedResource/Schema/Global/System/ReuterDealing/T24Reuter/ReuterToT24.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="schema://www.sbv.gov.vn/schema/global/system/ReuterDealing/ReuterToT24.xsd"
	 xmlns:ESBCommonModel="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/System/ESB/Common/ESBCommonModel.xsd"
	 xmlns:cmd-header="sbv/common/envelope/commonheader/1.0"
	 targetNamespace="schema://www.sbv.gov.vn/schema/global/system/ReuterDealing/ReuterToT24.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:import namespace="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/System/ESB/Common/ESBCommonModel.xsd" schemaLocation="../../ESB/Common/ESBCommonModel.xsd"/>
	<xs:import namespace="sbv/common/envelope/commonheader/1.0" schemaLocation="../../../../Common/Envelope/CommonHeader.xsd"/>
	<xs:element name="ALLSCHEMA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ESBServiceState"/>
				<xs:element ref="ReuterDBModel"/>
				<xs:element ref="UpdateDBModel"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ESBServiceState">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ESBCommonModel:ESBServiceStateType">
					<xs:sequence>
						<xs:element name="InputDate" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReuterDBModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReuterRecord"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReuterRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:string" minOccurs="0"/>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="Err_Msg" type="xs:string" minOccurs="0"/>
				<xs:element name="DealId" type="xs:string" minOccurs="0"/>
				<xs:element name="Processed" type="xs:string" minOccurs="0"/>
				<xs:element name="ProcessedBy" type="xs:string" minOccurs="0"/>
				<xs:element name="ProcessedAt" type="xs:string" minOccurs="0"/>
				<xs:element name="Processed2" type="xs:string" minOccurs="0"/>
				<xs:element name="Processed2By" type="xs:string" minOccurs="0"/>
				<xs:element name="Processed2At" type="xs:string" minOccurs="0"/>
				<xs:element name="LastModifiedBy" type="xs:string" minOccurs="0"/>
				<xs:element name="LastModifiedAt" type="xs:string" minOccurs="0"/>
				<xs:element name="LocalTCID" type="xs:string" minOccurs="0"/>
				<xs:element name="SourceReference" type="xs:string" minOccurs="0"/>
				<xs:element name="TimeOfDeal" type="xs:string" minOccurs="0"/>
				<xs:element name="DealerId" type="xs:string" minOccurs="0"/>
				<xs:element name="PureDealType" type="xs:string" minOccurs="0"/>
				<xs:element name="DealType" type="xs:string" minOccurs="0"/>
				<xs:element name="Bank1DealingCode" type="xs:string" minOccurs="0"/>
				<xs:element name="BrokerDealingCode" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency1" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency2" type="xs:string" minOccurs="0"/>
				<xs:element name="DealVolumeCurrency1" type="xs:string" minOccurs="0"/>
				<xs:element name="ExchangeRatePeriod1" type="xs:string" minOccurs="0"/>
				<xs:element name="ExchangeRatePeriod2" type="xs:string" minOccurs="0"/>
				<xs:element name="MethodOfDeal" type="xs:string" minOccurs="0"/>
				<xs:element name="Period1" type="xs:string" minOccurs="0"/>
				<xs:element name="Period2" type="xs:string" minOccurs="0"/>
				<xs:element name="ConfirmationTime" type="xs:string" minOccurs="0"/>
				<xs:element name="ConfirmedById" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseCurrency" type="xs:string" minOccurs="0"/>
				<xs:element name="Bank1Name" type="xs:string" minOccurs="0"/>
				<xs:element name="DepositRate" type="xs:float" minOccurs="0"/>
				<xs:element name="SwapRate" type="xs:string" minOccurs="0"/>
				<xs:element name="SourceOfData" type="xs:string" minOccurs="0"/>
				<xs:element name="RateDirection" type="xs:string" minOccurs="0"/>
				<xs:element name="ValueDatePeriod1Currency1" type="xs:string" minOccurs="0"/>
				<xs:element name="ValueDatePeriod1Currency2" type="xs:string" minOccurs="0"/>
				<xs:element name="ValueDatePeriod2Currency1" type="xs:string" minOccurs="0"/>
				<xs:element name="ValueDatePeriod2Currency2" type="xs:string" minOccurs="0"/>
				<xs:element name="DealerName" type="xs:string" minOccurs="0"/>
				<xs:element name="ReviewReferenceNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="BrokerName" type="xs:string" minOccurs="0"/>
				<xs:element name="FRAFixingDate" type="xs:string" minOccurs="0"/>
				<xs:element name="FRASettlementDate" type="xs:string" minOccurs="0"/>
				<xs:element name="FRAMaturityDate" type="xs:string" minOccurs="0"/>
				<xs:element name="IMMIndicator" type="xs:string" minOccurs="0"/>
				<xs:element name="OutrightPointsPremiumRate" type="xs:string" minOccurs="0"/>
				<xs:element name="SpotBasisRate" type="xs:string" minOccurs="0"/>
				<xs:element name="ConversationText" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentInstructionP1C1" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentInstructionP1C2" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentInstructionP2C1" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentInstructionP2C2" type="xs:string" minOccurs="0"/>
				<xs:element name="SecondarySourceRef" type="xs:string" minOccurs="0"/>
				<xs:element name="RateC1USD" type="xs:string" minOccurs="0"/>
				<xs:element name="RateC2USD" type="xs:string" minOccurs="0"/>
				<xs:element name="RateBaseCUSD" type="xs:string" minOccurs="0"/>
				<xs:element name="CalVolumeP1C2" type="xs:string" minOccurs="0"/>
				<xs:element name="CalVolumeP2C2" type="xs:string" minOccurs="0"/>
				<xs:element name="CalVolumeP2C1" type="xs:string" minOccurs="0"/>
				<xs:element name="ConfirmedByName" type="xs:string" minOccurs="0"/>
				<xs:element name="CommentText" type="xs:string" minOccurs="0"/>
				<xs:element name="UserDefinedTitle1" type="xs:string" minOccurs="0"/>
				<xs:element name="UserDefinedData1" type="xs:string" minOccurs="0"/>
				<xs:element name="UserDefinedTitle2" type="xs:string" minOccurs="0"/>
				<xs:element name="UserDefinedData2" type="xs:string" minOccurs="0"/>
				<xs:element name="UserDefinedTitle3" type="xs:string" minOccurs="0"/>
				<xs:element name="UserDefinedData3" type="xs:string" minOccurs="0"/>
				<xs:element name="IDifContra" type="xs:string" minOccurs="0"/>
				<xs:element name="IDPrevious" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestVolume" type="xs:string" minOccurs="0"/>
				<xs:element name="ElapsedDays" type="xs:string" minOccurs="0"/>
				<xs:element name="YearLength" type="xs:string" minOccurs="0"/>
				<xs:element name="PriceConvention" type="xs:string" minOccurs="0"/>
				<xs:element name="SwiftBicC1P1" type="xs:string" minOccurs="0"/>
				<xs:element name="SwiftBicC1P2" type="xs:string" minOccurs="0"/>
				<xs:element name="SwiftBicC2P1" type="xs:string" minOccurs="0"/>
				<xs:element name="SwiftBicC2P2" type="xs:string" minOccurs="0"/>
				<xs:element name="CreditReduction" type="xs:string" minOccurs="0"/>
				<xs:element name="CreditRemaining" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseCurrency2" type="xs:string" minOccurs="0"/>
				<xs:element name="BaseCurrency3" type="xs:string" minOccurs="0"/>
				<xs:element name="RateBaseC2USD" type="xs:string" minOccurs="0"/>
				<xs:element name="RateBaseC3USD" type="xs:string" minOccurs="0"/>
				<xs:element name="Scope" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomDealingField1" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomDealingField2" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomDealingField3" type="xs:string" minOccurs="0"/>
				<xs:element name="MidOfficeComment" type="xs:string" minOccurs="0"/>
				<xs:element name="AutoGeneratedTicket" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
				<xs:element name="StartDate" type="xs:string" minOccurs="0"/>
				<xs:element name="EndDate" type="xs:string" minOccurs="0"/>
				<xs:element name="DeliveryDate" type="xs:string" minOccurs="0"/>
				<xs:element name="DeliveryDate2" type="xs:string" minOccurs="0"/>
				<xs:element name="ExpiryDate" type="xs:string" minOccurs="0"/>
				<xs:element name="ExpiryDate2" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentDate" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumDate" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDayBasis" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestDayBasis2" type="xs:string" minOccurs="0"/>
				<xs:element name="Index1" type="xs:string" minOccurs="0"/>
				<xs:element name="Index2" type="xs:string" minOccurs="0"/>
				<xs:element name="ResetFrequency" type="xs:string" minOccurs="0"/>
				<xs:element name="ResetBusinessDayConvention" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentBusinessDayConvention" type="xs:string" minOccurs="0"/>
				<xs:element name="ResetCalendar" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentFrequency" type="xs:string" minOccurs="0"/>
				<xs:element name="SecondaryFrequency" type="xs:string" minOccurs="0"/>
				<xs:element name="StubIndicator" type="xs:string" minOccurs="0"/>
				<xs:element name="StubRate" type="xs:string" minOccurs="0"/>
				<xs:element name="IndexSpread" type="xs:string" minOccurs="0"/>
				<xs:element name="OptionType" type="xs:string" minOccurs="0"/>
				<xs:element name="OptionType2" type="xs:string" minOccurs="0"/>
				<xs:element name="Cutoff" type="xs:string" minOccurs="0"/>
				<xs:element name="Cutoff2" type="xs:string" minOccurs="0"/>
				<xs:element name="ExpiryStyle" type="xs:string" minOccurs="0"/>
				<xs:element name="Direction2" type="xs:string" minOccurs="0"/>
				<xs:element name="TradingStrategy" type="xs:string" minOccurs="0"/>
				<xs:element name="Settlement" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumAmount2" type="xs:string" minOccurs="0"/>
				<xs:element name="Volatility" type="xs:string" minOccurs="0"/>
				<xs:element name="Volatility2" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumQuote" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumQuote2" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumCurrency" type="xs:string" minOccurs="0"/>
				<xs:element name="TotalNetPremiumAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumQuoteConvention" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeDirection" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeDirection2" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeValueDate" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeValueDate2" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeAmount2" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeContraAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeContraAmount2" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeRate" type="xs:string" minOccurs="0"/>
				<xs:element name="HedgeRate2" type="xs:string" minOccurs="0"/>
				<xs:element name="DepositRateReference" type="xs:string" minOccurs="0"/>
				<xs:element name="DepositRateReference2" type="xs:string" minOccurs="0"/>
				<xs:element name="SwapPointsReference" type="xs:string" minOccurs="0"/>
				<xs:element name="SwapPointsReference2" type="xs:string" minOccurs="0"/>
				<xs:element name="FixedRate" type="xs:string" minOccurs="0"/>
				<xs:element name="Bank2Name" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomDealingField4" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomDealingField5" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomDealingField6" type="xs:string" minOccurs="0"/>
				<xs:element name="ClearingHouse" type="xs:string" minOccurs="0"/>
				<xs:element name="OurClearingMember" type="xs:string" minOccurs="0"/>
				<xs:element name="TheirClearingMember" type="xs:string" minOccurs="0"/>
				<xs:element name="OnBehalfOfName" type="xs:string" minOccurs="0"/>
				<xs:element name="OnBehalfOfCode" type="xs:string" minOccurs="0"/>
				<xs:element name="PremiumDate2" type="xs:string" minOccurs="0"/>
				<xs:element name="ClearingAccount" type="xs:string" minOccurs="0"/>
				<xs:element name="BestBid" type="xs:string" minOccurs="0"/>
				<xs:element name="BestAsk" type="xs:string" minOccurs="0"/>
				<xs:element name="OurLEI" type="xs:string" minOccurs="0"/>
				<xs:element name="TheirLEI" type="xs:string" minOccurs="0"/>
				<xs:element name="BrokerageAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="BrokerageCurrency" type="xs:string" minOccurs="0"/>
				<xs:element name="ReportingParty" type="xs:string" minOccurs="0"/>
				<xs:element name="Namespace" type="xs:string" minOccurs="0"/>
				<xs:element name="LinkID" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionID2" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionID3" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionID4" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionIDHedge1" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionIDHedge2" type="xs:string" minOccurs="0"/>
				<xs:element name="TradeRepository" type="xs:string" minOccurs="0"/>
				<xs:element name="MidPrice" type="xs:string" minOccurs="0"/>
				<xs:element name="OurBICCode" type="xs:string" minOccurs="0"/>
				<xs:element name="TheirBICCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ExecutionFacility" type="xs:string" minOccurs="0"/>
				<xs:element name="MidMarketSpotRate" type="xs:string" minOccurs="0"/>
				<xs:element name="MidMarketNearRate" type="xs:string" minOccurs="0"/>
				<xs:element name="MidMarketFarRate" type="xs:string" minOccurs="0"/>
				<xs:element name="MidMarketSwapRate" type="xs:string" minOccurs="0"/>
				<xs:element name="BlockTrade" type="xs:string" minOccurs="0"/>
				<xs:element name="ClearingEligible" type="xs:string" minOccurs="0"/>
				<xs:element name="OurClearExemp" type="xs:string" minOccurs="0"/>
				<xs:element name="TheirClearExemp" type="xs:string" minOccurs="0"/>
				<xs:element name="WeAreUSPerson" type="xs:string" minOccurs="0"/>
				<xs:element name="TheyAreUSPerson" type="xs:string" minOccurs="0"/>
				<xs:element name="OurReportJurisd" type="xs:string" minOccurs="0"/>
				<xs:element name="TheirReportJurisd" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionIDHedge3" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionIDHedge4" type="xs:string" minOccurs="0"/>
				<xs:element name="CPUserID" type="xs:string" minOccurs="0"/>
				<xs:element name="CPUserName" type="xs:string" minOccurs="0"/>
				<xs:element name="TheirClearingAccount" type="xs:string" minOccurs="0"/>
				<xs:element name="UniqueProductID" type="xs:string" minOccurs="0"/>
				<xs:element name="UTI1" type="xs:string" minOccurs="0"/>
				<xs:element name="UTI2" type="xs:string" minOccurs="0"/>
				<xs:element name="Printed" type="xs:string" minOccurs="0"/>
				<xs:element name="OurName" type="xs:string" minOccurs="0"/>
				<xs:element name="Account" type="xs:string" minOccurs="0"/>
				<xs:element name="OurEmailAddress" type="xs:string" minOccurs="0"/>
				<xs:element name="TheirEmailAddress" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateDBModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="err_msg" type="xs:string" minOccurs="0"/>
				<xs:element name="id" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceManage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ESBServiceState" minOccurs="0"/>
				<xs:element ref="cmd-header:AppHdr" minOccurs="0"/>
				<xs:element ref="UpdateDBModel" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>