Production/SG31ESBProject_Prod/SharedResource/Schema/Global/Remittance/CashPosting/CashPosting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.sbv.org.vn/global/remittance/securitiesposting/create/version1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.sbv.gov.vn/global/remittance/securitiesposting/version1.0" xmlns:ns="sbv/global/remittance/securitiesposting/create/version1.0" xmlns:ns3="http://www.sbv.org.vn/global/remittance/securitiesposting/version1.0" xmlns:tns="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0" targetNamespace="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0">
    <import location="CashPosting.xsd" namespace="http://www.sbv.gov.vn/global/remittance/cashposting/version1.0"/>
    <message name="createPostingReq">
        <part element="ns5:createPostingReq" name="Req"/>
    </message>
    <message name="createPostingRes">
        <part element="ns5:createPostingRes" name="Res"/>
    </message>
    <message name="reverseCashPostingReq">
        <part element="tns:reverseCashPostingReq" name="Req"/>
    </message>
    <message name="reverseCashPostingRes">
        <part element="tns:reverseCashPostingRes" name="Res"/>
    </message>
    <portType name="PortType">
        <operation name="createPosting">
            <input message="tns:createPostingReq"/>
            <output message="tns:createPostingRes"/>
        </operation>
        <operation name="reverseCashPosting">
            <input message="tns:reverseCashPostingReq"/>
            <output message="tns:reverseCashPostingRes"/>
        </operation>
    </portType>
</definitions>