UAT/SG31ESBProject_UAT/SharedResource/Schema/Global/System/T24/QueueSchema/CustomerInfo/CustomerInfomationFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/CustomerInformation/CustomerInfomationFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/CustomerInformation/CustomerInfomationFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../Common-EventCommon.xsd"/>
	<xsd:element name="CustomerInfomationFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="previousNameGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="account" minOccurs="0"/>
				<xsd:element ref="accountNo" minOccurs="0"/>
				<xsd:element ref="accountOfficer" minOccurs="0"/>
				<xsd:element ref="phone1Group" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="addressList" minOccurs="0"/>
				<xsd:element ref="allowBulkProcess" minOccurs="0"/>
				<xsd:element ref="altCusIdList" minOccurs="0"/>
				<xsd:element ref="amlCheck" minOccurs="0"/>
				<xsd:element ref="amlResult" minOccurs="0"/>
				<xsd:element ref="employmentStatusGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="assetClass" minOccurs="0"/>
				<xsd:element ref="auditDateTime" minOccurs="0"/>
				<xsd:element ref="auditorCode" minOccurs="0"/>
				<xsd:element ref="authoriser" minOccurs="0"/>
				<xsd:element ref="autoNextKycReviewDate" minOccurs="0"/>
				<xsd:element ref="autoNextSuitReviewDate" minOccurs="0"/>
				<xsd:element ref="birthIncorpDate" minOccurs="0"/>
				<xsd:element ref="busRegPlace" minOccurs="0"/>
				<xsd:element ref="calcRiskClass" minOccurs="0"/>
				<xsd:element ref="cardNo" minOccurs="0"/>
				<xsd:element ref="checkLiab" minOccurs="0"/>
				<xsd:element ref="citadPartDt" minOccurs="0"/>
				<xsd:element ref="clsCparty" minOccurs="0"/>
				<xsd:element ref="coCode" minOccurs="0"/>
				<xsd:element ref="commTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="companyBook" minOccurs="0"/>
				<xsd:element ref="confidTxt" minOccurs="0"/>
				<xsd:element ref="contact" minOccurs="0"/>
				<xsd:element ref="contactDate" minOccurs="0"/>
				<xsd:element ref="countryList" minOccurs="0"/>
				<xsd:element ref="crProfileTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="cuEffDate" minOccurs="0"/>
				<xsd:element ref="currNo" minOccurs="0"/>
				<xsd:element ref="cusFormGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="customerCode" minOccurs="0"/>
				<xsd:element ref="customerLiability" minOccurs="0"/>
				<xsd:element ref="customerNo" minOccurs="0"/>
				<xsd:element ref="customerRatingList" minOccurs="0"/>
				<xsd:element ref="customerRoles" minOccurs="0"/>
				<xsd:element ref="customerSince" minOccurs="0"/>
				<xsd:element ref="customerStatus" minOccurs="0"/>
				<xsd:element ref="customerType" minOccurs="0"/>
				<xsd:element ref="dateLastVerified" minOccurs="0"/>
				<xsd:element ref="dateOfBirth" minOccurs="0"/>
				<xsd:element ref="dateTimeList" minOccurs="0"/>
				<xsd:element ref="deptCode" minOccurs="0"/>
				<xsd:element ref="dispoExempt" minOccurs="0"/>
				<xsd:element ref="dispoOfficer" minOccurs="0"/>
				<xsd:element ref="divDeptList" minOccurs="0"/>
				<xsd:element ref="domicile" minOccurs="0"/>
				<xsd:element ref="economicSector" minOccurs="0"/>
				<xsd:element ref="emailList" minOccurs="0"/>
				<xsd:element ref="externSysIdGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="familyName" minOccurs="0"/>
				<xsd:element ref="fax1List" minOccurs="0"/>
				<xsd:element ref="faxNoList" minOccurs="0"/>
				<xsd:element ref="formerVisTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="furtherDetailsList" minOccurs="0"/>
				<xsd:element ref="fxCommGroupId" minOccurs="0"/>
				<xsd:element ref="gender" minOccurs="0"/>
				<xsd:element ref="givenNames" minOccurs="0"/>
				<xsd:element ref="globalCustomer" minOccurs="0"/>
				<xsd:element ref="hoAddress" minOccurs="0"/>
				<xsd:element ref="holdingsPivotList" minOccurs="0"/>
				<xsd:element ref="ibpsNumber" minOccurs="0"/>
				<xsd:element ref="includeImage" minOccurs="0"/>
				<xsd:element ref="industry" minOccurs="0"/>
				<xsd:element ref="inputterList" minOccurs="0"/>
				<xsd:element ref="interestsList" minOccurs="0"/>
				<xsd:element ref="internetBankingService" minOccurs="0"/>
				<xsd:element ref="introducer" minOccurs="0"/>
				<xsd:element ref="issueCheques" minOccurs="0"/>
				<xsd:element ref="kycComplete" minOccurs="0"/>
				<xsd:element ref="kycRelationship" minOccurs="0"/>
				<xsd:element ref="language" minOccurs="0"/>
				<xsd:element ref="lastAmlResultDate" minOccurs="0"/>
				<xsd:element ref="lastDateTime" minOccurs="0"/>
				<xsd:element ref="lastKycReviewDate" minOccurs="0"/>
				<xsd:element ref="lastSuitReviewDate" minOccurs="0"/>
				<xsd:element ref="legalIdGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="legalIdDocNameList" minOccurs="0"/>
				<xsd:element ref="licenceNo1" minOccurs="0"/>
				<xsd:element ref="localRefList" minOccurs="0"/>
				<xsd:element ref="mandateApplGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="manualNextKycReviewDate" minOccurs="0"/>
				<xsd:element ref="manualNextSuitReviewDate" minOccurs="0"/>
				<xsd:element ref="manualRiskClass" minOccurs="0"/>
				<xsd:element ref="maritalStatus" minOccurs="0"/>
				<xsd:element ref="mergedStatus" minOccurs="0"/>
				<xsd:element ref="mergedTo" minOccurs="0"/>
				<xsd:element ref="mnemonic" minOccurs="0"/>
				<xsd:element ref="mobileBankingService" minOccurs="0"/>
				<xsd:element ref="residenceStatusGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="name1List" minOccurs="0"/>
				<xsd:element ref="name2List" minOccurs="0"/>
				<xsd:element ref="nameAddress" minOccurs="0"/>
				<xsd:element ref="nationality" minOccurs="0"/>
				<xsd:element ref="netMonthlyIn" minOccurs="0"/>
				<xsd:element ref="netMonthlyOut" minOccurs="0"/>
				<xsd:element ref="noOfDependents" minOccurs="0"/>
				<xsd:element ref="noUpdateCrm" minOccurs="0"/>
				<xsd:element ref="offPhoneList" minOccurs="0"/>
				<xsd:element ref="officeAddress" minOccurs="0"/>
				<xsd:element ref="otherFinRelGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="otherNationalityList" minOccurs="0"/>
				<xsd:element ref="otherOfficerList" minOccurs="0"/>
				<xsd:element ref="overrideList" minOccurs="0"/>
				<xsd:element ref="overrideReason" minOccurs="0"/>
				<xsd:element ref="pastimesList" minOccurs="0"/>
				<xsd:element ref="personEntityId" minOccurs="0"/>
				<xsd:element ref="phoneNoList" minOccurs="0"/>
				<xsd:element ref="portfolioNo" minOccurs="0"/>
				<xsd:element ref="postCodeList" minOccurs="0"/>
				<xsd:element ref="postingRestrictList" minOccurs="0"/>
				<xsd:element ref="recordStatus" minOccurs="0"/>
				<xsd:element ref="regCountry" minOccurs="0"/>
				<xsd:element ref="region" minOccurs="0"/>
				<xsd:element ref="relationCodeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="remarksList" minOccurs="0"/>
				<xsd:element ref="reportTemplate" minOccurs="0"/>
				<xsd:element ref="residence" minOccurs="0"/>
				<xsd:element ref="residenceRegion" minOccurs="0"/>
				<xsd:element ref="reutersCode" minOccurs="0"/>
				<xsd:element ref="reviewFrequency" minOccurs="0"/>
				<xsd:element ref="riskAssetTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="rmaExchange" minOccurs="0"/>
				<xsd:element ref="sector" minOccurs="0"/>
				<xsd:element ref="sectorName" minOccurs="0"/>
				<xsd:element ref="secureMessage" minOccurs="0"/>
				<xsd:element ref="segment" minOccurs="0"/>
				<xsd:element ref="shortNameList" minOccurs="0"/>
				<xsd:element ref="socialNtwIdsList" minOccurs="0"/>
				<xsd:element ref="spokenLanguageList" minOccurs="0"/>
				<xsd:element ref="streetList" minOccurs="0"/>
				<xsd:element ref="target" minOccurs="0"/>
				<xsd:element ref="taxIdList" minOccurs="0"/>
				<xsd:element ref="textList" minOccurs="0"/>
				<xsd:element ref="titleNoList" minOccurs="0"/>
				<xsd:element ref="townCountryList" minOccurs="0"/>
				<xsd:element ref="transTimeZone" minOccurs="0"/>
				<xsd:element ref="visTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="vsdCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="previousNameGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="previousName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="changeDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="changeReason" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="id" type="xsd:decimal"/>
	<xsd:element name="account" type="xsd:string"/>
	<xsd:element name="accountNo" type="xsd:string"/>
	<xsd:element name="accountOfficer" type="xsd:string"/>
	<xsd:element name="phone1Group">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="phone1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sms1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="email1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="addrLocation" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="addressList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="address" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="allowBulkProcess" type="xsd:string"/>
	<xsd:element name="altCusIdList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="altCusId" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="amlCheck" type="xsd:string"/>
	<xsd:element name="amlResult" type="xsd:string"/>
	<xsd:element name="employmentStatusGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="employmentStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="occupation" type="xsd:string" minOccurs="0"/>
				<xsd:element name="jobTitle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="employersName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="employersAddList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="employersAdd" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="index" type="xsd:integer"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="employersBuss" type="xsd:string" minOccurs="0"/>
				<xsd:element name="employmentStart" type="xsd:date" minOccurs="0"/>
				<xsd:element name="customerCurrency" type="xsd:string" minOccurs="0"/>
				<xsd:element name="salary" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="annualBonus" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="salaryDateFreq" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="assetClass" type="xsd:string"/>
	<xsd:element name="auditDateTime" type="xsd:string"/>
	<xsd:element name="auditorCode" type="xsd:string"/>
	<xsd:element name="authoriser" type="xsd:string"/>
	<xsd:element name="autoNextKycReviewDate" type="xsd:date"/>
	<xsd:element name="autoNextSuitReviewDate" type="xsd:date"/>
	<xsd:element name="birthIncorpDate" type="xsd:date"/>
	<xsd:element name="busRegPlace" type="xsd:string"/>
	<xsd:element name="calcRiskClass" type="xsd:string"/>
	<xsd:element name="cardNo" type="xsd:string"/>
	<xsd:element name="checkLiab" type="xsd:string"/>
	<xsd:element name="citadPartDt" type="xsd:date"/>
	<xsd:element name="clsCparty" type="xsd:string"/>
	<xsd:element name="coCode" type="xsd:string"/>
	<xsd:element name="commTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="commType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="prefChannel" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="companyBook" type="xsd:string"/>
	<xsd:element name="confidTxt" type="xsd:string"/>
	<xsd:element name="contact" type="xsd:string"/>
	<xsd:element name="contactDate" type="xsd:date"/>
	<xsd:element name="countryList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="country" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="crProfileTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="crProfileType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crProfile" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cuEffDate" type="xsd:date"/>
	<xsd:element name="currNo" type="xsd:string"/>
	<xsd:element name="cusFormGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cusFormSubGroup" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="cusForm" type="xsd:string" minOccurs="0"/>
							<xsd:element name="cusNote" type="xsd:string" minOccurs="0"/>
							<xsd:element name="cusBooking" type="xsd:string" minOccurs="0"/>
							<xsd:element name="cusTrading" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="index" type="xsd:integer"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="customerCode" type="xsd:decimal"/>
	<xsd:element name="customerLiability" type="xsd:decimal"/>
	<xsd:element name="customerNo" type="xsd:decimal"/>
	<xsd:element name="customerRatingList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="customerRating" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="customerRoles" type="xsd:string"/>
	<xsd:element name="customerSince" type="xsd:date"/>
	<xsd:element name="customerStatus" type="xsd:string"/>
	<xsd:element name="customerType" type="xsd:string"/>
	<xsd:element name="dateLastVerified" type="xsd:string"/>
	<xsd:element name="dateOfBirth" type="xsd:date"/>
	<xsd:element name="dateTimeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dateTime" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="deptCode" type="xsd:string"/>
	<xsd:element name="dispoExempt" type="xsd:string"/>
	<xsd:element name="dispoOfficer" type="xsd:string"/>
	<xsd:element name="divDeptList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="divDept" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="domicile" type="xsd:string"/>
	<xsd:element name="economicSector" type="xsd:string"/>
	<xsd:element name="emailList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="email" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="externSysIdGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="externSysId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="externCusId" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="familyName" type="xsd:string"/>
	<xsd:element name="fax1List">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="fax1" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="faxNoList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="faxNo" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="formerVisTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="formerVisType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="formerVisCommentList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="formerVisComment" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="index" type="xsd:integer"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="furtherDetailsList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="furtherDetails" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fxCommGroupId" type="xsd:string"/>
	<xsd:element name="gender" type="xsd:string"/>
	<xsd:element name="givenNames" type="xsd:string"/>
	<xsd:element name="globalCustomer" type="xsd:string"/>
	<xsd:element name="hoAddress" type="xsd:string"/>
	<xsd:element name="holdingsPivotList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="holdingsPivot" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ibpsNumber" type="xsd:string"/>
	<xsd:element name="includeImage" type="xsd:string"/>
	<xsd:element name="industry" type="xsd:string"/>
	<xsd:element name="inputterList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="inputter" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="interestsList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="interests" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="internetBankingService" type="xsd:string"/>
	<xsd:element name="introducer" type="xsd:string"/>
	<xsd:element name="issueCheques" type="xsd:string"/>
	<xsd:element name="kycComplete" type="xsd:string"/>
	<xsd:element name="kycRelationship" type="xsd:string"/>
	<xsd:element name="language" type="xsd:string"/>
	<xsd:element name="lastAmlResultDate" type="xsd:date"/>
	<xsd:element name="lastDateTime" type="xsd:string"/>
	<xsd:element name="lastKycReviewDate" type="xsd:date"/>
	<xsd:element name="lastSuitReviewDate" type="xsd:date"/>
	<xsd:element name="legalIdGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="legalId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="legalDocName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="legalHolderName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="legalIssAuth" type="xsd:string" minOccurs="0"/>
				<xsd:element name="legalIssDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="legalExpDate" type="xsd:date" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="legalIdDocNameList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="legalIdDocName" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="licenceNo1" type="xsd:string"/>
	<xsd:element name="localRefList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="localRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="mandateApplGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="mandateAppl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mandateReg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mandateRecord" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="manualNextKycReviewDate" type="xsd:date"/>
	<xsd:element name="manualNextSuitReviewDate" type="xsd:date"/>
	<xsd:element name="manualRiskClass" type="xsd:string"/>
	<xsd:element name="maritalStatus" type="xsd:string"/>
	<xsd:element name="mergedStatus" type="xsd:string"/>
	<xsd:element name="mergedTo" type="xsd:string"/>
	<xsd:element name="mnemonic" type="xsd:string"/>
	<xsd:element name="mobileBankingService" type="xsd:string"/>
	<xsd:element name="residenceStatusGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="residenceStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="residenceType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="residenceSince" type="xsd:date" minOccurs="0"/>
				<xsd:element name="residenceValue" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="mortgageAmt" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="name1List">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name1" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="name2List">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name2" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="nameAddress" type="xsd:string"/>
	<xsd:element name="nationality" type="xsd:string"/>
	<xsd:element name="netMonthlyIn" type="xsd:decimal"/>
	<xsd:element name="netMonthlyOut" type="xsd:decimal"/>
	<xsd:element name="noOfDependents" type="xsd:string"/>
	<xsd:element name="noUpdateCrm" type="xsd:string"/>
	<xsd:element name="offPhoneList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="offPhone" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="officeAddress" type="xsd:string"/>
	<xsd:element name="otherFinRelGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="otherFinRel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="otherFinInst" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="otherNationalityList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="otherNationality" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="otherOfficerList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="otherOfficer" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="overrideList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="override" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="overrideReason" type="xsd:string"/>
	<xsd:element name="pastimesList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pastimes" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="personEntityId" type="xsd:string"/>
	<xsd:element name="phoneNoList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="phoneNo" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="portfolioNo" type="xsd:string"/>
	<xsd:element name="postCodeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="postCode" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="postingRestrictList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="postingRestrict" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="recordStatus" type="xsd:string"/>
	<xsd:element name="regCountry" type="xsd:string"/>
	<xsd:element name="region" type="xsd:string"/>
	<xsd:element name="relationCodeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="relationCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="relCustomer" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="reversRelCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="relDelivOptSubGroup" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="relDelivOpt" type="xsd:string" minOccurs="0"/>
							<xsd:element name="role" type="xsd:string" minOccurs="0"/>
							<xsd:element name="roleMoreInfo" type="xsd:string" minOccurs="0"/>
							<xsd:element name="roleNotes" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="index" type="xsd:integer"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="remarksList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="remarks" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="reportTemplate" type="xsd:string"/>
	<xsd:element name="residence" type="xsd:string"/>
	<xsd:element name="residenceRegion" type="xsd:string"/>
	<xsd:element name="reutersCode" type="xsd:string"/>
	<xsd:element name="reviewFrequency" type="xsd:string"/>
	<xsd:element name="riskAssetTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="riskAssetType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="riskLevel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="riskTolerance" type="xsd:string" minOccurs="0"/>
				<xsd:element name="riskFromDate" type="xsd:date" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="rmaExchange" type="xsd:string"/>
	<xsd:element name="sector" type="xsd:string"/>
	<xsd:element name="sectorName" type="xsd:string"/>
	<xsd:element name="secureMessage" type="xsd:string"/>
	<xsd:element name="segment" type="xsd:string"/>
	<xsd:element name="shortNameList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="shortName" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="socialNtwIdsList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="socialNtwIds" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="spokenLanguageList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="spokenLanguage" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="streetList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="street" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="target" type="xsd:string"/>
	<xsd:element name="taxIdList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="taxId" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="textList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="text" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="titleNoList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="titleNo" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="townCountryList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="townCountry" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="transTimeZone" type="xsd:string"/>
	<xsd:element name="visTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="visType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="visCommentList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="visComment" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="index" type="xsd:integer"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="visInternalReviewList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="visInternalReview" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="index" type="xsd:integer"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="vsdCode" type="xsd:string"/>
</xsd:schema>