SG31ESBProject/SharedResource/Schema/Global/System/T24/FTReconcile/FTReconcileConvert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:ns0="http://services.fis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.fis.com/">
    <xsd:complexType name="convertNettingResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="convertHVs"/>
    <xsd:complexType name="convertHVsResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="convertNetting"/>
    <xsd:element name="convertNettingResponse" type="ns0:convertNettingResponse"/>
    <xsd:element name="convertHVs" type="ns0:convertHVs"/>
    <xsd:element name="convertHVsResponse" type="ns0:convertHVsResponse"/>
    <xsd:element name="convertNetting" type="ns0:convertNetting"/>
</xsd:schema>