SG31ESBProject/SharedResource/Schema/Global/Remittance/FTFeeInterest/FTFeeInterest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/FTFeeInterest/Schema.xsd" xmlns:tns="http://xmlns.example.com/1478571413062" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1478571413062">
    <import namespace="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/FTFeeInterest/Schema.xsd" location="FTFeeInterest.xsd"/>
    <message name="createFTFeeInterestReq">
        <part name="Req" element="ns:createFTFeeInterestReq"/>
    </message>
    <message name="createFTFeeInterestRes">
        <part name="Res" element="ns:createFTFeeInterestRes"/>
    </message>
    <message name="createUSDFTFeeInterestReq">
        <part name="Req" element="ns:createUSDFTFeeInterestReq"/>
    </message>
    <message name="createUSDFTFeeInterestRes">
        <part name="Res" element="ns:createUSDFTFeeInterestRes"/>
    </message>
    <message name="reverseFTFeeInterestReq">
        <part name="Req" element="ns:reverseFTFeeInterestReq"/>
    </message>
    <message name="reverseFTFeeInterestRes">
        <part name="Res" element="ns:reverseFTFeeInterestRes"/>
    </message>
    <portType name="PortType">
        <operation name="createFTFeeInterest">
            <input message="tns:createFTFeeInterestReq"/>
            <output message="tns:createFTFeeInterestRes"/>
        </operation>
        <operation name="createUSDFTFeeInterest">
            <input message="tns:createUSDFTFeeInterestReq"/>
            <output message="tns:createUSDFTFeeInterestRes"/>
        </operation>
        <operation name="reverseFTFeeInterest">
            <input message="tns:reverseFTFeeInterestReq"/>
            <output message="tns:reverseFTFeeInterestRes"/>
        </operation>
    </portType>
</definitions>