SG31ESBProject/SharedResource/Schema/Global/System/T24/TTBTDT/BTCTPosting/SBV.FT.TTBT.PAYMENT.WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS">
    <import namespace="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS" location="SBV.FT.TTBT.PAYMENT.WS_xsd1.xsd"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS" schemaLocation="SBV.FT.TTBT.PAYMENT.WS_xsd1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="SBV.FT.TTBT.PAYMENT.WS_xsd2.xsd"/>
        </xsd:schema>
    </types>
    <message name="SettleTTBT">
        <part name="parameters" element="tns:SettleTTBT"/>
    </message>
    <message name="SettleTTBTResponse">
        <part element="tns:SettleTTBTResponse" name="parameters"/>
    </message>
    <message name="SettleTTBT_Validate">
        <part element="tns:SettleTTBT_Validate" name="parameters"/>
    </message>
    <message name="SettleTTBT_ValidateResponse">
        <part element="tns:SettleTTBT_ValidateResponse" name="parameters"/>
    </message>
    <message name="TTBTCheckBalance">
        <part element="tns:TTBTCheckBalance" name="parameters"/>
    </message>
    <message name="TTBTCheckBalanceResponse">
        <part element="tns:TTBTCheckBalanceResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="SettleTTBT">
            <input message="tns:SettleTTBT" wsam:Action="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS/T24WebServicesImpl/SettleTTBTRequest"/>
            <output message="tns:SettleTTBTResponse" wsam:Action="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS/T24WebServicesImpl/SettleTTBTResponse"/>
        </operation>
        <operation name="SettleTTBT_Validate">
            <input message="tns:SettleTTBT_Validate" wsam:Action="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS/T24WebServicesImpl/SettleTTBT_ValidateRequest"/>
            <output message="tns:SettleTTBT_ValidateResponse" wsam:Action="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS/T24WebServicesImpl/SettleTTBT_ValidateResponse"/>
        </operation>
        <operation name="TTBTCheckBalance">
            <input message="tns:TTBTCheckBalance" wsam:Action="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS/T24WebServicesImpl/TTBTCheckBalanceRequest"/>
            <output message="tns:TTBTCheckBalanceResponse" wsam:Action="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS/T24WebServicesImpl/TTBTCheckBalanceResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SettleTTBT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SettleTTBT_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TTBTCheckBalance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.1.21.170:7022/SBV.FT.TTBT.PAYMENT.WS/services"/>
        </port>
    </service>
</definitions>