SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.INTE.T24.PORTAL.TT01/SBV.INTE.T24.PORTAL.TT01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. 
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS">
    <import namespace="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS" location="SBV.INTE.T24.PORTAL.TT01_xsd1.xsd"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS" schemaLocation="http://10.1.26.8:7028/SBV.INTE.T24.PORTAL.TT01.WS/services?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.1.26.8:7028/SBV.INTE.T24.PORTAL.TT01.WS/services?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="FTReverseFeeInterestUSD">
        <part element="tns:FTReverseFeeInterestUSD" name="parameters"/>
    </message>
    <message name="FTReverseFeeInterestUSDResponse">
        <part element="tns:FTReverseFeeInterestUSDResponse" name="parameters"/>
    </message>
    <message name="FXProposalInput">
        <part element="tns:FXProposalInput" name="parameters"/>
    </message>
    <message name="FXProposalInputResponse">
        <part element="tns:FXProposalInputResponse" name="parameters"/>
    </message>
    <message name="FXProposalInput_Validate">
        <part element="tns:FXProposalInput_Validate" name="parameters"/>
    </message>
    <message name="FXProposalInput_ValidateResponse">
        <part element="tns:FXProposalInput_ValidateResponse" name="parameters"/>
    </message>
    <message name="SCBuyOwnBook">
        <part element="tns:SCBuyOwnBook" name="parameters"/>
    </message>
    <message name="SCBuyOwnBookResponse">
        <part element="tns:SCBuyOwnBookResponse" name="parameters"/>
    </message>
    <message name="SCBuyOwnBook_Validate">
        <part element="tns:SCBuyOwnBook_Validate" name="parameters"/>
    </message>
    <message name="SCBuyOwnBook_ValidateResponse">
        <part element="tns:SCBuyOwnBook_ValidateResponse" name="parameters"/>
    </message>
    <message name="GetSTMTToday">
        <part element="tns:GetSTMTToday" name="parameters"/>
    </message>
    <message name="GetSTMTTodayResponse">
        <part element="tns:GetSTMTTodayResponse" name="parameters"/>
    </message>
    <message name="MMNewPlacement">
        <part element="tns:MMNewPlacement" name="parameters"/>
    </message>
    <message name="MMNewPlacementResponse">
        <part element="tns:MMNewPlacementResponse" name="parameters"/>
    </message>
    <message name="MMNewPlacement_Validate">
        <part element="tns:MMNewPlacement_Validate" name="parameters"/>
    </message>
    <message name="MMNewPlacement_ValidateResponse">
        <part element="tns:MMNewPlacement_ValidateResponse" name="parameters"/>
    </message>
    <message name="FTNostroAccountsOT03">
        <part name="parameters" element="tns:FTNostroAccountsOT03"/>
    </message>
    <message name="FTNostroAccountsOT03Response">
        <part element="tns:FTNostroAccountsOT03Response" name="parameters"/>
    </message>
    <message name="FTNostroAccountsOT03_Validate">
        <part element="tns:FTNostroAccountsOT03_Validate" name="parameters"/>
    </message>
    <message name="FTNostroAccountsOT03_ValidateResponse">
        <part element="tns:FTNostroAccountsOT03_ValidateResponse" name="parameters"/>
    </message>
    <message name="FTNostroAccountsOT22">
        <part element="tns:FTNostroAccountsOT22" name="parameters"/>
    </message>
    <message name="FTNostroAccountsOT22Response">
        <part element="tns:FTNostroAccountsOT22Response" name="parameters"/>
    </message>
    <message name="FTNostroAccountsOT22_Validate">
        <part element="tns:FTNostroAccountsOT22_Validate" name="parameters"/>
    </message>
    <message name="FTNostroAccountsOT22_ValidateResponse">
        <part element="tns:FTNostroAccountsOT22_ValidateResponse" name="parameters"/>
    </message>
    <message name="FTFeeInterest">
        <part element="tns:FTFeeInterest" name="parameters"/>
    </message>
    <message name="FTFeeInterestResponse">
        <part element="tns:FTFeeInterestResponse" name="parameters"/>
    </message>
    <message name="FTFeeInterest_Validate">
        <part element="tns:FTFeeInterest_Validate" name="parameters"/>
    </message>
    <message name="FTFeeInterest_ValidateResponse">
        <part element="tns:FTFeeInterest_ValidateResponse" name="parameters"/>
    </message>
    <message name="FTFeeInterestUSD">
        <part element="tns:FTFeeInterestUSD" name="parameters"/>
    </message>
    <message name="FTFeeInterestUSDResponse">
        <part element="tns:FTFeeInterestUSDResponse" name="parameters"/>
    </message>
    <message name="FTFeeInterestUSD_Validate">
        <part element="tns:FTFeeInterestUSD_Validate" name="parameters"/>
    </message>
    <message name="FTFeeInterestUSD_ValidateResponse">
        <part element="tns:FTFeeInterestUSD_ValidateResponse" name="parameters"/>
    </message>
    <message name="MMLiquidation">
        <part element="tns:MMLiquidation" name="parameters"/>
    </message>
    <message name="MMLiquidationResponse">
        <part element="tns:MMLiquidationResponse" name="parameters"/>
    </message>
    <message name="MMLiquidation_Validate">
        <part element="tns:MMLiquidation_Validate" name="parameters"/>
    </message>
    <message name="MMLiquidation_ValidateResponse">
        <part element="tns:MMLiquidation_ValidateResponse" name="parameters"/>
    </message>
    <message name="FTNostroAccount">
        <part element="tns:FTNostroAccount" name="parameters"/>
    </message>
    <message name="FTNostroAccountResponse">
        <part element="tns:FTNostroAccountResponse" name="parameters"/>
    </message>
    <message name="FTNostroAccount_Validate">
        <part element="tns:FTNostroAccount_Validate" name="parameters"/>
    </message>
    <message name="FTNostroAccount_ValidateResponse">
        <part element="tns:FTNostroAccount_ValidateResponse" name="parameters"/>
    </message>
    <message name="FXPaymentInstruction">
        <part element="tns:FXPaymentInstruction" name="parameters"/>
    </message>
    <message name="FXPaymentInstructionResponse">
        <part element="tns:FXPaymentInstructionResponse" name="parameters"/>
    </message>
    <message name="MMTotalAmount">
        <part element="tns:MMTotalAmount" name="parameters"/>
    </message>
    <message name="MMTotalAmountResponse">
        <part element="tns:MMTotalAmountResponse" name="parameters"/>
    </message>
    <message name="FMShowConvert">
        <part element="tns:FMShowConvert" name="parameters"/>
    </message>
    <message name="FMShowConvertResponse">
        <part element="tns:FMShowConvertResponse" name="parameters"/>
    </message>
    <message name="SCSecurityMaster">
        <part element="tns:SCSecurityMaster" name="parameters"/>
    </message>
    <message name="SCSecurityMasterResponse">
        <part element="tns:SCSecurityMasterResponse" name="parameters"/>
    </message>
    <message name="ERPCheckRef">
        <part element="tns:ERPCheckRef" name="parameters"/>
    </message>
    <message name="ERPCheckRefResponse">
        <part element="tns:ERPCheckRefResponse" name="parameters"/>
    </message>
    <message name="SCChangeInvestmentPortfolio">
        <part element="tns:SCChangeInvestmentPortfolio" name="parameters"/>
    </message>
    <message name="SCChangeInvestmentPortfolioResponse">
        <part element="tns:SCChangeInvestmentPortfolioResponse" name="parameters"/>
    </message>
    <message name="SCChangeInvestmentPortfolio_Validate">
        <part element="tns:SCChangeInvestmentPortfolio_Validate" name="parameters"/>
    </message>
    <message name="SCChangeInvestmentPortfolio_ValidateResponse">
        <part element="tns:SCChangeInvestmentPortfolio_ValidateResponse" name="parameters"/>
    </message>
    <message name="SCBrokerList">
        <part element="tns:SCBrokerList" name="parameters"/>
    </message>
    <message name="SCBrokerListResponse">
        <part element="tns:SCBrokerListResponse" name="parameters"/>
    </message>
    <message name="FTRevserseFeeInterest">
        <part element="tns:FTRevserseFeeInterest" name="parameters"/>
    </message>
    <message name="FTRevserseFeeInterestResponse">
        <part element="tns:FTRevserseFeeInterestResponse" name="parameters"/>
    </message>
    <message name="SCCreateSecurityMaster">
        <part element="tns:SCCreateSecurityMaster" name="parameters"/>
    </message>
    <message name="SCCreateSecurityMasterResponse">
        <part element="tns:SCCreateSecurityMasterResponse" name="parameters"/>
    </message>
    <message name="SCCreateSecurityMaster_Validate">
        <part element="tns:SCCreateSecurityMaster_Validate" name="parameters"/>
    </message>
    <message name="SCCreateSecurityMaster_ValidateResponse">
        <part element="tns:SCCreateSecurityMaster_ValidateResponse" name="parameters"/>
    </message>
    <message name="SCCustomerSecurity">
        <part element="tns:SCCustomerSecurity" name="parameters"/>
    </message>
    <message name="SCCustomerSecurityResponse">
        <part element="tns:SCCustomerSecurityResponse" name="parameters"/>
    </message>
    <message name="FMConvert">
        <part element="tns:FMConvert" name="parameters"/>
    </message>
    <message name="FMConvertResponse">
        <part element="tns:FMConvertResponse" name="parameters"/>
    </message>
    <message name="FMConvert_Validate">
        <part element="tns:FMConvert_Validate" name="parameters"/>
    </message>
    <message name="FMConvert_ValidateResponse">
        <part element="tns:FMConvert_ValidateResponse" name="parameters"/>
    </message>
    <message name="MMRollover">
        <part element="tns:MMRollover" name="parameters"/>
    </message>
    <message name="MMRolloverResponse">
        <part element="tns:MMRolloverResponse" name="parameters"/>
    </message>
    <message name="MMRollover_Validate">
        <part element="tns:MMRollover_Validate" name="parameters"/>
    </message>
    <message name="MMRollover_ValidateResponse">
        <part element="tns:MMRollover_ValidateResponse" name="parameters"/>
    </message>
    <message name="SCSellOwnBook">
        <part element="tns:SCSellOwnBook" name="parameters"/>
    </message>
    <message name="SCSellOwnBookResponse">
        <part element="tns:SCSellOwnBookResponse" name="parameters"/>
    </message>
    <message name="SCSellOwnBook_Validate">
        <part element="tns:SCSellOwnBook_Validate" name="parameters"/>
    </message>
    <message name="SCSellOwnBook_ValidateResponse">
        <part element="tns:SCSellOwnBook_ValidateResponse" name="parameters"/>
    </message>
    <message name="SCDetailSecTradeView">
        <part element="tns:SCDetailSecTradeView" name="parameters"/>
    </message>
    <message name="SCDetailSecTradeViewResponse">
        <part element="tns:SCDetailSecTradeViewResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="FTReverseFeeInterestUSD">
            <input message="tns:FTReverseFeeInterestUSD" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTReverseFeeInterestUSDRequest"/>
            <output message="tns:FTReverseFeeInterestUSDResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTReverseFeeInterestUSDResponse"/>
        </operation>
        <operation name="FXProposalInput">
            <input message="tns:FXProposalInput" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FXProposalInputRequest"/>
            <output message="tns:FXProposalInputResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FXProposalInputResponse"/>
        </operation>
        <operation name="FXProposalInput_Validate">
            <input message="tns:FXProposalInput_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FXProposalInput_ValidateRequest"/>
            <output message="tns:FXProposalInput_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FXProposalInput_ValidateResponse"/>
        </operation>
        <operation name="SCBuyOwnBook">
            <input message="tns:SCBuyOwnBook" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCBuyOwnBookRequest"/>
            <output message="tns:SCBuyOwnBookResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCBuyOwnBookResponse"/>
        </operation>
        <operation name="SCBuyOwnBook_Validate">
            <input message="tns:SCBuyOwnBook_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCBuyOwnBook_ValidateRequest"/>
            <output message="tns:SCBuyOwnBook_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCBuyOwnBook_ValidateResponse"/>
        </operation>
        <operation name="GetSTMTToday">
            <input message="tns:GetSTMTToday" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/GetSTMTTodayRequest"/>
            <output message="tns:GetSTMTTodayResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/GetSTMTTodayResponse"/>
        </operation>
        <operation name="MMNewPlacement">
            <input message="tns:MMNewPlacement" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMNewPlacementRequest"/>
            <output message="tns:MMNewPlacementResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMNewPlacementResponse"/>
        </operation>
        <operation name="MMNewPlacement_Validate">
            <input message="tns:MMNewPlacement_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMNewPlacement_ValidateRequest"/>
            <output message="tns:MMNewPlacement_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMNewPlacement_ValidateResponse"/>
        </operation>
        <operation name="FTNostroAccountsOT03">
            <input message="tns:FTNostroAccountsOT03" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT03Request"/>
            <output message="tns:FTNostroAccountsOT03Response" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT03Response"/>
        </operation>
        <operation name="FTNostroAccountsOT03_Validate">
            <input message="tns:FTNostroAccountsOT03_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT03_ValidateRequest"/>
            <output message="tns:FTNostroAccountsOT03_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT03_ValidateResponse"/>
        </operation>
        <operation name="FTNostroAccountsOT22">
            <input message="tns:FTNostroAccountsOT22" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT22Request"/>
            <output message="tns:FTNostroAccountsOT22Response" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT22Response"/>
        </operation>
        <operation name="FTNostroAccountsOT22_Validate">
            <input message="tns:FTNostroAccountsOT22_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT22_ValidateRequest"/>
            <output message="tns:FTNostroAccountsOT22_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountsOT22_ValidateResponse"/>
        </operation>
        <operation name="FTFeeInterest">
            <input message="tns:FTFeeInterest" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterestRequest"/>
            <output message="tns:FTFeeInterestResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterestResponse"/>
        </operation>
        <operation name="FTFeeInterest_Validate">
            <input message="tns:FTFeeInterest_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterest_ValidateRequest"/>
            <output message="tns:FTFeeInterest_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterest_ValidateResponse"/>
        </operation>
        <operation name="FTFeeInterestUSD">
            <input message="tns:FTFeeInterestUSD" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterestUSDRequest"/>
            <output message="tns:FTFeeInterestUSDResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterestUSDResponse"/>
        </operation>
        <operation name="FTFeeInterestUSD_Validate">
            <input message="tns:FTFeeInterestUSD_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterestUSD_ValidateRequest"/>
            <output message="tns:FTFeeInterestUSD_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTFeeInterestUSD_ValidateResponse"/>
        </operation>
        <operation name="MMLiquidation">
            <input message="tns:MMLiquidation" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMLiquidationRequest"/>
            <output message="tns:MMLiquidationResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMLiquidationResponse"/>
        </operation>
        <operation name="MMLiquidation_Validate">
            <input message="tns:MMLiquidation_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMLiquidation_ValidateRequest"/>
            <output message="tns:MMLiquidation_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMLiquidation_ValidateResponse"/>
        </operation>
        <operation name="FTNostroAccount">
            <input message="tns:FTNostroAccount" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountRequest"/>
            <output message="tns:FTNostroAccountResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccountResponse"/>
        </operation>
        <operation name="FTNostroAccount_Validate">
            <input message="tns:FTNostroAccount_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccount_ValidateRequest"/>
            <output message="tns:FTNostroAccount_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTNostroAccount_ValidateResponse"/>
        </operation>
        <operation name="FXPaymentInstruction">
            <input message="tns:FXPaymentInstruction" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FXPaymentInstructionRequest"/>
            <output message="tns:FXPaymentInstructionResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FXPaymentInstructionResponse"/>
        </operation>
        <operation name="MMTotalAmount">
            <input message="tns:MMTotalAmount" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMTotalAmountRequest"/>
            <output message="tns:MMTotalAmountResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMTotalAmountResponse"/>
        </operation>
        <operation name="FMShowConvert">
            <input message="tns:FMShowConvert" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FMShowConvertRequest"/>
            <output message="tns:FMShowConvertResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FMShowConvertResponse"/>
        </operation>
        <operation name="SCSecurityMaster">
            <input message="tns:SCSecurityMaster" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCSecurityMasterRequest"/>
            <output message="tns:SCSecurityMasterResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCSecurityMasterResponse"/>
        </operation>
        <operation name="ERPCheckRef">
            <input message="tns:ERPCheckRef" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/ERPCheckRefRequest"/>
            <output message="tns:ERPCheckRefResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/ERPCheckRefResponse"/>
        </operation>
        <operation name="SCChangeInvestmentPortfolio">
            <input message="tns:SCChangeInvestmentPortfolio" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCChangeInvestmentPortfolioRequest"/>
            <output message="tns:SCChangeInvestmentPortfolioResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCChangeInvestmentPortfolioResponse"/>
        </operation>
        <operation name="SCChangeInvestmentPortfolio_Validate">
            <input message="tns:SCChangeInvestmentPortfolio_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCChangeInvestmentPortfolio_ValidateRequest"/>
            <output message="tns:SCChangeInvestmentPortfolio_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCChangeInvestmentPortfolio_ValidateResponse"/>
        </operation>
        <operation name="SCBrokerList">
            <input message="tns:SCBrokerList" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCBrokerListRequest"/>
            <output message="tns:SCBrokerListResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCBrokerListResponse"/>
        </operation>
        <operation name="FTRevserseFeeInterest">
            <input message="tns:FTRevserseFeeInterest" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTRevserseFeeInterestRequest"/>
            <output message="tns:FTRevserseFeeInterestResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FTRevserseFeeInterestResponse"/>
        </operation>
        <operation name="SCCreateSecurityMaster">
            <input message="tns:SCCreateSecurityMaster" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCCreateSecurityMasterRequest"/>
            <output message="tns:SCCreateSecurityMasterResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCCreateSecurityMasterResponse"/>
        </operation>
        <operation name="SCCreateSecurityMaster_Validate">
            <input message="tns:SCCreateSecurityMaster_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCCreateSecurityMaster_ValidateRequest"/>
            <output message="tns:SCCreateSecurityMaster_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCCreateSecurityMaster_ValidateResponse"/>
        </operation>
        <operation name="SCCustomerSecurity">
            <input message="tns:SCCustomerSecurity" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCCustomerSecurityRequest"/>
            <output message="tns:SCCustomerSecurityResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCCustomerSecurityResponse"/>
        </operation>
        <operation name="FMConvert">
            <input message="tns:FMConvert" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FMConvertRequest"/>
            <output message="tns:FMConvertResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FMConvertResponse"/>
        </operation>
        <operation name="FMConvert_Validate">
            <input message="tns:FMConvert_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FMConvert_ValidateRequest"/>
            <output message="tns:FMConvert_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/FMConvert_ValidateResponse"/>
        </operation>
        <operation name="MMRollover">
            <input message="tns:MMRollover" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMRolloverRequest"/>
            <output message="tns:MMRolloverResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMRolloverResponse"/>
        </operation>
        <operation name="MMRollover_Validate">
            <input message="tns:MMRollover_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMRollover_ValidateRequest"/>
            <output message="tns:MMRollover_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/MMRollover_ValidateResponse"/>
        </operation>
        <operation name="SCSellOwnBook">
            <input message="tns:SCSellOwnBook" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCSellOwnBookRequest"/>
            <output message="tns:SCSellOwnBookResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCSellOwnBookResponse"/>
        </operation>
        <operation name="SCSellOwnBook_Validate">
            <input message="tns:SCSellOwnBook_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCSellOwnBook_ValidateRequest"/>
            <output message="tns:SCSellOwnBook_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCSellOwnBook_ValidateResponse"/>
        </operation>
        <operation name="SCDetailSecTradeView">
            <input message="tns:SCDetailSecTradeView" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCDetailSecTradeViewRequest"/>
            <output message="tns:SCDetailSecTradeViewResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.TT01.WS/T24WebServicesImpl/SCDetailSecTradeViewResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FTReverseFeeInterestUSD">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FXProposalInput">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FXProposalInput_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCBuyOwnBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCBuyOwnBook_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetSTMTToday">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMNewPlacement">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMNewPlacement_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTNostroAccountsOT03">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTNostroAccountsOT03_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTNostroAccountsOT22">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTNostroAccountsOT22_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTFeeInterest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTFeeInterest_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTFeeInterestUSD">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTFeeInterestUSD_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMLiquidation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMLiquidation_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTNostroAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTNostroAccount_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FXPaymentInstruction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMTotalAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FMShowConvert">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCSecurityMaster">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ERPCheckRef">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCChangeInvestmentPortfolio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCChangeInvestmentPortfolio_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCBrokerList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FTRevserseFeeInterest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCCreateSecurityMaster">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCCreateSecurityMaster_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCCustomerSecurity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FMConvert">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FMConvert_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMRollover">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMRollover_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCSellOwnBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCSellOwnBook_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCDetailSecTradeView">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.1.26.8:7028/SBV.INTE.T24.PORTAL.TT01.WS/services"/>
        </port>
    </service>
</definitions>