UAT/SG31ESBProject_UAT/SharedResource/Schema/Global/System/T24/FTReconcile/FTReconcile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:ns0="http://services.fis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.fis.com/">
    <xsd:complexType name="getNettingsResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:nettingVo" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="nettingVo">
        <xsd:sequence>
            <xsd:element name="ac_id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="citad_code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cr_dr" type="xsd:string" minOccurs="0"/>
            <xsd:element name="flag" type="xsd:string" minOccurs="0"/>
            <xsd:element name="net_cnt" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tr_amt" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tr_date" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getNettings">
        <xsd:sequence>
            <xsd:element name="p_date" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getHVsResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:hvVo" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hvVo">
        <xsd:sequence>
            <xsd:element name="ac_id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="citad_code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cr_amt" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cr_cnt" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dr_amt" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dr_cnt" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tr_date" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getHVs">
        <xsd:sequence>
            <xsd:element name="p_date" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getNettingsResponse" type="ns0:getNettingsResponse"/>
    <xsd:element name="getNettings" type="ns0:getNettings"/>
    <xsd:element name="getHVsResponse" type="ns0:getHVsResponse"/>
    <xsd:element name="getHVs" type="ns0:getHVs"/>
</xsd:schema>