SG31ESBProject/SharedResource/Schema/Global/System/CSD/ErpPostToCSDService/GetAcctStatusFrErp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAcctStatusFrErp"
	 xmlns:ns0="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices"
	 targetNamespace="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAcctStatusFrErp"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="WCFServices.xsd"/>
	<xs:complexType name="GetAcctStatusFrErpRequest">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="ArrayOfGetAcctStatusFrErpRequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetAcctStatusFrErpRequest" type="GetAcctStatusFrErpRequest" nillable="true"/>
	<xs:complexType name="ArrayOfGetAcctStatusFrErpRequestType">
		<xs:sequence>
			<xs:element name="GetAcctStatusFrErpRequestType" type="GetAcctStatusFrErpRequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetAcctStatusFrErpRequestType" type="ArrayOfGetAcctStatusFrErpRequestType" nillable="true"/>
	<xs:complexType name="GetAcctStatusFrErpRequestType">
		<xs:sequence>
			<xs:element name="Reason" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="RefNoInterfaceAomCsd" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="RefNoInterfaceVendor" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetAcctStatusFrErpRequestType" type="GetAcctStatusFrErpRequestType" nillable="true"/>
	<xs:complexType name="GetAcctStatusFrErpResponse">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetAcctStatusFrErpResponse" type="GetAcctStatusFrErpResponse" nillable="true"/>
</xs:schema>