SG31ESBProject/SharedResource/Schema/Global/System/Proposal/Proposal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="schema://www.sbv.gov.vn/schema/global/System/Proposal/FTProposal/FTProposal.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="schema://www.sbv.gov.vn/schema/global/System/Proposal/FMProposal.xsd" xmlns:ns="schema://www.sbv.gov.vn/schema/global/System/Proposal/FTProposal.xsd" xmlns:ns3="schema://www.sbv.gov.vn/schema/global/System/Proposal/FXProposal.xsd" xmlns:tns="http://xmlns.example.com/1478161916782" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="schema://www.sbv.gov.vn/schema/global/System/Proposal/FMConvert.xsd" targetNamespace="http://xmlns.example.com/1478161916782">
    <import namespace="schema://www.sbv.gov.vn/schema/global/System/Proposal/FTProposal.xsd" location="FTProposal.xsd"/>
    <import namespace="schema://www.sbv.gov.vn/schema/global/System/Proposal/FMConvert.xsd" location="FMConvert.xsd"/>
    <import namespace="schema://www.sbv.gov.vn/schema/global/System/Proposal/FXProposal.xsd" location="FXProposal.xsd"/>
    <message name="FXProposalInputRequest">
        <part element="ns3:FXProposalInputRequest" name="req"/>
    </message>
    <message name="FXProposalInputResponse">
        <part element="ns3:FXProposalInputResponse" name="res"/>
    </message>
    <message name="FMConvertRequest">
        <part element="ns5:FMConvertRequest" name="req"/>
    </message>
    <message name="FMConvertResponse">
        <part element="ns5:FMConvertResponse" name="res"/>
    </message>
    <message name="FTNostroAccountResponse">
        <part element="ns:FTNostroAccountResponse" name="res"/>
    </message>
    <message name="FTNostroAccountRequest">
        <part element="ns:FTNostroAccountRequest" name="req"/>
    </message>
    <message name="FXQueryRequest">
        <part name="req" element="ns3:FXQueryRequest"/>
    </message>
    <message name="FXQueryResponse">
        <part name="res" element="ns3:FXQueryResponse"/>
    </message>
    <message name="FTNostroOT22Request">
        <part name="req" element="ns:FTNostroOT22Request"/>
    </message>
    <message name="FTNostroOT22Response">
        <part name="res" element="ns:FTNostroOT22Response"/>
    </message>
    <portType name="Proposal">
        <operation name="FTNostroAccount">
            <input message="tns:FTNostroAccountRequest"/>
            <output message="tns:FTNostroAccountResponse"/>
        </operation>
        <operation name="FXProposalInput">
            <input message="tns:FXProposalInputRequest"/>
            <output message="tns:FXProposalInputResponse"/>
        </operation>
        <operation name="FMConvert">
            <input message="tns:FMConvertRequest"/>
            <output message="tns:FMConvertResponse"/>
        </operation>
        <operation name="FXQuery">
            <input message="tns:FXQueryRequest"/>
            <output message="tns:FXQueryResponse"/>
        </operation>
        <operation name="FTNostroOT22">
            <input message="tns:FTNostroOT22Request"/>
            <output message="tns:FTNostroOT22Response"/>
        </operation>
    </portType>
</definitions>