UAT/SG31ESBProject_UAT/SharedResource/Schema/Global/System/CSD/CsdService/GetCurrencyFrT24.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCurrencyFrT24"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCurrencyFrT24"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="T24WCFServices.xsd"/>
	<xs:complexType name="GetCurrencyFrT24Request">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="tns:ArrayOfGetCurrencyFrT24RequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCurrencyFrT24Request" type="tns:GetCurrencyFrT24Request" nillable="true"/>
	<xs:complexType name="ArrayOfGetCurrencyFrT24RequestType">
		<xs:sequence>
			<xs:element name="GetCurrencyFrT24RequestType" type="tns:GetCurrencyFrT24RequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetCurrencyFrT24RequestType" type="tns:ArrayOfGetCurrencyFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCurrencyFrT24RequestType">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CurrencyName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Detail" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCurrencyFrT24RequestType" type="tns:GetCurrencyFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCurrencyFrT24Response">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCurrencyFrT24Response" type="tns:GetCurrencyFrT24Response" nillable="true"/>
</xs:schema>