UAT/SG31ESBProject_UAT/SharedResource/Schema/Global/System/CSD/CsdService/GetCustomerFrT24.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCustomerFrT24"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://fis.vn/iMaximusGateway/T24PostToCsdService/GetCustomerFrT24"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="T24WCFServices.xsd"/>
	<xs:complexType name="GetCustomerFrT24Request">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="tns:ArrayOfGetCustomerFrT24RequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCustomerFrT24Request" type="tns:GetCustomerFrT24Request" nillable="true"/>
	<xs:complexType name="ArrayOfGetCustomerFrT24RequestType">
		<xs:sequence>
			<xs:element name="GetCustomerFrT24RequestType" type="tns:GetCustomerFrT24RequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetCustomerFrT24RequestType" type="tns:ArrayOfGetCustomerFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCustomerFrT24RequestType">
		<xs:sequence>
			<xs:element name="Address" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CitadCode" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CustIndustry" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CustomerCode" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CustomerStatus" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Email" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="FaxNo" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LegalExpDate" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LegalIssAuth" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LegalIssDate" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LicenceNo" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Name1" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="PhoneNo" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="RelCustomer" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="RelCustomerRole" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Sector" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="ShortName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="UploadCompany" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="VsdCode" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCustomerFrT24RequestType" type="tns:GetCustomerFrT24RequestType" nillable="true"/>
	<xs:complexType name="GetCustomerFrT24Response">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCustomerFrT24Response" type="tns:GetCustomerFrT24Response" nillable="true"/>
</xs:schema>