SG31ESBProject/SharedResource/Schema/Global/System/ESB/T24TTBTDT/BTCTPosting/NettingResultLine.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.sbv.gov.vn/global/system/ESB/T24TTBTDT/version1.0/NettingResultLine.xsd"
	 targetNamespace="http://www.sbv.gov.vn/global/system/ESB/T24TTBTDT/version1.0/NettingResultLine.xsd"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="mIBPSREF">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IBPSREF" type="xsd:string" minOccurs="0"/>
				<xsd:element name="FTREF" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DEBITCITADNO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DEBITNAME" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DEBITCURBAL" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CREDITCITADNO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CREDITNAME" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CREDITCURBAL" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TRANSCOUNT" type="xsd:string" minOccurs="0"/>
				<xsd:element name="FTSTATUS" type="xsd:string" minOccurs="0"/>
				<xsd:element name="FTERRORMSG" type="xsd:string" minOccurs="0"/>
				<xsd:element name="FENUMBER" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="m" type="xsd:positiveInteger"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>