SG31ESBProject/SharedResource/Schema/Global/Remittance/ForexManagement/ForexManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="schema://www.sbv.gov.vn/schema/global/remittance/forexmanagement/MoneyMarket.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.sbv.gov.vn/schema/global/remittance/forexmanagement/Securities.xsd" xmlns:ns="http://www.sbv.gov.vn/schema/global/remittance/forexmanagement/MoneyMarket.xsd" xmlns:ns3="schema://www.sbv.gov.vn/schema/global/remittance/forexmanagement/Securities.xsd" xmlns:tns="http://wsdl.www.sbv.gov.vn/schema/global/remittance/forexmanagement/ForexManagement.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="schema://www.sbv.gov.vn/schema/global/remittance/forexmanagement/DerivativesProposal.xsd" xmlns:ns7="schema://www.sbv.gov.vn/schema/global/remittance/forexmanagement/SCChangeInvestPortfolio.xsd" targetNamespace="http://wsdl.www.sbv.gov.vn/schema/global/remittance/forexmanagement/ForexManagement.wsdl">
    <import location="Securities.xsd" namespace="http://www.sbv.gov.vn/schema/global/remittance/forexmanagement/Securities.xsd"/>
    <import location="DerivativesProposal.xsd" namespace="schema://www.sbv.gov.vn/schema/global/remittance/forexmanagement/DerivativesProposal.xsd"/>
    <import location="MoneyMarket.xsd" namespace="schema://www.sbv.gov.vn/schema/global/remittance/forexmanagement/MoneyMarket.xsd"/>
    <import location="SCChangeInvestPortfolio.xsd" namespace="schema://www.sbv.gov.vn/schema/global/remittance/forexmanagement/SCChangeInvestPortfolio.xsd"/>
    <message name="MMNewPlacementRequest">
        <part element="ns2:MMNewPlacementRequest" name="Request"/>
    </message>
    <message name="MMNewPlacementResponse">
        <part element="ns2:MMNewPlacementResponse" name="Response"/>
    </message>
    <message name="SecuritiesSubReq">
        <part element="ns4:createSecuritiesSubRequest" name="Request"/>
    </message>
    <message name="SecuritiesSubRes">
        <part element="ns4:createSecuritiesSubResponse" name="Response"/>
    </message>
    <message name="MMRolloverRequest">
        <part element="ns2:MMRolloverRequest" name="Request"/>
    </message>
    <message name="MMRolloverResponse">
        <part element="ns2:MMRolloverResponse" name="Response"/>
    </message>
    <message name="MMLiquidationRequest">
        <part element="ns2:MMLiquidationRequest" name="request"/>
    </message>
    <message name="MMLiquidationResponse">
        <part element="ns2:MMLiquidationResponse" name="response"/>
    </message>
    <message name="InquirySecuritiesTradingRequest">
        <part element="ns4:InquirySecTradeRequest" name="Req"/>
    </message>
    <message name="InquirySecuritiesTradingResponse">
        <part element="ns4:InquirySecTradeResponse" name="Res"/>
    </message>
    <message name="MMEnquiryRequest">
        <part element="ns2:MMEnquiryRequest" name="request"/>
    </message>
    <message name="MMEnquiryResponse">
        <part element="ns2:MMEnquiryResponse" name="response"/>
    </message>
    <message name="DerivativesProposalRequest">
        <part element="ns5:DPRequest" name="request"/>
    </message>
    <message name="DerivativesProposalResponse">
        <part element="ns5:DPResponse" name="response"/>
    </message>
    <message name="createSCMasterRequest">
        <part element="ns4:createSCMasterReq" name="Req"/>
    </message>
    <message name="createSCMasterResponse">
        <part element="ns4:createSCMasterRes" name="Res"/>
    </message>
    <message name="SCChangeInvestPortfolioRequest">
        <part element="ns7:SCChangeInvestPortfolioRequest" name="req"/>
    </message>
    <message name="SCChangeInvestPortfolioResponse">
        <part element="ns7:SCChangeInvestPortfolioResponse" name="res"/>
    </message>
    <portType name="ForexManagement">
        <operation name="MMNewPlacementOperation">
            <input message="tns:MMNewPlacementRequest"/>
            <output message="tns:MMNewPlacementResponse"/>
        </operation>
        <operation name="SecuritiesSubOperation">
            <input message="tns:SecuritiesSubReq"/>
            <output message="tns:SecuritiesSubRes"/>
        </operation>
        <operation name="MMRolloverOperation">
            <input message="tns:MMRolloverRequest"/>
            <output message="tns:MMRolloverResponse"/>
        </operation>
        <operation name="MMLiquidation">
            <input message="tns:MMLiquidationRequest"/>
            <output message="tns:MMLiquidationResponse"/>
        </operation>
        <operation name="InquirySecuritiesTrading">
            <input message="tns:InquirySecuritiesTradingRequest"/>
            <output message="tns:InquirySecuritiesTradingResponse"/>
        </operation>
        <operation name="MMEnquiry">
            <input message="tns:MMEnquiryRequest"/>
            <output message="tns:MMEnquiryResponse"/>
        </operation>
        <operation name="DerivativesProposalOperation">
            <input message="tns:DerivativesProposalRequest"/>
            <output message="tns:DerivativesProposalResponse"/>
        </operation>
        <operation name="createSCMaster">
            <input message="tns:createSCMasterRequest"/>
            <output message="tns:createSCMasterResponse"/>
        </operation>
        <operation name="SCChangeInvestPortfolio">
            <input message="tns:SCChangeInvestPortfolioRequest"/>
            <output message="tns:SCChangeInvestPortfolioResponse"/>
        </operation>
    </portType>
</definitions>