SIT/SG31ESBProject_SIT/SharedResource/Schema/Global/System/T24/QueueSchema/PushCitadCodeFlow.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/PushCitadCode/PushCitadCodeFlow" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/PushCitadCode/PushCitadCodeFlow" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon">
   <xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/>
   <xsd:element name="PushCitadCodeFlow">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="id" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="customerNo" minOccurs="0" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="eventCommon" type="ns0:EventCommon"/>
   <xsd:element name="id" type="xsd:string"/>
   <xsd:element name="customerNo" type="xsd:decimal"/>
</xsd:schema>