UAT/SG31ESBProject_UAT/SharedResource/Schema/Global/System/T24/TTBTDT/SBV.FT.TTBT.PAYMENT.WS_xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS"
	 targetNamespace="http://temenos.com/SBV.FT.TTBT.PAYMENT.WS"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:complexType name="SettleTTBT">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKSBVBTDTCTWSType" type="SBVFTLVBULKSBVBTDTCTWSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ofsFunction">
		<xsd:sequence>
			<xsd:element name="activityName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assignReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcess" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcessID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gtsControl" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="noOfAuth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="owner" type="xsd:string" minOccurs="0"/>
			<xsd:element name="replace" type="xsd:string" minOccurs="0"/>
			<xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="user" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Status">
		<xsd:sequence>
			<xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="successIndicator" type="successIndicator" minOccurs="0"/>
			<xsd:element name="application" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messages" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="webRequestCommon">
		<xsd:sequence>
			<xsd:element name="company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="userName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SettleTTBT_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKSBVBTDTCTWSType" type="SBVFTLVBULKSBVBTDTCTWSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENQTTBTQUERYACCOUNTType">
		<xsd:sequence>
			<xsd:element name="gENQTTBTQUERYACCOUNTDetailType" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mENQTTBTQUERYACCOUNTDetailType" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CitadCodeList" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AccountList" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CitadCode" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AccountID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SystemCode" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AccoutStatus" type="xsd:string" minOccurs="0"/>
									<xsd:element name="UseableBalance" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SettleTTBTResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKType" type="SBVFTLVBULKType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SBVFTLVBULKType">
		<xsd:sequence>
			<xsd:element name="gIBPSREF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mIBPSREF" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="IBPSREF" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FTREF" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCITADNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITNAME" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCURBAL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCITADNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITNAME" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCURBAL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TRANSCOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FTSTATUS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FTERRORMSG" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FENUMBER" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRANSFLAG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROCESSINGDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RELOAD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FTGENERATELSTAT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMPANYCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gERRORMSG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ERRORMSG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="enquiryInputCollection">
		<xsd:sequence>
			<xsd:element name="columnName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="criteriaValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="operand" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SettleTTBT_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKType" type="SBVFTLVBULKType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TTBTCheckBalance">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="ENQTTBTQUERYACCOUNTType" type="enquiryInput" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TTBTCheckBalanceResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="ENQTTBTQUERYACCOUNTType" type="ENQTTBTQUERYACCOUNTType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enquiryInput">
		<xsd:sequence>
			<xsd:element name="enquiryInputCollection" type="enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SBVFTLVBULKSBVBTDTCTWSType">
		<xsd:sequence>
			<xsd:element name="gIBPSREF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mIBPSREF" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="IBPSREF" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCITADNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCITADNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TRANSCOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRANSFLAG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMPANYCODE" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:element name="SettleTTBT" type="SettleTTBT"/>
	<xsd:element name="SettleTTBT_Validate" type="SettleTTBT_Validate"/>
	<xsd:element name="SettleTTBTResponse" type="SettleTTBTResponse"/>
	<xsd:element name="SettleTTBT_ValidateResponse" type="SettleTTBT_ValidateResponse"/>
	<xsd:element name="TTBTCheckBalance" type="TTBTCheckBalance"/>
	<xsd:element name="TTBTCheckBalanceResponse" type="TTBTCheckBalanceResponse"/>
	<xsd:simpleType name="successIndicator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Success"/>
			<xsd:enumeration value="TWSError"/>
			<xsd:enumeration value="T24Error"/>
			<xsd:enumeration value="T24Override"/>
			<xsd:enumeration value="T24Offline"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>