SG31ESBProject/SharedResource/Schema/Global/CSDERP/CsdErp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="sbv/global/csderp/version1.0" xmlns:tns="http://xmlns.example.com/1435747484866" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1435747484866">
    <import namespace="sbv/global/csderp/version1.0" location="CsdErpSchema.xsd"/>
    <message name="SecPostingMsgReq">
        <part name="Request" element="ns:SecPostingReq"/>
    </message>
    <message name="SecPostingMsgRes">
        <part name="Response" element="ns:SecPostingRes"/>
    </message>
    <message name="SecPostingStatusMsgReq">
        <part name="Request" element="ns:SecPostingStatusReq"/>
    </message>
    <message name="SecPostingStatusMsgRes">
        <part name="Response" element="ns:SecPostingStatusRes"/>
    </message>
    <message name="AccountListMsgReq">
        <part name="Request" element="ns:AccountReq"/>
    </message>
    <message name="AccountListMsgRes">
        <part name="Response" element="ns:AccountRes"/>
    </message>
    <portType name="ICsdErpPortType">
        <operation name="SecuritiesPosting">
            <input message="tns:SecPostingMsgReq"/>
            <output message="tns:SecPostingMsgRes"/>
        </operation>
        <operation name="SecuritiesPostingStatus">
            <input message="tns:SecPostingStatusMsgReq"/>
            <output message="tns:SecPostingStatusMsgRes"/>
        </operation>
        <operation name="AccountList">
            <input message="tns:AccountListMsgReq"/>
            <output message="tns:AccountListMsgRes"/>
        </operation>
    </portType>
</definitions>