SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.INTE.T24.PORTAL/SBV.INTE.T24.PORTAL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.INTE.T24.PORTAL.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.INTE.T24.PORTAL.WS">
    <import location="SBV.INTE.T24.PORTAL_xsd1.xsd" namespace="http://temenos.com/SBV.INTE.T24.PORTAL.WS"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.INTE.T24.PORTAL.WS" schemaLocation="SBV.INTE.T24.PORTAL_xsd1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="SBV.INTE.T24.PORTAL_xsd2.xsd"/>
        </xsd:schema>
    </types>
    <message name="DBCrrTransaction">
        <part element="tns:DBCrrTransaction" name="parameters"/>
    </message>
    <message name="DBCrrTransactionResponse">
        <part element="tns:DBCrrTransactionResponse" name="parameters"/>
    </message>
    <message name="MMTotalAmount">
        <part element="tns:MMTotalAmount" name="parameters"/>
    </message>
    <message name="MMTotalAmountResponse">
        <part element="tns:MMTotalAmountResponse" name="parameters"/>
    </message>
    <message name="QueryAccountBalance">
        <part element="tns:QueryAccountBalance" name="parameters"/>
    </message>
    <message name="QueryAccountBalanceResponse">
        <part element="tns:QueryAccountBalanceResponse" name="parameters"/>
    </message>
    <message name="CRRPaymentAccount">
        <part element="tns:CRRPaymentAccount" name="parameters"/>
    </message>
    <message name="CRRPaymentAccountResponse">
        <part element="tns:CRRPaymentAccountResponse" name="parameters"/>
    </message>
    <message name="SCSecurityMaster">
        <part element="tns:SCSecurityMaster" name="parameters"/>
    </message>
    <message name="SCSecurityMasterResponse">
        <part element="tns:SCSecurityMasterResponse" name="parameters"/>
    </message>
    <message name="ACFTTotalFee">
        <part element="tns:ACFTTotalFee" name="parameters"/>
    </message>
    <message name="ACFTTotalFeeResponse">
        <part element="tns:ACFTTotalFeeResponse" name="parameters"/>
    </message>
    <message name="ACTTDetailFee">
        <part element="tns:ACTTDetailFee" name="parameters"/>
    </message>
    <message name="ACTTDetailFeeResponse">
        <part element="tns:ACTTDetailFeeResponse" name="parameters"/>
    </message>
    <message name="ACLockedAmount">
        <part element="tns:ACLockedAmount" name="parameters"/>
    </message>
    <message name="ACLockedAmountResponse">
        <part element="tns:ACLockedAmountResponse" name="parameters"/>
    </message>
    <message name="SCBuyOwnBook">
        <part element="tns:SCBuyOwnBook" name="parameters"/>
    </message>
    <message name="SCBuyOwnBookResponse">
        <part element="tns:SCBuyOwnBookResponse" name="parameters"/>
    </message>
    <message name="SCBuyOwnBook_Validate">
        <part element="tns:SCBuyOwnBook_Validate" name="parameters"/>
    </message>
    <message name="SCBuyOwnBook_ValidateResponse">
        <part element="tns:SCBuyOwnBook_ValidateResponse" name="parameters"/>
    </message>
    <message name="ACAccountActivity">
        <part element="tns:ACAccountActivity" name="parameters"/>
    </message>
    <message name="ACAccountActivityResponse">
        <part element="tns:ACAccountActivityResponse" name="parameters"/>
    </message>
    <message name="ACQueryFTTransaction">
        <part element="tns:ACQueryFTTransaction" name="parameters"/>
    </message>
    <message name="ACQueryFTTransactionResponse">
        <part element="tns:ACQueryFTTransactionResponse" name="parameters"/>
    </message>
    <message name="SCBrokerList">
        <part element="tns:SCBrokerList" name="parameters"/>
    </message>
    <message name="SCBrokerListResponse">
        <part element="tns:SCBrokerListResponse" name="parameters"/>
    </message>
    <message name="ACFTDetailFee">
        <part element="tns:ACFTDetailFee" name="parameters"/>
    </message>
    <message name="ACFTDetailFeeResponse">
        <part element="tns:ACFTDetailFeeResponse" name="parameters"/>
    </message>
    <message name="MMNewPlacement">
        <part element="tns:MMNewPlacement" name="parameters"/>
    </message>
    <message name="MMNewPlacementResponse">
        <part element="tns:MMNewPlacementResponse" name="parameters"/>
    </message>
    <message name="MMNewPlacement_Validate">
        <part element="tns:MMNewPlacement_Validate" name="parameters"/>
    </message>
    <message name="MMNewPlacement_ValidateResponse">
        <part element="tns:MMNewPlacement_ValidateResponse" name="parameters"/>
    </message>
    <message name="PortalCashWithdrawalLocal">
        <part element="tns:PortalCashWithdrawalLocal" name="parameters"/>
    </message>
    <message name="PortalCashWithdrawalLocalResponse">
        <part element="tns:PortalCashWithdrawalLocalResponse" name="parameters"/>
    </message>
    <message name="PortalCashWithdrawalLocal_Validate">
        <part element="tns:PortalCashWithdrawalLocal_Validate" name="parameters"/>
    </message>
    <message name="PortalCashWithdrawalLocal_ValidateResponse">
        <part element="tns:PortalCashWithdrawalLocal_ValidateResponse" name="parameters"/>
    </message>
    <message name="SCCustomerSecurity">
        <part element="tns:SCCustomerSecurity" name="parameters"/>
    </message>
    <message name="SCCustomerSecurityResponse">
        <part element="tns:SCCustomerSecurityResponse" name="parameters"/>
    </message>
    <message name="MMRollover">
        <part element="tns:MMRollover" name="parameters"/>
    </message>
    <message name="MMRolloverResponse">
        <part element="tns:MMRolloverResponse" name="parameters"/>
    </message>
    <message name="MMRollover_Validate">
        <part element="tns:MMRollover_Validate" name="parameters"/>
    </message>
    <message name="MMRollover_ValidateResponse">
        <part element="tns:MMRollover_ValidateResponse" name="parameters"/>
    </message>
    <message name="CRRView">
        <part element="tns:CRRView" name="parameters"/>
    </message>
    <message name="CRRViewResponse">
        <part element="tns:CRRViewResponse" name="parameters"/>
    </message>
    <message name="CRRInput">
        <part element="tns:CRRInput" name="parameters"/>
    </message>
    <message name="CRRInputResponse">
        <part element="tns:CRRInputResponse" name="parameters"/>
    </message>
    <message name="CRRInput_Validate">
        <part element="tns:CRRInput_Validate" name="parameters"/>
    </message>
    <message name="CRRInput_ValidateResponse">
        <part element="tns:CRRInput_ValidateResponse" name="parameters"/>
    </message>
    <message name="CRRInterestAccount">
        <part element="tns:CRRInterestAccount" name="parameters"/>
    </message>
    <message name="CRRInterestAccountResponse">
        <part element="tns:CRRInterestAccountResponse" name="parameters"/>
    </message>
    <message name="MMLiquidation">
        <part element="tns:MMLiquidation" name="parameters"/>
    </message>
    <message name="MMLiquidationResponse">
        <part element="tns:MMLiquidationResponse" name="parameters"/>
    </message>
    <message name="MMLiquidation_Validate">
        <part element="tns:MMLiquidation_Validate" name="parameters"/>
    </message>
    <message name="MMLiquidation_ValidateResponse">
        <part element="tns:MMLiquidation_ValidateResponse" name="parameters"/>
    </message>
    <message name="SCSellOwnBook">
        <part element="tns:SCSellOwnBook" name="parameters"/>
    </message>
    <message name="SCSellOwnBookResponse">
        <part element="tns:SCSellOwnBookResponse" name="parameters"/>
    </message>
    <message name="SCSellOwnBook_Validate">
        <part element="tns:SCSellOwnBook_Validate" name="parameters"/>
    </message>
    <message name="SCSellOwnBook_ValidateResponse">
        <part element="tns:SCSellOwnBook_ValidateResponse" name="parameters"/>
    </message>
    <message name="ACTTTotalFee">
        <part element="tns:ACTTTotalFee" name="parameters"/>
    </message>
    <message name="ACTTTotalFeeResponse">
        <part element="tns:ACTTTotalFeeResponse" name="parameters"/>
    </message>
    <message name="SCDetailSecTradeView">
        <part element="tns:SCDetailSecTradeView" name="parameters"/>
    </message>
    <message name="SCDetailSecTradeViewResponse">
        <part element="tns:SCDetailSecTradeViewResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="DBCrrTransaction">
            <input message="tns:DBCrrTransaction" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/DBCrrTransactionRequest"/>
            <output message="tns:DBCrrTransactionResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/DBCrrTransactionResponse"/>
        </operation>
        <operation name="MMTotalAmount">
            <input message="tns:MMTotalAmount" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMTotalAmountRequest"/>
            <output message="tns:MMTotalAmountResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMTotalAmountResponse"/>
        </operation>
        <operation name="QueryAccountBalance">
            <input message="tns:QueryAccountBalance" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/QueryAccountBalanceRequest"/>
            <output message="tns:QueryAccountBalanceResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/QueryAccountBalanceResponse"/>
        </operation>
        <operation name="CRRPaymentAccount">
            <input message="tns:CRRPaymentAccount" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRPaymentAccountRequest"/>
            <output message="tns:CRRPaymentAccountResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRPaymentAccountResponse"/>
        </operation>
        <operation name="SCSecurityMaster">
            <input message="tns:SCSecurityMaster" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCSecurityMasterRequest"/>
            <output message="tns:SCSecurityMasterResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCSecurityMasterResponse"/>
        </operation>
        <operation name="ACFTTotalFee">
            <input message="tns:ACFTTotalFee" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACFTTotalFeeRequest"/>
            <output message="tns:ACFTTotalFeeResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACFTTotalFeeResponse"/>
        </operation>
        <operation name="ACTTDetailFee">
            <input message="tns:ACTTDetailFee" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACTTDetailFeeRequest"/>
            <output message="tns:ACTTDetailFeeResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACTTDetailFeeResponse"/>
        </operation>
        <operation name="ACLockedAmount">
            <input message="tns:ACLockedAmount" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACLockedAmountRequest"/>
            <output message="tns:ACLockedAmountResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACLockedAmountResponse"/>
        </operation>
        <operation name="SCBuyOwnBook">
            <input message="tns:SCBuyOwnBook" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCBuyOwnBookRequest"/>
            <output message="tns:SCBuyOwnBookResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCBuyOwnBookResponse"/>
        </operation>
        <operation name="SCBuyOwnBook_Validate">
            <input message="tns:SCBuyOwnBook_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCBuyOwnBook_ValidateRequest"/>
            <output message="tns:SCBuyOwnBook_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCBuyOwnBook_ValidateResponse"/>
        </operation>
        <operation name="ACAccountActivity">
            <input message="tns:ACAccountActivity" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACAccountActivityRequest"/>
            <output message="tns:ACAccountActivityResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACAccountActivityResponse"/>
        </operation>
        <operation name="ACQueryFTTransaction">
            <input message="tns:ACQueryFTTransaction" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACQueryFTTransactionRequest"/>
            <output message="tns:ACQueryFTTransactionResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACQueryFTTransactionResponse"/>
        </operation>
        <operation name="SCBrokerList">
            <input message="tns:SCBrokerList" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCBrokerListRequest"/>
            <output message="tns:SCBrokerListResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCBrokerListResponse"/>
        </operation>
        <operation name="ACFTDetailFee">
            <input message="tns:ACFTDetailFee" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACFTDetailFeeRequest"/>
            <output message="tns:ACFTDetailFeeResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACFTDetailFeeResponse"/>
        </operation>
        <operation name="MMNewPlacement">
            <input message="tns:MMNewPlacement" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMNewPlacementRequest"/>
            <output message="tns:MMNewPlacementResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMNewPlacementResponse"/>
        </operation>
        <operation name="MMNewPlacement_Validate">
            <input message="tns:MMNewPlacement_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMNewPlacement_ValidateRequest"/>
            <output message="tns:MMNewPlacement_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMNewPlacement_ValidateResponse"/>
        </operation>
        <operation name="PortalCashWithdrawalLocal">
            <input message="tns:PortalCashWithdrawalLocal" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/PortalCashWithdrawalLocalRequest"/>
            <output message="tns:PortalCashWithdrawalLocalResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/PortalCashWithdrawalLocalResponse"/>
        </operation>
        <operation name="PortalCashWithdrawalLocal_Validate">
            <input message="tns:PortalCashWithdrawalLocal_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/PortalCashWithdrawalLocal_ValidateRequest"/>
            <output message="tns:PortalCashWithdrawalLocal_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/PortalCashWithdrawalLocal_ValidateResponse"/>
        </operation>
        <operation name="SCCustomerSecurity">
            <input message="tns:SCCustomerSecurity" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCCustomerSecurityRequest"/>
            <output message="tns:SCCustomerSecurityResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCCustomerSecurityResponse"/>
        </operation>
        <operation name="MMRollover">
            <input message="tns:MMRollover" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMRolloverRequest"/>
            <output message="tns:MMRolloverResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMRolloverResponse"/>
        </operation>
        <operation name="MMRollover_Validate">
            <input message="tns:MMRollover_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMRollover_ValidateRequest"/>
            <output message="tns:MMRollover_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMRollover_ValidateResponse"/>
        </operation>
        <operation name="CRRView">
            <input message="tns:CRRView" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRViewRequest"/>
            <output message="tns:CRRViewResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRViewResponse"/>
        </operation>
        <operation name="CRRInput">
            <input message="tns:CRRInput" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRInputRequest"/>
            <output message="tns:CRRInputResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRInputResponse"/>
        </operation>
        <operation name="CRRInput_Validate">
            <input message="tns:CRRInput_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRInput_ValidateRequest"/>
            <output message="tns:CRRInput_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRInput_ValidateResponse"/>
        </operation>
        <operation name="CRRInterestAccount">
            <input message="tns:CRRInterestAccount" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRInterestAccountRequest"/>
            <output message="tns:CRRInterestAccountResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/CRRInterestAccountResponse"/>
        </operation>
        <operation name="MMLiquidation">
            <input message="tns:MMLiquidation" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMLiquidationRequest"/>
            <output message="tns:MMLiquidationResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMLiquidationResponse"/>
        </operation>
        <operation name="MMLiquidation_Validate">
            <input message="tns:MMLiquidation_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMLiquidation_ValidateRequest"/>
            <output message="tns:MMLiquidation_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/MMLiquidation_ValidateResponse"/>
        </operation>
        <operation name="SCSellOwnBook">
            <input message="tns:SCSellOwnBook" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCSellOwnBookRequest"/>
            <output message="tns:SCSellOwnBookResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCSellOwnBookResponse"/>
        </operation>
        <operation name="SCSellOwnBook_Validate">
            <input message="tns:SCSellOwnBook_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCSellOwnBook_ValidateRequest"/>
            <output message="tns:SCSellOwnBook_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCSellOwnBook_ValidateResponse"/>
        </operation>
        <operation name="ACTTTotalFee">
            <input message="tns:ACTTTotalFee" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACTTTotalFeeRequest"/>
            <output message="tns:ACTTTotalFeeResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/ACTTTotalFeeResponse"/>
        </operation>
        <operation name="SCDetailSecTradeView">
            <input message="tns:SCDetailSecTradeView" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCDetailSecTradeViewRequest"/>
            <output message="tns:SCDetailSecTradeViewResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.PORTAL.WS/T24WebServicesImpl/SCDetailSecTradeViewResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DBCrrTransaction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMTotalAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryAccountBalance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CRRPaymentAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCSecurityMaster">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ACFTTotalFee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ACTTDetailFee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ACLockedAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCBuyOwnBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCBuyOwnBook_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ACAccountActivity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ACQueryFTTransaction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCBrokerList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ACFTDetailFee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMNewPlacement">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMNewPlacement_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PortalCashWithdrawalLocal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PortalCashWithdrawalLocal_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCCustomerSecurity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMRollover">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMRollover_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CRRView">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CRRInput">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CRRInput_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CRRInterestAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMLiquidation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMLiquidation_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCSellOwnBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCSellOwnBook_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ACTTTotalFee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SCDetailSecTradeView">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.192.26.101:7001/SBV.INTE.T24.PORTAL.WS/services"/>
        </port>
    </service>
</definitions>