Production/SG31ESBProject_Prod/Services/Global/System/ALERTSYS/SMSGateway.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vnpay.vn/VASContent" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.vnpay.vn/VASContent">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.vnpay.vn/VASContent">
<s:element name="SendMT">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SendFrom" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="KeywordName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="OutContent" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ChargingFlag" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="MOSeqNo" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TotalMessage" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SecretCode" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SendMTResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SendMTResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetCommethodByMobile">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="pMobileNo" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pSendFrom" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetCommethodByMobileResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCommethodByMobileResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="SendMTSoapIn">
<wsdl:part name="parameters" element="tns:SendMT"/>
</wsdl:message>
<wsdl:message name="SendMTSoapOut">
<wsdl:part name="parameters" element="tns:SendMTResponse"/>
</wsdl:message>
<wsdl:message name="GetCommethodByMobileSoapIn">
<wsdl:part name="parameters" element="tns:GetCommethodByMobile"/>
</wsdl:message>
<wsdl:message name="GetCommethodByMobileSoapOut">
<wsdl:part name="parameters" element="tns:GetCommethodByMobileResponse"/>
</wsdl:message>
<wsdl:portType name="MTSend">
<wsdl:operation name="SendMT">
<wsdl:input message="tns:SendMTSoapIn"/>
<wsdl:output message="tns:SendMTSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetCommethodByMobile">
<wsdl:input message="tns:GetCommethodByMobileSoapIn"/>
<wsdl:output message="tns:GetCommethodByMobileSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="MTSend" type="tns:MTSend">
<wsdl:documentation>
<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1"/>
</wsdl:documentation>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SendMT">
<soap:operation soapAction="http://www.vnpay.vn/VASContent/SendMT" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCommethodByMobile">
<soap:operation soapAction="http://www.vnpay.vn/VASContent/GetCommethodByMobile" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="MTSend1" type="tns:MTSend">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SendMT">
<soap12:operation soapAction="http://www.vnpay.vn/VASContent/SendMT" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCommethodByMobile">
<soap12:operation soapAction="http://www.vnpay.vn/VASContent/GetCommethodByMobile" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="MTSend">
<wsdl:port name="MTSend" binding="tns:MTSend">
<soap:address location="http://210.245.12.219:1500/SMSBRN/MTSend.asmx"/>
</wsdl:port>
<wsdl:port name="MTSend1" binding="tns:MTSend1">
<soap12:address location="http://210.245.12.219:1500/SMSBRN/MTSend.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>