SG31ESBProject/SharedResource/Schema/Global/Remittance/CSDLending/CSDLending.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/CSDLending/CSDLending.xsd" xmlns:tns="http://xmlns.example.com/1460534175336" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1460534175336">
    <import namespace="http://www.tibco.com/schemas/SG31ESBProject/SharedResource/Schema/Global/Remittance/CSDLending/CSDLending.xsd" location="CSDLending.xsd"/>
    <message name="createCSDLendingReq">
        <part name="Req" element="ns:createCSDLendingReq"/>
    </message>
    <message name="createCSDLendingRes">
        <part name="Res" element="ns:createCSDLendingRes"/>
    </message>
    <message name="createInquiryGTCGReq">
        <part name="Req" element="ns:createInquiryGTCGReq"/>
    </message>
    <message name="createInquiryGTCGRes">
        <part name="Res" element="ns:createInquiryGTCGRes"/>
    </message>
    <message name="createInquiryTotalGTCGReq">
        <part name="Req" element="ns:createInquiryTotalGTCGReq"/>
    </message>
    <message name="createInquiryTotalGTCGRes">
        <part name="Res" element="ns:createInquiryTotalGTCGRes"/>
    </message>
    <portType name="PortType">
        <operation name="createCSDLending">
            <input message="tns:createCSDLendingReq"/>
            <output message="tns:createCSDLendingRes"/>
        </operation>
        <operation name="createInquiryGTCG">
            <input message="tns:createInquiryGTCGReq"/>
            <output message="tns:createInquiryGTCGRes"/>
        </operation>
        <operation name="createInquiryTotalGTCG">
            <input message="tns:createInquiryTotalGTCGReq"/>
            <output message="tns:createInquiryTotalGTCGRes"/>
        </operation>
    </portType>
</definitions>