SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.INTE.T24.VSD.WS/PushVsdForm6.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/PushVsdForm6/PushVsdForm6Flow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/PushVsdForm6/PushVsdForm6Flow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../QueueSchema/Common-EventCommon.xsd"/>
	<xsd:element name="PushVsdForm6Flow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="transDate" minOccurs="0"/>
				<xsd:element ref="valueDate" minOccurs="0"/>
				<xsd:element ref="bondCode" minOccurs="0"/>
				<xsd:element ref="sendingBank" minOccurs="0"/>
				<xsd:element ref="recevingBank" minOccurs="0"/>
				<xsd:element ref="amount" minOccurs="0"/>
				<xsd:element ref="currency" minOccurs="0"/>
				<xsd:element ref="notes" minOccurs="0"/>
				<xsd:element ref="status" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="transDate" type="xsd:date"/>
	<xsd:element name="valueDate" type="xsd:date"/>
	<xsd:element name="bondCode" type="xsd:string"/>
	<xsd:element name="sendingBank" type="xsd:string"/>
	<xsd:element name="recevingBank" type="xsd:string"/>
	<xsd:element name="amount" type="xsd:decimal"/>
	<xsd:element name="currency" type="xsd:string"/>
	<xsd:element name="notes" type="xsd:string"/>
	<xsd:element name="status" type="xsd:string"/>
</xsd:schema>