SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.INTE.T24.VSD.WS/SBV.INTE.T24.VSD.WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. 
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.INTE.T24.VSD.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.INTE.T24.VSD.WS">
    <import namespace="http://temenos.com/SBV.INTE.T24.VSD.WS" location="SBV.INTE.T24.VSD.WS_xsd1.xsd"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.INTE.T24.VSD.WS" schemaLocation="http://10.192.26.101:7001/SBV.INTE.T24.VSD.WS/services?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.192.26.101:7001/SBV.INTE.T24.VSD.WS/services?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="VSDCreateForm1andForm4">
        <part element="tns:VSDCreateForm1andForm4" name="parameters"/>
    </message>
    <message name="VSDCreateForm1andForm4Response">
        <part element="tns:VSDCreateForm1andForm4Response" name="parameters"/>
    </message>
    <message name="VSDCreateForm1andForm4_Validate">
        <part element="tns:VSDCreateForm1andForm4_Validate" name="parameters"/>
    </message>
    <message name="VSDCreateForm1andForm4_ValidateResponse">
        <part element="tns:VSDCreateForm1andForm4_ValidateResponse" name="parameters"/>
    </message>
    <message name="CreditCitadTPCPInward">
        <part element="tns:CreditCitadTPCPInward" name="parameters"/>
    </message>
    <message name="CreditCitadTPCPInwardResponse">
        <part element="tns:CreditCitadTPCPInwardResponse" name="parameters"/>
    </message>
    <message name="CreditCitadTPCPInward_Validate">
        <part element="tns:CreditCitadTPCPInward_Validate" name="parameters"/>
    </message>
    <message name="CreditCitadTPCPInward_ValidateResponse">
        <part element="tns:CreditCitadTPCPInward_ValidateResponse" name="parameters"/>
    </message>
    <message name="VSDConfirm">
        <part element="tns:VSDConfirm" name="parameters"/>
    </message>
    <message name="VSDConfirmResponse">
        <part element="tns:VSDConfirmResponse" name="parameters"/>
    </message>
    <message name="VSDConfirm_Validate">
        <part element="tns:VSDConfirm_Validate" name="parameters"/>
    </message>
    <message name="VSDConfirm_ValidateResponse">
        <part element="tns:VSDConfirm_ValidateResponse" name="parameters"/>
    </message>
    <message name="VSDCreateForm3">
        <part element="tns:VSDCreateForm3" name="parameters"/>
    </message>
    <message name="VSDCreateForm3Response">
        <part element="tns:VSDCreateForm3Response" name="parameters"/>
    </message>
    <message name="VSDCreateForm3_Validate">
        <part element="tns:VSDCreateForm3_Validate" name="parameters"/>
    </message>
    <message name="VSDCreateForm3_ValidateResponse">
        <part element="tns:VSDCreateForm3_ValidateResponse" name="parameters"/>
    </message>
    <message name="VSDShowForm">
        <part name="parameters" element="tns:VSDShowForm"/>
    </message>
    <message name="VSDShowFormResponse">
        <part element="tns:VSDShowFormResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="VSDCreateForm1andForm4">
            <input message="tns:VSDCreateForm1andForm4" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm1andForm4Request"/>
            <output message="tns:VSDCreateForm1andForm4Response" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm1andForm4Response"/>
        </operation>
        <operation name="VSDCreateForm1andForm4_Validate">
            <input message="tns:VSDCreateForm1andForm4_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm1andForm4_ValidateRequest"/>
            <output message="tns:VSDCreateForm1andForm4_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm1andForm4_ValidateResponse"/>
        </operation>
        <operation name="CreditCitadTPCPInward">
            <input message="tns:CreditCitadTPCPInward" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/CreditCitadTPCPInwardRequest"/>
            <output message="tns:CreditCitadTPCPInwardResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/CreditCitadTPCPInwardResponse"/>
        </operation>
        <operation name="CreditCitadTPCPInward_Validate">
            <input message="tns:CreditCitadTPCPInward_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/CreditCitadTPCPInward_ValidateRequest"/>
            <output message="tns:CreditCitadTPCPInward_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/CreditCitadTPCPInward_ValidateResponse"/>
        </operation>
        <operation name="VSDConfirm">
            <input message="tns:VSDConfirm" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDConfirmRequest"/>
            <output message="tns:VSDConfirmResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDConfirmResponse"/>
        </operation>
        <operation name="VSDConfirm_Validate">
            <input message="tns:VSDConfirm_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDConfirm_ValidateRequest"/>
            <output message="tns:VSDConfirm_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDConfirm_ValidateResponse"/>
        </operation>
        <operation name="VSDCreateForm3">
            <input message="tns:VSDCreateForm3" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm3Request"/>
            <output message="tns:VSDCreateForm3Response" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm3Response"/>
        </operation>
        <operation name="VSDCreateForm3_Validate">
            <input message="tns:VSDCreateForm3_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm3_ValidateRequest"/>
            <output message="tns:VSDCreateForm3_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDCreateForm3_ValidateResponse"/>
        </operation>
        <operation name="VSDShowForm">
            <input message="tns:VSDShowForm" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDShowFormRequest"/>
            <output message="tns:VSDShowFormResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.VSD.WS/T24WebServicesImpl/VSDShowFormResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="VSDCreateForm1andForm4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="VSDCreateForm1andForm4_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreditCitadTPCPInward">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreditCitadTPCPInward_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="VSDConfirm">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="VSDConfirm_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="VSDCreateForm3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="VSDCreateForm3_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="VSDShowForm">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.192.26.101:7001/SBV.INTE.T24.VSD.WS/services"/>
        </port>
    </service>
</definitions>