SG31ESBProject/SharedResource/Schema/Global/Remittance/PortalFundXfer/PortalFundXfer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.sbv.gov.vn/global/remittance/portalfundxfer/version1.0" xmlns:tns="http://xmlns.example.com/1433466938916" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns6="http://www.sbv.gov.vn/global/remittance/cbpfundxfer/version1.0" targetNamespace="http://xmlns.example.com/1433466938916">
    <import namespace="http://www.sbv.gov.vn/global/remittance/portalfundxfer/version1.0" location="PortalFundXfer.xsd"/>
    <message name="createCBPFundReq">
        <part name="Req" element="ns:createCBPFundReq"/>
    </message>
    <message name="createCBPFundRes">
        <part name="Res" element="ns:createCBPFundRes"/>
    </message>
    <message name="createCDPFundReq">
        <part name="Req" element="ns:createCDPFundReq"/>
    </message>
    <message name="createCDPFundRes">
        <part name="Res" element="ns:createCDPFundRes"/>
    </message>
    <message name="createCBPFundCITADReq">
        <part name="Req" element="ns:createCBPFundCITADReq"/>
    </message>
    <message name="createCBPFundCITADRes">
        <part name="Res" element="ns:createCBPFundCITADRes"/>
    </message>
    <message name="ENQTransactionFeeByIDRequest">
        <part name="request" element="ns:ENQTransactionFeeByIDRequest"/>
    </message>
    <message name="ENQTransactionFeeByIDResponse">
        <part name="response" element="ns:ENQTransactionFeeByIDResponse"/>
    </message>
    <message name="ENQTransactionFeeByTypeRequest">
        <part name="request" element="ns:ENQTransactionFeeByTypeRequest"/>
    </message>
    <message name="ENQTransactionFeeByTypeResponse">
        <part name="response" element="ns:ENQTransactionFeeByTypeResponse"/>
    </message>
    <message name="createInquiryFTTransactionReq">
        <part name="Req" element="ns:createInquiryFTTransactionReq"/>
    </message>
    <message name="createInquiryFTTransactionRes">
        <part name="Res" element="ns:createInquiryFTTransactionRes"/>
    </message>
    <portType name="PortType">
        <operation name="createCBPFund">
            <input message="tns:createCBPFundReq"/>
            <output message="tns:createCBPFundRes"/>
        </operation>
        <operation name="createCDPFund">
            <input message="tns:createCDPFundReq"/>
            <output message="tns:createCDPFundRes"/>
        </operation>
        <operation name="createCBPFundCITAD">
            <input message="tns:createCBPFundCITADReq"/>
            <output message="tns:createCBPFundCITADRes"/>
        </operation>
        <operation name="ENQTransactionFeeByID">
            <input message="tns:ENQTransactionFeeByIDRequest"/>
            <output message="tns:ENQTransactionFeeByIDResponse"/>
        </operation>
        <operation name="ENQTransactionFeeByType">
            <input message="tns:ENQTransactionFeeByTypeRequest"/>
            <output message="tns:ENQTransactionFeeByTypeResponse"/>
        </operation>
        <operation name="createInquiryFTTransaction">
            <input message="tns:createInquiryFTTransactionReq"/>
            <output message="tns:createInquiryFTTransactionRes"/>
        </operation>
    </portType>
</definitions>