SG31ESBProject/SharedResource/Schema/Global/System/CSDSG4/CIPaymentCapability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="schema://www.sbv.gov.vn/Schema/Global/System/CSDSG4/UpdateCINetCreditLimit.xsd" xmlns:ns="schema://www.sbv.gov.vn/Schema/Global/System/CSDSG4/UpdateCICollaterizedAssets.xsd" xmlns:ns3="schema://www.sbv.gov.vn/Schema/Global/System/CSDSG4/UpdateCIPledgedAsset.xsd" xmlns:tns="http://wsdl.www.sbv.gov.vn/schema/global/system/csdtosg4/CSDToSG4.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.www.sbv.gov.vn/schema/global/system/csdtosg4/CSDToSG4.wsdl">
    <import namespace="schema://www.sbv.gov.vn/Schema/Global/System/CSDSG4/UpdateCICollaterizedAssets.xsd" location="UpdateCICollaterizedAssets.xsd"/>
    <import namespace="schema://www.sbv.gov.vn/Schema/Global/System/CSDSG4/UpdateCINetCreditLimit.xsd" location="UpdateCINetCreditLimit.xsd"/>
    <import namespace="schema://www.sbv.gov.vn/Schema/Global/System/CSDSG4/UpdateCIPledgedAsset.xsd" location="UpdateCIPledgedAsset.xsd"/>
    <message name="UpdateCICollaterizedAssetsRequest">
        <part name="request" element="ns:UpdateCICollaterizedAssetsRequest"/>
    </message>
    <message name="UpdateCICollaterizedAssetsResponse">
        <part name="response" element="ns:UpdateCICollaterizedAssetsResponse"/>
    </message>
    <message name="UpdateCINetCreditLimitRequest">
        <part name="request" element="ns2:UpdateCINetCreditLimitRequest"/>
    </message>
    <message name="UpdateCINetCreditLimitResponse">
        <part name="response" element="ns2:UpdateCINetCreditLimitResponse"/>
    </message>
    <message name="UpdateCIPledgedAssetRequest">
        <part name="request" element="ns3:UpdateCIPledgedAssetRequest"/>
    </message>
    <message name="UpdateCIPledgedAssetResponse">
        <part name="response" element="ns3:UpdateCIPledgedAssetResponse"/>
    </message>
    <portType name="CIPaymentCapability">
        <operation name="UpdateCICollaterizedAssets">
            <input message="tns:UpdateCICollaterizedAssetsRequest"/>
            <output message="tns:UpdateCICollaterizedAssetsResponse"/>
        </operation>
        <operation name="UpdateCINetCreditLimit">
            <input message="tns:UpdateCINetCreditLimitRequest"/>
            <output message="tns:UpdateCINetCreditLimitResponse"/>
        </operation>
        <operation name="UpdateCIPledgedAsset">
            <input message="tns:UpdateCIPledgedAssetRequest"/>
            <output message="tns:UpdateCIPledgedAssetResponse"/>
        </operation>
    </portType>
</definitions>