SG31ESBProject/SharedResource/Schema/Global/System/CSD/PaymentDueLoanService/PaymentDue-PaymentDueFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/PaymentDue/PaymentDueFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/PaymentDue/PaymentDueFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../../T24/QueueSchema/Common-EventCommon.xsd"/>
	<xsd:element name="PaymentDueFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="totOvrdueTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="overDueStatus" minOccurs="0"/>
				<xsd:element ref="status" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="totOvrdueTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="totOvrdueType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totOdTypeAmt" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="overDueStatus" type="xsd:string"/>
	<xsd:element name="status" type="xsd:string"/>
</xsd:schema>