SIT/SG31ESBProject_SIT/SharedResource/Schema/Global/System/T24/QueueSchema/CalendarPublic/T24HolidaySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/Holiday/HolidayFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/Holiday/HolidayFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../Common-EventCommon.xsd"/>
	<xsd:element name="HolidayFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="mth01Table" minOccurs="0"/>
				<xsd:element ref="mth02Table" minOccurs="0"/>
				<xsd:element ref="mth03Table" minOccurs="0"/>
				<xsd:element ref="mth04Table" minOccurs="0"/>
				<xsd:element ref="mth05Table" minOccurs="0"/>
				<xsd:element ref="mth06Table" minOccurs="0"/>
				<xsd:element ref="mth07Table" minOccurs="0"/>
				<xsd:element ref="mth08Table" minOccurs="0"/>
				<xsd:element ref="mth09Table" minOccurs="0"/>
				<xsd:element ref="mth10Table" minOccurs="0"/>
				<xsd:element ref="mth11Table" minOccurs="0"/>
				<xsd:element ref="mth12Table" minOccurs="0"/>
				<xsd:element ref="january" minOccurs="0"/>
				<xsd:element ref="february" minOccurs="0"/>
				<xsd:element ref="march" minOccurs="0"/>
				<xsd:element ref="april" minOccurs="0"/>
				<xsd:element ref="may" minOccurs="0"/>
				<xsd:element ref="june" minOccurs="0"/>
				<xsd:element ref="july" minOccurs="0"/>
				<xsd:element ref="august" minOccurs="0"/>
				<xsd:element ref="september" minOccurs="0"/>
				<xsd:element ref="october" minOccurs="0"/>
				<xsd:element ref="november" minOccurs="0"/>
				<xsd:element ref="december" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="mth01Table" type="xsd:string"/>
	<xsd:element name="mth02Table" type="xsd:string"/>
	<xsd:element name="mth03Table" type="xsd:string"/>
	<xsd:element name="mth04Table" type="xsd:string"/>
	<xsd:element name="mth05Table" type="xsd:string"/>
	<xsd:element name="mth06Table" type="xsd:string"/>
	<xsd:element name="mth07Table" type="xsd:string"/>
	<xsd:element name="mth08Table" type="xsd:string"/>
	<xsd:element name="mth09Table" type="xsd:string"/>
	<xsd:element name="mth10Table" type="xsd:string"/>
	<xsd:element name="mth11Table" type="xsd:string"/>
	<xsd:element name="mth12Table" type="xsd:string"/>
	<xsd:element name="january" type="xsd:string"/>
	<xsd:element name="february" type="xsd:string"/>
	<xsd:element name="march" type="xsd:string"/>
	<xsd:element name="april" type="xsd:string"/>
	<xsd:element name="may" type="xsd:string"/>
	<xsd:element name="june" type="xsd:string"/>
	<xsd:element name="july" type="xsd:string"/>
	<xsd:element name="august" type="xsd:string"/>
	<xsd:element name="september" type="xsd:string"/>
	<xsd:element name="october" type="xsd:string"/>
	<xsd:element name="november" type="xsd:string"/>
	<xsd:element name="december" type="xsd:string"/>
</xsd:schema>