SG31ESBProject/SharedResource/Schema/Global/System/T24/Reuter/SBV.INTE.T24.REUTER.WS.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS" targetNamespace="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS">
	<xsd:complexType name="enquiryInputCollection">
		<xsd:sequence>
			<xsd:element name="columnName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="criteriaValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="operand" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enquiryInput">
		<xsd:sequence>
			<xsd:element name="enquiryInputCollection" type="ns0:enquiryInputCollection" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXSpotForwardDealInput_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="FOREXType" type="ns0:FOREXType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXSpotForwardDealInput">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="FOREXSBVREUTERSPFWINPType" type="ns0:FOREXSBVREUTERSPFWINPType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SBVCHECKSOURCEREFType">
		<xsd:sequence>
			<xsd:element name="gSBVCHECKSOURCEREFDetailType" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mSBVCHECKSOURCEREFDetailType" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="SourceRef" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TransactionID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="RecordStatus" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SBVFXREUTERType">
		<xsd:sequence>
			<xsd:element name="FXID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COUNTERPARTY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REUBBCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VALUEDATEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VALUEDATESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPOTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FORWARDRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OURACCOUNTREC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gREURECNAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="REURECNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OURACCOUNTPAY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gREUPAYNAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="REUPAYNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SWAPINFO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED10" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED9" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED8" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED7" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED6" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED5" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED4" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Status">
		<xsd:sequence>
			<xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="successIndicator" type="ns0:successIndicator" minOccurs="0"/>
			<xsd:element name="application" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SBVFXREUTERSBVREUTERSWINPType">
		<xsd:sequence>
			<xsd:element name="DealDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DealType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Counterparty" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReuterBBCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencyBought" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BuyAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueDateBuy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencySold" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SellAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueDateSell" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpotRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ForwardRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gREURECNAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SettlementAcforBuy1" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gREUPAYNAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SettlementAcforSell1" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SwapInformation" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MMMONEYMARKETType">
		<xsd:sequence>
			<xsd:element name="CUSTOMERID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PRINCIPAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VALUEDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MATURITYDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CATEGORY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTRATETYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTERESTBASIS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTERESTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTERESTKEY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTERESTSPREAD1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCRUALPARAM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTINTERESTAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTDUEDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIQDEFERINTEREST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAGE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERCCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gOURREMARKS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OURREMARKS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DRAWDOWNACCOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PRINLIQACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PRINBENBANK1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PRINBENBANK2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gPRINADDRESS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PRINADDRESS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gBENEFPRINACCT" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BENEFPRINACCT" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INTLIQACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTBENBANK1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTBENBANK2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINTADDRESS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INTADDRESS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gBENINTACCT" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BENINTACCT" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gTAXINTERESTKEY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TAXINTERESTKEY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LIMITREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="THIRDPARTYREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTOMERREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCUSTREMARKS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CUSTREMARKS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FEDERALFUNDS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERYLINK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHRGLIQACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHARGECODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHARGECODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHARGECODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHARGEAMOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CURRENCYMARKET" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSITIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEGREFNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTREFNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MISINTERESTKEY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MISINTERESTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COUNTRYRISK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COUNTRYEXPOSURE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MISACCTOFFICER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDCOMMRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDTOTCOMMAMNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDUCIARYBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDASSOCLDREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDDRAWDOWNACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDPRINLIQACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDPRINBENBK1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIDPRINBENBK2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gFIDPRINADD" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FIDPRINADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gFIDBENPRINAC" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FIDBENPRINAC" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gACTIVITYCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mACTIVITYCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ACTIVITYCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ADVICESENT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PRININCREASE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INCREFFDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROLLOVERMARKER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROLLOVERDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEWINTERESTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEWINTRSTSPREAD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CAPITALISATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONFBYCUST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONFBYBROKER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWIFTCOMMONREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTINTTAX" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALERDESK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORIGINALFUNCTION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMMRATEFLAG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMMAMTFLAG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORTFOLIONUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gBKTOBKINFO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BKTOBKINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INTCCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTCCYMKT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHGTAXCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHGTAXCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHGTAXCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHGTAXAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHGTAXAMTLCY" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TOTALCHARGE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALTAXONCHG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHGVALUEDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUTOROLLOVER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUTOCAPITALISE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUTOROLLTERM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROLLOVERINTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LINKEDCONTRACT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LINKREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIQUIDATIONMODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OVERDUESTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTPERIODSTART" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTPERIODEND" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEXTINTAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEXTINTTAXAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEXTPRINAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORIGSTARTDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORIGMATDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PREVMATDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MIFUNDINGDEPT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gTAXINTERESTTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TAXINTERESTTYPE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CONTRACTGRP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PIINTKEY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gMERGECONTRACT" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mMERGECONTRACT" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MERGECONTRACT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MERGEAMOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FINALMATURITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FVRATEKEY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FVMARGINKEY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MATUREATSOD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MAXLEGALBAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gGRINTTAXLCY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GRINTTAXLCY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINTTAXLCY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INTTAXLCY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gGRINTTAXFCY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GRINTTAXFCY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINTTAXFCY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INTTAXFCY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EFFINTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MATUREDONLINE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gMISCOFTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mMISCOFTYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MISCOFTYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MISCOFRATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MISCOFDEPT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FUNDID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEGATIVERATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDPAYMENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTSCHEDULE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEXTINTSCHAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROUNDINGRULE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPECINTMETHOD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IASCLASSIFICATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SUBTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MARKETRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MARKETMARGIN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMPOUNDTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMPOUNDYLDMTHD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED10" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED9" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED8" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED7" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED6" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED5" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED4" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gSTMTNO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="STMTNO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYUNIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYEXVAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FCCBBRTID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORTPPID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSENDERREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRELATEDREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LROLLOVERAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LTOTALPIAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFIXBISRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LMMROLLDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BANKINGCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSENDPAYMENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LMMIDOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LMMIDOLDPRE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LMMINT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LROLLOVERDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LTOTACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LREUACNAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gL.REU.REC.NAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LREURECNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LREUBBCODE" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MMMONEYMARKETSBVREUTERPLACEType">
		<xsd:sequence>
			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Principal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DealDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MaturityDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InterestRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReuterID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gL.REU.REC.NAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CreditAccount" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Counterparty" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MMdealInput_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="MMMONEYMARKETType" type="ns0:MMMONEYMARKETType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXSwapDealInputResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="SBVFXREUTERType" type="ns0:SBVFXREUTERType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXSwapDealInput_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="SBVFXREUTERType" type="ns0:SBVFXREUTERType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CheckSourceReferencyResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="SBVCHECKSOURCEREFType" type="ns0:SBVCHECKSOURCEREFType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MMdealInput">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="MMMONEYMARKETSBVREUTERPLACEType" type="ns0:MMMONEYMARKETSBVREUTERPLACEType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="webRequestCommon">
		<xsd:sequence>
			<xsd:element name="company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="userName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXSpotForwardDealInput_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="FOREXSBVREUTERSPFWINPType" type="ns0:FOREXSBVREUTERSPFWINPType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOREXSBVREUTERSPFWINPType">
		<xsd:sequence>
			<xsd:element name="DealType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Counterparty" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencyBought" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BuyAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueDateBuy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencySold" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SellAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueDateSell" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpotRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ForwardRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DealDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReuterReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SwapInformation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReuterBBCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gL.REU.PAY.NAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SettlementAcforSell1" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gL.REU.REC.NAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SettlementAcforBuy1" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="FXSpotForwardDealInputResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="FOREXType" type="ns0:FOREXType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ofsFunction">
		<xsd:sequence>
			<xsd:element name="activityName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assignReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcess" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcessID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gtsControl" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="noOfAuth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="owner" type="xsd:string" minOccurs="0"/>
			<xsd:element name="replace" type="xsd:string" minOccurs="0"/>
			<xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="user" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOREXType">
		<xsd:sequence>
			<xsd:element name="DEALTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALSUBTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COUNTERPARTY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALERDESK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYMARKET" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VALUEDATEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VALUEDATESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPOTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FORWARDRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWAPBASECCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAGE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAGECCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAGEAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONFIRMDBYBROKER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIMITREFERENCENO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSITIONTYPEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSITIONTYPESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEGOTIATEDREFNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REVALUATIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPOTDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BASECCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPOTLCYAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gSWAPREFNO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SWAPREFNO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INTRATEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTRATESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONCURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONOSAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gOPTIONRATEDATE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mOPTIONRATEDATE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="OPTIONRATEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="OPTIONRATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="OPTIONRATEID" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gOURACCOUNTPAY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mOURACCOUNTPAY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="OURACCOUNTPAY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="OURACCOUNTREC" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELDATEBUY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELAMOUNTBUY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELDATESELL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELAMOUNTSELL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELLCYAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="BENEFICIARYNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgBENFCYADD" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BENFCYADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="CPARTYCORRNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgCPYCORRADD" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="CPYCORRADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="CPARTYBANKACC" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INTERMEDBKNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgINTERMEDADD" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="INTERMEDADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgCONFNARR" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="CONFNARR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgPAYMTNARR" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="PAYMTNARR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgRECADVNARR" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="RECADVNARR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgBKTOBKINF" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BKTOBKINF" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="PAYACCPOSTED" type="xsd:string" minOccurs="0"/>
									<xsd:element name="RECACCPOSTED" type="xsd:string" minOccurs="0"/>
									<xsd:element name="PAYMENTSENT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ADVICESENT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgACTIVITYCODE" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ACTIVITYCODE" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="ACTIVITYCODE" type="xsd:string" minOccurs="0"/>
															<xsd:element name="CONFIRMSENT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="DELCHGACCOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELCHGACCCCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELRATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELAMOUNTCHG" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgDELCHGTYPE" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="DELCHGTYPE" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="DELCHGTYPE" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELCHGAMT" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELCHGLCY" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELTAXTYPE" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELTAXAMT" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELTAXLCY" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="DELRATEID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CONFBYCPARTY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYLCYEQUIV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELLCYEQUIV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYDAILYACCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYACCTDATEL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYDAILYACCF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYACCTDATEF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELDAILYACCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELACCTDATEL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELDAILYACCF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELACCTDATEF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWIFTCOMMONREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CATEGORYCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TREASURYCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCOUNTTOCHARGE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MKTGEXCHPROFIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMMISSIONTAKEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TREASURYRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MARGINPERC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MARGINPIPS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXGROUPCONDID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHARGECODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHARGECODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHARGECODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHARGEAMOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gTAXCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mTAXCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="TAXCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TAXAMOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ACCOUNTOFFICER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FEDFUNDS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDCONFIRMATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDPAYMENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDADVICE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CORRAMENDMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REPLACINGDEALNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gNOTES" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NOTES" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDEALERNOTES" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DEALERNOTES" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ORIGINALFUNCTION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gEQVCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mEQVCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EQVCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="EQUIVAMT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BROKERAGEEQUIV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHARGEEQUIV" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHARGEEQUIV" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHARGEEQUIV" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TAXEQUIV" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOTIONALBUYAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NOTIONALSELLAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORTFOLIONUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALINTBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALINTSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EQUIVINTBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EQUIVINTSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTBASISBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTBASISSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BULKDEAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BULKREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRANSACTIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gORGVALBUYDATE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mORGVALBUYDATE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ORGVALBUYDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ORGVALSELDATE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AMTBOUGHTOS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMTSOLDOS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALMARKET" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LINKREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NETTINGSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMORTISEPOSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMORTISEFROMDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMORTISECYCLE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MKTGEXCHADJ" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSDELBUYAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSDELSELLAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSLCYEQUIVAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSLSTLIMBUYEOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSLSTLIMSELEOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OLDINTRATECALC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWAPPLFWDPOS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REALISEFIXPL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIXPLREALISED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LASTDELID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SODMAT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gFXBULKORDRID" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FXBULKORDRID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FXORDERID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CLSDEAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IDENTIFICATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERYDETAILS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AVAILABILITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ALLOCATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="METALTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FURTHERINDENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="QUANTITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CLOSINGID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRADEORDID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROUNDINGRULE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AGREEMENTTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TERMSANDCONDS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gADDLINFOMETAL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ADDLINFOMETAL" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ORIGINATINGDEPT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHANTOMIND" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCONSOLIND" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CONSOLIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gSTMTNO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="STMTNO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYUNIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYEXVAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gFCC.PURPOSE.ID" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mFCC.PURPOSE.ID" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="FCCPURPOSEID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FCCPURPDESC" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FCCBBRTID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FCCPROPID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXGOLDDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWIFT_30094A" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFXCONTENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSENDERREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRELATEDREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LGOLDAMOUNTF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFOZ" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFXIDOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFXIDOLDPRE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSOURCEREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LAUTIONDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LORDERID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSWAPINFO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LREUBBCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gL.REU.PAY.NAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LREUPAYNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gL.REU.REC.NAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LREURECNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LSYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRBDATESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRBDATEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRBFWRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gL.FX.REF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LFXREF" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MMdealInput_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="MMMONEYMARKETSBVREUTERPLACEType" type="ns0:MMMONEYMARKETSBVREUTERPLACEType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXSwapDealInput">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="SBVFXREUTERSBVREUTERSWINPType" type="ns0:SBVFXREUTERSBVREUTERSWINPType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CheckSourceReferency">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="SBVCHECKSOURCEREFType" type="ns0:enquiryInput" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXSwapDealInput_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="SBVFXREUTERSBVREUTERSWINPType" type="ns0:SBVFXREUTERSBVREUTERSWINPType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MMdealInputResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="MMMONEYMARKETType" type="ns0:MMMONEYMARKETType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FXSpotForwardDealInput_Validate" type="ns0:FXSpotForwardDealInput_Validate"/>
	<xsd:element name="FXSpotForwardDealInput_ValidateResponse" type="ns0:FXSpotForwardDealInput_ValidateResponse"/>
	<xsd:element name="FXSpotForwardDealInput" type="ns0:FXSpotForwardDealInput"/>
	<xsd:element name="FXSpotForwardDealInputResponse" type="ns0:FXSpotForwardDealInputResponse"/>
	<xsd:element name="MMdealInput_Validate" type="ns0:MMdealInput_Validate"/>
	<xsd:element name="MMdealInput_ValidateResponse" type="ns0:MMdealInput_ValidateResponse"/>
	<xsd:element name="FXSwapDealInput" type="ns0:FXSwapDealInput"/>
	<xsd:element name="FXSwapDealInputResponse" type="ns0:FXSwapDealInputResponse"/>
	<xsd:element name="FXSwapDealInput_Validate" type="ns0:FXSwapDealInput_Validate"/>
	<xsd:element name="CheckSourceReferency" type="ns0:CheckSourceReferency"/>
	<xsd:element name="FXSwapDealInput_ValidateResponse" type="ns0:FXSwapDealInput_ValidateResponse"/>
	<xsd:element name="CheckSourceReferencyResponse" type="ns0:CheckSourceReferencyResponse"/>
	<xsd:element name="MMdealInput" type="ns0:MMdealInput"/>
	<xsd:element name="MMdealInputResponse" type="ns0:MMdealInputResponse"/>
	<xsd:simpleType name="successIndicator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Success"/>
			<xsd:enumeration value="TWSError"/>
			<xsd:enumeration value="T24Error"/>
			<xsd:enumeration value="T24Override"/>
			<xsd:enumeration value="T24Offline"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>