SG31ESBProject/SharedResource/Schema/Global/System/T24/Reuter/SBV.INTE.T24.REUTER.WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS">
    <import namespace="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS" location="SBV.INTE.T24.REUTER.WS.xsd"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS" schemaLocation="http://10.1.26.6:7001/SBV.INTE.T24.REUTER.BB.WS/services?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.1.26.6:7001/SBV.INTE.T24.REUTER.BB.WS/services?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="FXSwapDealInput">
        <part name="parameters" element="tns:FXSwapDealInput"/>
    </message>
    <message name="FXSwapDealInputResponse">
        <part element="tns:FXSwapDealInputResponse" name="parameters"/>
    </message>
    <message name="FXSwapDealInput_Validate">
        <part element="tns:FXSwapDealInput_Validate" name="parameters"/>
    </message>
    <message name="FXSwapDealInput_ValidateResponse">
        <part element="tns:FXSwapDealInput_ValidateResponse" name="parameters"/>
    </message>
    <message name="CheckSourceReferency">
        <part element="tns:CheckSourceReferency" name="parameters"/>
    </message>
    <message name="CheckSourceReferencyResponse">
        <part element="tns:CheckSourceReferencyResponse" name="parameters"/>
    </message>
    <message name="MMdealInput">
        <part element="tns:MMdealInput" name="parameters"/>
    </message>
    <message name="MMdealInputResponse">
        <part element="tns:MMdealInputResponse" name="parameters"/>
    </message>
    <message name="MMdealInput_Validate">
        <part element="tns:MMdealInput_Validate" name="parameters"/>
    </message>
    <message name="MMdealInput_ValidateResponse">
        <part element="tns:MMdealInput_ValidateResponse" name="parameters"/>
    </message>
    <message name="FXSpotForwardDealInput">
        <part element="tns:FXSpotForwardDealInput" name="parameters"/>
    </message>
    <message name="FXSpotForwardDealInputResponse">
        <part element="tns:FXSpotForwardDealInputResponse" name="parameters"/>
    </message>
    <message name="FXSpotForwardDealInput_Validate">
        <part element="tns:FXSpotForwardDealInput_Validate" name="parameters"/>
    </message>
    <message name="FXSpotForwardDealInput_ValidateResponse">
        <part element="tns:FXSpotForwardDealInput_ValidateResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="FXSwapDealInput">
            <input message="tns:FXSwapDealInput" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSwapDealInputRequest"/>
            <output message="tns:FXSwapDealInputResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSwapDealInputResponse"/>
        </operation>
        <operation name="FXSwapDealInput_Validate">
            <input message="tns:FXSwapDealInput_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSwapDealInput_ValidateRequest"/>
            <output message="tns:FXSwapDealInput_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSwapDealInput_ValidateResponse"/>
        </operation>
        <operation name="CheckSourceReferency">
            <input message="tns:CheckSourceReferency" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/CheckSourceReferencyRequest"/>
            <output message="tns:CheckSourceReferencyResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/CheckSourceReferencyResponse"/>
        </operation>
        <operation name="MMdealInput">
            <input message="tns:MMdealInput" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/MMdealInputRequest"/>
            <output message="tns:MMdealInputResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/MMdealInputResponse"/>
        </operation>
        <operation name="MMdealInput_Validate">
            <input message="tns:MMdealInput_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/MMdealInput_ValidateRequest"/>
            <output message="tns:MMdealInput_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/MMdealInput_ValidateResponse"/>
        </operation>
        <operation name="FXSpotForwardDealInput">
            <input message="tns:FXSpotForwardDealInput" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSpotForwardDealInputRequest"/>
            <output message="tns:FXSpotForwardDealInputResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSpotForwardDealInputResponse"/>
        </operation>
        <operation name="FXSpotForwardDealInput_Validate">
            <input message="tns:FXSpotForwardDealInput_Validate" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSpotForwardDealInput_ValidateRequest"/>
            <output message="tns:FXSpotForwardDealInput_ValidateResponse" wsam:Action="http://temenos.com/SBV.INTE.T24.REUTER.BB.WS/T24WebServicesImpl/FXSpotForwardDealInput_ValidateResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FXSwapDealInput">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FXSwapDealInput_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CheckSourceReferency">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMdealInput">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MMdealInput_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FXSpotForwardDealInput">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FXSpotForwardDealInput_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.1.26.6:7001/SBV.INTE.T24.REUTER.BB.WS/services"/>
        </port>
    </service>
</definitions>