SIT/SG31ESBProject_SIT/SharedResource/Schema/Global/System/T24/QueueSchema/CitadIn/T24WebServicesImplService_CitadIn.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:ns0="http://temenos.com/FTSBVCITAD" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://temenos.com/FTSBVCITAD">
	<xsd:complexType name="Status">
		<xsd:sequence>
			<xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="successIndicator" type="ns0:successIndicator" minOccurs="0"/>
			<xsd:element name="application" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ofsFunction">
		<xsd:sequence>
			<xsd:element name="activityName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assignReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcess" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcessID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gtsControl" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="noOfAuth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="owner" type="xsd:string" minOccurs="0"/>
			<xsd:element name="replace" type="xsd:string" minOccurs="0"/>
			<xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="user" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FTCitadInwardRemittance_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERType" type="ns0:FUNDSTRANSFERType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="webRequestCommon">
		<xsd:sequence>
			<xsd:element name="company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="userName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FUNDSTRANSFERSBVCITADINType">
		<xsd:sequence>
			<xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitValueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitNarrative" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditAccount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditValueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gORDERINGCUST" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OrderingCustomer" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InBeneficiaryAccountNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINBENCUSTOMER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="InBeneficiary" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gPAYMENTDETAILS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PaymentDetails" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BankSortCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RoundingType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gSIGNATORY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Signatory" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IBPSTransReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CitadType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InReceivingBank" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SendingBankCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InSendingBank" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="FTCitadInwardRemittance_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERSBVCITADINType" type="ns0:FUNDSTRANSFERSBVCITADINType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FUNDSTRANSFERType">
		<xsd:sequence>
			<xsd:element name="TRANSACTIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INDEBITACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYMKTDR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INDEBITVDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITTHEIRREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITTHEIRREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYMKTCR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TREASURYRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEGDEALERREFNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROCESSINGDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gORDERINGCUST" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ORDERINGCUST" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINORDERINGCUS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INORDERINGCUS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gORDERINGBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ORDERINGBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINORDERINGBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INORDERINGBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gACCTWITHBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ACCTWITHBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gACCTWITHBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ACCTWITHBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BENACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INBENACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gBENCUSTOMER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BENCUSTOMER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINBENCUSTOMER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INBENCUSTOMER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gBENBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BENBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINBENBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INBENBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CHEQUENUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gPAYMENTDETAILS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PAYMENTDETAILS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINPAYDETAILS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPAYDETAILS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BCBANKSORTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECEIVERBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gRECCORRBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RECCORRBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINTERMEDBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INTERMEDBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gININTMEDBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ININTMEDBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MAILING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PAYMETHOD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BENOURCHARGES" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INBENOURCHARGES" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHARGESACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHARGECOMDISPLAY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMMISSIONCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCOMMISSIONTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCOMMISSIONTYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="COMMISSIONTYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COMMISSIONAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COMMISSIONFOR" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CHARGECODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHARGETYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHARGETYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHARGETYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHARGEAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHARGEFOR" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CUSTOMERSPREAD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BASECURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROFITCENTRECUST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROFITCENTREDEPT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RETURNTODEPT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PRIORITYTXN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gBKTOBKINFO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BKTOBKINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINBKTOBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INBKTOBKINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EXPOSUREDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FEDFUNDS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSITIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NOOFBATCHITEMS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gFREETEXTMSGTO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FREETEXTMSGTO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gMESSAGE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="MESSAGE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gTAXTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mTAXTYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="TAXTYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TAXAMT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AMOUNTDEBITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTCREDITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALCHARGEAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALTAXAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTOMERRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINRECCORRBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INRECCORRBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INWARDPAYTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINSENDCORRBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSENDCORRBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TELEXFROMCUST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERYINREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gDELIVERYOUTREF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DELIVERYOUTREF" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CREDITCOMPCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITCOMPCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERYMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORDCUSTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCTWITHBKACNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCAMTDEBITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCAMTCREDITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCTOTTAXAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCALCHARGEAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCPOSCHGSAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MKTGEXCHPROFIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RATEINPUTMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTGROUPLEVEL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDPAYMENTYN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DRADVICEREQDYN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRADVICEREQDYN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALMARKET" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHARGEDCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINREASONOVE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INREASONOVE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DEALERDESK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECALCFWDRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RETURNCHEQUE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DRAWNACCOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCOUNTINGDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINSTRCTNCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSTRCTNCODE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="COLLREMBK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXPECTEDRECSID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCOMM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCOMMLCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCHG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCHGLCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHEQTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gRELATEDMSG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mRELATEDMSG" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="RELATEDMSG" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgTIMEIND" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="TIMEIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINTIMEIND" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INTIMEIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gSENDTOPARTY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mSENDTOPARTY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="SENDTOPARTY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgBKTOBKOUT" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BKTOBKOUT" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="MESSAGETYPE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="REVERSALMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RELATEDREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gININSTRCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ININSTRCODE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINPROCESSERR" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPROCESSERR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINSWIFTMSG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSWIFTMSG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ACCTWITHBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INACCTBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECCORRBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INRECCORRACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTERMEDBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ININTERMEDACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INSTRUCTEDAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gININTERMEDBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ININTERMEDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INEXCHRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RATEFIXING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COVERMETHOD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gIN3RDREIMBBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IN3RDREIMBBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IN3RDREIMBACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MT103TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXTENDFORMAT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gEXTENDINFO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EXTENDINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RATEFIXINGIND" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INWSENDBIC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINSENDCHG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSENDCHG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INRECCHG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCHGREQID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCHGCRCCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTSNDCHGCRCCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHGADVICEMSG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXPECTEDCOVERID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NETTINGSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUTHDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BKOPERATIONCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMINFLOWRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PARENTTXNID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROUNDTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BENEFICIARYID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gMSGTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mMSGTYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MSGTYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MSGDATE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gSIGNATORY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SIGNATORY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CARDNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCARDTXNDETAIL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CARDTXNDETAIL" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCORDBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCORDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCINTMEDBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCINTMEDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCACCWITBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCACCWITBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCBKTBKIN" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCBKTBKIN" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TFSREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHEQUEDRAWN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ISSUECHEQUETYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STOCKNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PAYEENAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STOCKREGISTER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERIESID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORDCUSTACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INORDCUSTACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANDEBIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANCREDIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANBEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANACCTWITHBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANRECCORRBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANINTERMEDBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANORDCUSTACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANCHARGESACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BICIBANBEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gBICIBANBENNAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BICIBANBENNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BICIBANBENCITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED7" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED6" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED5" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED4" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gSTMTNOS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="STMTNOS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCODEDR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCODECR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCODECH" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCOUNTRYDR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCOUNTRYCR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCOUNTRYCH" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IMMEDIATELY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FUTUREDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ATUNIQUEID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BALAFTTXN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ATAUTHCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ATMGENMAPID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXREFNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SOURCESYSID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMTNETTING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROCESSDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TYPEFLAG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHECKCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPERATION1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPERATION2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBPSTRANS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SECTRADEREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUNETAMTRD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONFIRMAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRADEDIFFAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIBPSREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIBPSTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CITADTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LPROCESSTIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LAMTNETTING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OCICODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OINDIRECT2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RCICODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RINDIRECTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CITADIDREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LCITADTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFENUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LDEALNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCICODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRCICODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OINDIRECTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LTRANSCOUNT" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="FTCitadInwardRemittanceResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERType" type="ns0:FUNDSTRANSFERType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FTCitadInwardRemittance">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERSBVCITADINType" type="ns0:FUNDSTRANSFERSBVCITADINType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FTCitadInwardRemittance_ValidateResponse" type="ns0:FTCitadInwardRemittance_ValidateResponse"/>
	<xsd:element name="FTCitadInwardRemittance_Validate" type="ns0:FTCitadInwardRemittance_Validate"/>
	<xsd:element name="FTCitadInwardRemittanceResponse" type="ns0:FTCitadInwardRemittanceResponse"/>
	<xsd:element name="FTCitadInwardRemittance" type="ns0:FTCitadInwardRemittance"/>
	<xsd:simpleType name="successIndicator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Success"/>
			<xsd:enumeration value="TWSError"/>
			<xsd:enumeration value="T24Error"/>
			<xsd:enumeration value="T24Override"/>
			<xsd:enumeration value="T24Offline"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>