Production/SG31ESBProject_Prod/SharedResource/Schema/Global/System/CSD/ErpPostToCSDService/GetAccListFrErp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAccListFrErp"
	 xmlns:ns0="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices"
	 targetNamespace="http://fis.vn/iMaximusGateway/ErpPostToCsdService/GetAccListFrErp"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" schemaLocation="WCFServices.xsd"/>
	<xs:complexType name="GetAccListFrErpRequest">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q1:RequestHeader" nillable="true" minOccurs="0"/>
			<xs:element name="Request" type="ArrayOfGetAccListFrErpRequestType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetAccListFrErpRequest" type="GetAccListFrErpRequest" nillable="true"/>
	<xs:complexType name="ArrayOfGetAccListFrErpRequestType">
		<xs:sequence>
			<xs:element name="GetAccListFrErpRequestType" type="GetAccListFrErpRequestType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGetAccListFrErpRequestType" type="ArrayOfGetAccListFrErpRequestType" nillable="true"/>
	<xs:complexType name="GetAccListFrErpRequestType">
		<xs:sequence>
			<xs:element name="AccountGroup" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="AccountName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="AccountNo" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="AccountType" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Level" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="ParentAccount" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetAccListFrErpRequestType" type="GetAccListFrErpRequestType" nillable="true"/>
	<xs:complexType name="GetAccListFrErpResponse">
		<xs:sequence>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="Header" type="q2:ResponseHeader" nillable="true" minOccurs="0"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iMaximus.Gateway.WCFServices" name="ResponseStatus" type="q3:ResponseStatus" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetAccListFrErpResponse" type="GetAccListFrErpResponse" nillable="true"/>
</xs:schema>