UAT/SG31ESBProject_UAT/SharedResource/Schema/Global/System/T24/SBV.CSD.T24Service/SBV.CSD.T24Service.WS_xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT"
	 targetNamespace="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:complexType name="transactionId">
		<xsd:sequence>
			<xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SBVFTLVBULKType">
		<xsd:sequence>
			<xsd:element name="gIBPSREF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mIBPSREF" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="IBPSREF" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FTREF" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCITADNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITNAME" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITCURBAL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCITADNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITNAME" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITCURBAL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TRANSCOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FTSTATUS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FTERRORMSG" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FENUMBER" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRANSFLAG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROCESSINGDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RELOAD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FTGENERATELSTAT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMPANYCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gERRORMSG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ERRORMSG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="FUNDSTRANSFERSBVFTCSDWSType">
		<xsd:sequence>
			<xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebitValueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditAccount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditValueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SourceSystemID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SystemType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FENumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DealNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="SBVFTLVBULKSBVFTCSDWSType">
		<xsd:sequence>
			<xsd:element name="gIBPSREF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mIBPSREF" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CSDRef" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DebitAccountNo" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DebitCurrency" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DebitAmount" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DebitValueDate" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CreditAccountNo" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CreditAmount" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CreditValueDate" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DealNumber" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FeNumber" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SystemType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFTBulkResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKType" type="SBVFTLVBULKType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LIMITSBVUNSECType">
		<xsd:sequence>
			<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NNReviewFrequency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NNExpiryDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InternalAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NNMaximumTotal" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="AOMQueryAccountResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="ENQQUERYACCTCSDType" type="ENQQUERYACCTCSDType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDReverseFTBulkResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKType" type="SBVFTLVBULKType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LIMITType">
		<xsd:sequence>
			<xsd:element name="LIMITCURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCOUNTRYOFRISK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCOUNTRYOFRISK" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="COUNTRYOFRISK" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COUNTRYPERCENT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="APPROVALDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OFFEREDUNTIL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REVIEWFREQUENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXPIRYDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ADMEXTENSIONDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROPOSALDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ONLINELIMITDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gPRODUCTALLOWED" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PRODUCTALLOWED" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gLIMITGRADE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mLIMITGRADE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="LIMITGRADE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="GRADEPERCENT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gNOTES" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NOTES" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INTERNALAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ADVISEDAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIXEDVARIABLE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCOLLATERALCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCOLLATERALCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="COLLATERALCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLREQDAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLREQDPRCNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgUPTOPERIOD" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="UPTOPERIOD" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="UPTOPERIOD" type="xsd:string" minOccurs="0"/>
															<xsd:element name="PERIODAMT" type="xsd:string" minOccurs="0"/>
															<xsd:element name="PERIODPRCNT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="MAXIMUMSECURED" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MAXIMUMUNSECURED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MAXIMUMTOTAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OTHERSECURED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCOLLATRIGHT" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCOLLATRIGHT" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="sgCOLLATRIGHT" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="COLLATRIGHT" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="COLLATRIGHT" type="xsd:string" minOccurs="0"/>
															<xsd:element name="SECUREDAMT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gTIMECODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mTIMECODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="TIMECODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="LIMITBAND" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ONLINELIMIT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SUBALLOCTAKEN" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SUBALLOCGIVEN" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COMMTAMTAVAIL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TOTALOS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AVAILAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgSALTKNCCY" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="SALTKNCCY" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="SALTKNCCY" type="xsd:string" minOccurs="0"/>
															<xsd:element name="SALTKNAMT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgSALGVNCCY" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="SALGVNCCY" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="SALGVNCCY" type="xsd:string" minOccurs="0"/>
															<xsd:element name="SALGVNAMT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgCOMMITMCCY" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="COMMITMCCY" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="COMMITMCCY" type="xsd:string" minOccurs="0"/>
															<xsd:element name="COMMITMAMT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgOSCCY" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="OSCCY" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="OSCCY" type="xsd:string" minOccurs="0"/>
															<xsd:element name="OSAMT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="DATEOFEXCESS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AMTLASTEXCESS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DATELASTMOVED" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AMTLASTMOVED" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DATE1STEXCESS" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DATELASTREVAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORIGINALLIMIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CLEANRISK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gDATECLRISKEXC" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATECLRISKEXC" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AVAILABLEMARKER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gALLOWEDCUST" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ALLOWEDCUST" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gRESTRICTEDCUST" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RESTRICTEDCUST" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gALLOWEDCCY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mALLOWEDCCY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ALLOWEDCCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ALLOWEDAMT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gRESTRICTEDCCY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RESTRICTEDCCY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gALLOWEDCOMP" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ALLOWEDCOMP" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gRESTRICTEDCOMP" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RESTRICTEDCOMP" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gCOMMODITY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCOMMODITY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="COMMODITY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COMMODITYPCENT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gCOLLATCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCOLLATCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="COLLATCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLATCUSTOMER" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLATCCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLATAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLATPERCENT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLATLOCATION" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLATGRADE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COLLATNOTES" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="REDUCINGSCHED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gREPAYFREQ" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mREPAYFREQ" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="REPAYFREQ" type="xsd:string" minOccurs="0"/>
									<xsd:element name="REPAYNUMBER" type="xsd:string" minOccurs="0"/>
									<xsd:element name="REPAYCCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="REPAYAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="REPAYENDDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="REPAYNOTES" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gACCCOMPANY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mACCCOMPANY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ACCCOMPANY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ACCOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="REDUCINGLIMIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NOOFSUBALLOCS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXORTIMEBAND" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIABILITYNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECORDPARENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITLINE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHECKLIMIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONSOLKEY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIMITPRODUCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ALLOWNETTING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DISPOOFFICER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ONLINEUPDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INCREASINGTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINCREASEFREQ" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mINCREASEFREQ" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="INCREASEFREQ" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INCREASECCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INCREASEAMOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INCRENDDATE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UNUTILACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRUNUTILAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ALLOWUNUTILCR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PREVUNUTILACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PREVUNUTILAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LASTDRAWDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREATEDFROM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gLIMITSMODIFIED" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LIMITSMODIFIED" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UTILACCOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRUTILAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PREVUTILACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PREVUTILAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ALLOCWORKID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gRELATIVELIMIT" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RELATIVELIMIT" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RESERVED5" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED4" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIMITREJECT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LGOVNAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LPRODNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LPRINTAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LPRTMAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LPRGOLDKG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gL.SP.NO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mL.SP.NO" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="LSPNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="LSPINTAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="LSPTMAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="LSPGOLDKG" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LPERIODFREQ" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CSDLimitUnsec_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="LIMITType" type="LIMITType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDLimitUnsec_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="LIMITSBVUNSECType" type="LIMITSBVUNSECType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AOMCreateForexDeal_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="FOREXType" type="FOREXType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDReverseFT">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERSBVFTCSDWSType" type="transactionId" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ofsFunction">
		<xsd:sequence>
			<xsd:element name="activityName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assignReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcess" type="xsd:string" minOccurs="0"/>
			<xsd:element name="extProcessID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gtsControl" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="noOfAuth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="owner" type="xsd:string" minOccurs="0"/>
			<xsd:element name="replace" type="xsd:string" minOccurs="0"/>
			<xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="user" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDLimitUnsec">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="LIMITSBVUNSECType" type="LIMITSBVUNSECType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GETBALAOMREQUESTType">
		<xsd:sequence>
			<xsd:element name="gGETBALAOMREQUESTDetailType" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mGETBALAOMREQUESTDetailType" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="selFldCITADCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="selFldCURRENCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="selFldCATEGORY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CitadCode" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AccountID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="PenaltyAccount" type="xsd:string" minOccurs="0"/>
									<xsd:element name="BalanceType" type="xsd:string" minOccurs="0"/>
									<xsd:element name="Balance" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enquiryInputCollection">
		<xsd:sequence>
			<xsd:element name="columnName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="criteriaValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="operand" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AOMCreateForexDeal_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="FOREXAOMDEALINPType" type="FOREXAOMDEALINPType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFT">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERSBVFTCSDWSType" type="FUNDSTRANSFERSBVFTCSDWSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFTBulk_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKType" type="SBVFTLVBULKType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFTResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERType" type="FUNDSTRANSFERType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDReverseFTBulk">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKSBVFTCSDWSType" type="transactionId" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFTBulk">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKSBVFTCSDWSType" type="SBVFTLVBULKSBVFTCSDWSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetBalanceAOMResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="GETBALAOMREQUESTType" type="GETBALAOMREQUESTType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFT_ValidateResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERType" type="FUNDSTRANSFERType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AOMCreateForexDeal">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="FOREXAOMDEALINPType" type="FOREXAOMDEALINPType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetBalanceAOM">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="GETBALAOMREQUESTType" type="enquiryInput" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFT_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERSBVFTCSDWSType" type="FUNDSTRANSFERSBVFTCSDWSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AOMQueryAccount">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="ENQQUERYACCTCSDType" type="enquiryInput" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enquiryInput">
		<xsd:sequence>
			<xsd:element name="enquiryInputCollection" type="enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDLimitUnsecResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="LIMITType" type="LIMITType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Status">
		<xsd:sequence>
			<xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="successIndicator" type="successIndicator" minOccurs="0"/>
			<xsd:element name="application" type="xsd:string" minOccurs="0"/>
			<xsd:element name="messages" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="webRequestCommon">
		<xsd:sequence>
			<xsd:element name="company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="userName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOREXType">
		<xsd:sequence>
			<xsd:element name="DEALTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALSUBTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COUNTERPARTY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALERDESK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYMARKET" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VALUEDATEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VALUEDATESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPOTRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FORWARDRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWAPBASECCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAGE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAGECCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BROKERAGEAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONFIRMDBYBROKER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIMITREFERENCENO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSITIONTYPEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSITIONTYPESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEGOTIATEDREFNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REVALUATIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPOTDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BASECCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SPOTLCYAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gSWAPREFNO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SWAPREFNO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INTRATEBUY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTRATESELL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONCURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONOSAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gOPTIONRATEDATE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mOPTIONRATEDATE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="OPTIONRATEDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="OPTIONRATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="OPTIONRATEID" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gOURACCOUNTPAY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mOURACCOUNTPAY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="OURACCOUNTPAY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="OURACCOUNTREC" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELDATEBUY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELAMOUNTBUY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELDATESELL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELAMOUNTSELL" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELLCYAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="BENEFICIARYNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgBENFCYADD" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BENFCYADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="CPARTYCORRNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgCPYCORRADD" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="CPYCORRADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="CPARTYBANKACC" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INTERMEDBKNO" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgINTERMEDADD" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="INTERMEDADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgCONFNARR" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="CONFNARR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgPAYMTNARR" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="PAYMTNARR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgRECADVNARR" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="RECADVNARR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sgBKTOBKINF" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BKTOBKINF" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="PAYACCPOSTED" type="xsd:string" minOccurs="0"/>
									<xsd:element name="RECACCPOSTED" type="xsd:string" minOccurs="0"/>
									<xsd:element name="PAYMENTSENT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ADVICESENT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgACTIVITYCODE" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ACTIVITYCODE" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="ACTIVITYCODE" type="xsd:string" minOccurs="0"/>
															<xsd:element name="CONFIRMSENT" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="DELCHGACCOUNT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELCHGACCCCY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELRATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DELAMOUNTCHG" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgDELCHGTYPE" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="DELCHGTYPE" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="DELCHGTYPE" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELCHGAMT" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELCHGLCY" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELTAXTYPE" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELTAXAMT" type="xsd:string" minOccurs="0"/>
															<xsd:element name="DELTAXLCY" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
														<xsd:attribute name="s" type="xsd:positiveInteger"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="DELRATEID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CONFBYCPARTY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYLCYEQUIV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELLCYEQUIV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYDAILYACCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYACCTDATEL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYDAILYACCF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BUYACCTDATEF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELDAILYACCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELACCTDATEL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELDAILYACCF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SELACCTDATEF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWIFTCOMMONREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CATEGORYCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TREASURYCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCOUNTTOCHARGE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MKTGEXCHPROFIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMMISSIONTAKEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TREASURYRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MARGINPERC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MARGINPIPS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXGROUPCONDID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHARGECODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHARGECODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHARGECODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHARGEAMOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gTAXCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mTAXCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="TAXCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TAXAMOUNT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ACCOUNTOFFICER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FEDFUNDS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDCONFIRMATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDPAYMENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDADVICE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CORRAMENDMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REPLACINGDEALNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gNOTES" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NOTES" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDEALERNOTES" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DEALERNOTES" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ORIGINALFUNCTION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gEQVCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mEQVCODE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EQVCODE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="EQUIVAMT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BROKERAGEEQUIV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHARGEEQUIV" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHARGEEQUIV" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHARGEEQUIV" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TAXEQUIV" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOTIONALBUYAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NOTIONALSELLAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORTFOLIONUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALINTBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALINTSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EQUIVINTBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EQUIVINTSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTBASISBOUGHT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTBASISSOLD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BULKDEAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BULKREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRANSACTIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OPTIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gORGVALBUYDATE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mORGVALBUYDATE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ORGVALBUYDATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ORGVALSELDATE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AMTBOUGHTOS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMTSOLDOS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALMARKET" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LINKREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NETTINGSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMORTISEPOSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMORTISEFROMDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMORTISECYCLE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MKTGEXCHADJ" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSDELBUYAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSDELSELLAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSLCYEQUIVAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSLSTLIMBUYEOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OSLSTLIMSELEOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OLDINTRATECALC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWAPPLFWDPOS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REALISEFIXPL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FIXPLREALISED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LASTDELID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SODMAT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gFXBULKORDRID" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FXBULKORDRID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FXORDERID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CLSDEAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IDENTIFICATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERYDETAILS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AVAILABILITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ALLOCATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="METALTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FURTHERINDENT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="QUANTITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CLOSINGID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRADEORDID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROUNDINGRULE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AGREEMENTTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TERMSANDCONDS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gADDLINFOMETAL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ADDLINFOMETAL" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ORIGINATINGDEPT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHANTOMIND" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCONSOLIND" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CONSOLIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gSTMTNO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="STMTNO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYUNIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SYEXVAL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gFCC.PURPOSE.ID" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mFCC.PURPOSE.ID" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="FCCPURPOSEID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="FCCPURPDESC" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FCCBBRTID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FCCPROPID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CIFQUANTITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CIFAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXGOLDDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LGOLDAMOUNTF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFOZ" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFXGOLDID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXGOLDID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRELATEDREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSENDERREF" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ENQQUERYACCTCSDType">
		<xsd:sequence>
			<xsd:element name="gENQQUERYACCTCSDDetailType" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mENQQUERYACCTCSDDetailType" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CitadID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="Category" type="xsd:string" minOccurs="0"/>
									<xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
									<xsd:element name="AccountID" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FUNDSTRANSFERType">
		<xsd:sequence>
			<xsd:element name="TRANSACTIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INDEBITACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYMKTDR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INDEBITVDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITTHEIRREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITTHEIRREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENCYMKTCR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TREASURYRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NEGDEALERREFNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROCESSINGDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gORDERINGCUST" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ORDERINGCUST" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINORDERINGCUS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INORDERINGCUS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gORDERINGBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ORDERINGBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINORDERINGBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INORDERINGBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gACCTWITHBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ACCTWITHBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gACCTWITHBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ACCTWITHBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BENACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INBENACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gBENCUSTOMER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BENCUSTOMER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINBENCUSTOMER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INBENCUSTOMER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gBENBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BENBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINBENBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INBENBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CHEQUENUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gPAYMENTDETAILS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PAYMENTDETAILS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINPAYDETAILS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPAYDETAILS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BCBANKSORTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECEIVERBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gRECCORRBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RECCORRBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINTERMEDBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INTERMEDBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gININTMEDBANK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ININTMEDBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MAILING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PAYMETHOD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BENOURCHARGES" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INBENOURCHARGES" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHARGESACCTNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHARGECOMDISPLAY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMMISSIONCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCOMMISSIONTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCOMMISSIONTYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="COMMISSIONTYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COMMISSIONAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="COMMISSIONFOR" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CHARGECODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCHARGETYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCHARGETYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CHARGETYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHARGEAMT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CHARGEFOR" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CUSTOMERSPREAD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BASECURRENCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROFITCENTRECUST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROFITCENTREDEPT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RETURNTODEPT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PRIORITYTXN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gBKTOBKINFO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BKTOBKINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINBKTOBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INBKTOBKINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EXPOSUREDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FEDFUNDS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSITIONTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NOOFBATCHITEMS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gFREETEXTMSGTO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FREETEXTMSGTO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gMESSAGE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="MESSAGE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gTAXTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mTAXTYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="TAXTYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TAXAMT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AMOUNTDEBITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMOUNTCREDITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALCHARGEAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTALTAXAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTOMERRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINRECCORRBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INRECCORRBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INWARDPAYTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINSENDCORRBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSENDCORRBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TELEXFROMCUST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERYINREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gDELIVERYOUTREF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DELIVERYOUTREF" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CREDITCOMPCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITCOMPCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERYMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORDCUSTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCTWITHBKACNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCAMTDEBITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCAMTCREDITED" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCTOTTAXAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCALCHARGEAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCPOSCHGSAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MKTGEXCHPROFIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RATEINPUTMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTGROUPLEVEL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEBITCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CREDITCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SENDPAYMENTYN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DRADVICEREQDYN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRADVICEREQDYN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEALMARKET" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHARGEDCUSTOMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINREASONOVE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INREASONOVE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DEALERDESK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECALCFWDRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RETURNCHEQUE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DRAWNACCOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCOUNTINGDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINSTRCTNCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSTRCTNCODE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="COLLREMBK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXPECTEDRECSID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCOMM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCOMMLCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCHG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCHGLCL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHEQTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gRELATEDMSG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mRELATEDMSG" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="RELATEDMSG" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgTIMEIND" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="TIMEIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINTIMEIND" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INTIMEIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gSENDTOPARTY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mSENDTOPARTY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="SENDTOPARTY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="sgBKTOBKOUT" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BKTOBKOUT" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
											</xsd:sequence>
											<xsd:attribute name="sg" type="xsd:positiveInteger"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="MESSAGETYPE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="REVERSALMKR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RELATEDREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gININSTRCODE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ININSTRCODE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINPROCESSERR" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPROCESSERR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINSWIFTMSG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSWIFTMSG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ACCTWITHBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INACCTBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECCORRBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INRECCORRACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTERMEDBANKACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ININTERMEDACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INSTRUCTEDAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gININTERMEDBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ININTERMEDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INEXCHRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RATEFIXING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COVERMETHOD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gIN3RDREIMBBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IN3RDREIMBBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IN3RDREIMBACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MT103TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXTENDFORMAT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gEXTENDINFO" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EXTENDINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RATEFIXINGIND" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INWSENDBIC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINSENDCHG" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INSENDCHG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INRECCHG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCHGREQID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTRECCHGCRCCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TOTSNDCHGCRCCY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHGADVICEMSG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXPECTEDCOVERID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NETTINGSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUTHDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BKOPERATIONCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AMINFLOWRATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PARENTTXNID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ROUNDTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BENEFICIARYID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gMSGTYPE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mMSGTYPE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MSGTYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MSGDATE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gSIGNATORY" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SIGNATORY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CARDNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gCARDTXNDETAIL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CARDTXNDETAIL" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCORDBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCORDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCINTMEDBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCINTMEDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCACCWITBK" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCACCWITBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gINCBKTBKIN" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INCBKTBKIN" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TFSREFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHEQUEDRAWN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ISSUECHEQUETYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STOCKNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PAYEENAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STOCKREGISTER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERIESID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ORDCUSTACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INORDCUSTACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANDEBIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANCREDIT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANBEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANACCTWITHBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANRECCORRBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANINTERMEDBANK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANORDCUSTACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBANCHARGESACCT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BICIBANBEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gBICIBANBENNAME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BICIBANBENNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BICIBANBENCITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED7" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED6" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED5" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED4" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gSTMTNOS" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="STMTNOS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gOVERRIDE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gINPUTTER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gDATETIME" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCODEDR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCODECR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCODECH" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCOUNTRYDR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCOUNTRYCR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBLCCOUNTRYCH" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IMMEDIATELY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FUTUREDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ATUNIQUEID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BALAFTTXN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ATAUTHCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ATMGENMAPID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FXREFNO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SECTRADEREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUNETAMTRD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONFIRMAMOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TRADEDIFFAMT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IBPSTRANS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CITADTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCICODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OINDIRECTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LRCICODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RINDIRECTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIBPSREF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LSYSTEMTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TYPEFLAG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CHECKCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LIBPSTYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LPROCESSTIME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LAMTNETTING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LTRANSCOUNT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LFENUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LDEALNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LPAYDETAIL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PAYDETAIL" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="FOREXAOMDEALINPType">
		<xsd:sequence>
			<xsd:element name="DealType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Counterparty" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DealerDesk" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CCYMetalbought" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BuyAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueDateBuy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CCYMetalsold" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SellAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueDateSell" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Spotrate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ForwardRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DealMethod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DealDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gDEALERNOTES" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DealersComment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MatureatStartofDay" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MetalIdentification" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryDetails" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryLocation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Allocation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MetalType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FutherIdentification" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RoundingRule" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AgreementType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TermsandConditions" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gADDLINFOMETAL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AdditionalInformation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CSDReverseFTResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="FUNDSTRANSFERType" type="FUNDSTRANSFERType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CSDCreateFTBulk_Validate">
		<xsd:sequence>
			<xsd:element name="WebRequestCommon" type="webRequestCommon" minOccurs="0"/>
			<xsd:element name="OfsFunction" type="ofsFunction" minOccurs="0"/>
			<xsd:element name="SBVFTLVBULKSBVFTCSDWSType" type="SBVFTLVBULKSBVFTCSDWSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AOMCreateForexDealResponse">
		<xsd:sequence>
			<xsd:element name="Status" type="Status" minOccurs="0"/>
			<xsd:element name="FOREXType" type="FOREXType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CSDCreateFT_ValidateResponse" type="CSDCreateFT_ValidateResponse"/>
	<xsd:element name="AOMCreateForexDeal" type="AOMCreateForexDeal"/>
	<xsd:element name="GetBalanceAOM" type="GetBalanceAOM"/>
	<xsd:element name="CSDCreateFTBulkResponse" type="CSDCreateFTBulkResponse"/>
	<xsd:element name="AOMQueryAccountResponse" type="AOMQueryAccountResponse"/>
	<xsd:element name="CSDReverseFTBulkResponse" type="CSDReverseFTBulkResponse"/>
	<xsd:element name="CSDCreateFT_Validate" type="CSDCreateFT_Validate"/>
	<xsd:element name="CSDLimitUnsec_ValidateResponse" type="CSDLimitUnsec_ValidateResponse"/>
	<xsd:element name="AOMQueryAccount" type="AOMQueryAccount"/>
	<xsd:element name="CSDLimitUnsec_Validate" type="CSDLimitUnsec_Validate"/>
	<xsd:element name="AOMCreateForexDeal_ValidateResponse" type="AOMCreateForexDeal_ValidateResponse"/>
	<xsd:element name="CSDReverseFT" type="CSDReverseFT"/>
	<xsd:element name="CSDLimitUnsecResponse" type="CSDLimitUnsecResponse"/>
	<xsd:element name="CSDLimitUnsec" type="CSDLimitUnsec"/>
	<xsd:element name="AOMCreateForexDeal_Validate" type="AOMCreateForexDeal_Validate"/>
	<xsd:element name="CSDCreateFT" type="CSDCreateFT"/>
	<xsd:element name="CSDCreateFTBulk_ValidateResponse" type="CSDCreateFTBulk_ValidateResponse"/>
	<xsd:element name="CSDReverseFTResponse" type="CSDReverseFTResponse"/>
	<xsd:element name="CSDCreateFTResponse" type="CSDCreateFTResponse"/>
	<xsd:element name="CSDCreateFTBulk_Validate" type="CSDCreateFTBulk_Validate"/>
	<xsd:element name="CSDReverseFTBulk" type="CSDReverseFTBulk"/>
	<xsd:element name="AOMCreateForexDealResponse" type="AOMCreateForexDealResponse"/>
	<xsd:element name="CSDCreateFTBulk" type="CSDCreateFTBulk"/>
	<xsd:element name="GetBalanceAOMResponse" type="GetBalanceAOMResponse"/>
	<xsd:simpleType name="successIndicator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Success"/>
			<xsd:enumeration value="TWSError"/>
			<xsd:enumeration value="T24Error"/>
			<xsd:enumeration value="T24Override"/>
			<xsd:enumeration value="T24Offline"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>