SG31ESBProject/SharedResource/Schema/Global/Customer/SecuritiesCustomerInfo/SecuritiesCustomerInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.sbv.gov.vn/schema/global/customer/securitiescustomerinfo/SecuritiesCustomerInfo.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.sbv.gov.vn/schema/global/customer/brokerinfo/BrokerInfo.xsd" xmlns:tns="http://xmlns.example.com/1457003372324" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1457003372324">
    <import namespace="http://www.sbv.gov.vn/schema/global/customer/securitiescustomerinfo/SecuritiesCustomerInfo.xsd" location="SecuritiesCustomerInfo.xsd"/>
    <message name="getSecuritiesCustomerReq">
        <part name="Req" element="ns2:getSecuritiesCustomerReq"/>
    </message>
    <message name="getSecuritiesCustomerRes">
        <part name="Res" element="ns2:getSecuritiesCustomerRes"/>
    </message>
    <message name="getSecuritiesMasterReq">
        <part name="Req" element="ns2:getSecuritiesMasterReq"/>
    </message>
    <message name="getSecuritiesMasterRes">
        <part name="Res" element="ns2:getSecuritiesMasterRes"/>
    </message>
    <message name="getBrokerInfoReq">
        <part name="Req" element="ns2:getBrokerInfoReq"/>
    </message>
    <message name="getBrokerInfoRes">
        <part name="Res" element="ns2:getBrokerInfoRes"/>
    </message>
    <portType name="PortType">
        <operation name="getBrokerInfo">
            <input message="tns:getBrokerInfoReq"/>
            <output message="tns:getBrokerInfoRes"/>
        </operation>
        <operation name="getSecuritiesCustomer">
            <input message="tns:getSecuritiesCustomerReq"/>
            <output message="tns:getSecuritiesCustomerRes"/>
        </operation>
        <operation name="getSecuritiesMaster">
            <input message="tns:getSecuritiesMasterReq"/>
            <output message="tns:getSecuritiesMasterRes"/>
        </operation>
    </portType>
</definitions>