SG31ESBProject/SharedResource/Schema/Global/System/T24/AOMMetalDeal/SBV.CSD.GOLD.AUCTION.MANAGEMENT_bk.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT">
    <import location="SBV.CSD.GOLD.AUCTION.MANAGEMENT_xsd1.xsd" namespace="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT"/>
    <import location="SBV.CSD.GOLD.AUCTION.MANAGEMENT_xsd2.xsd" namespace="http://jaxb.dev.java.net/array"/>
    <message name="AOMCreateForexDeal">
        <part element="tns:AOMCreateForexDeal" name="parameters"/>
    </message>
    <message name="AOMCreateForexDealResponse">
        <part element="tns:AOMCreateForexDealResponse" name="parameters"/>
    </message>
    <message name="AOMCreateForexDeal_Validate">
        <part element="tns:AOMCreateForexDeal_Validate" name="parameters"/>
    </message>
    <message name="AOMCreateForexDeal_ValidateResponse">
        <part element="tns:AOMCreateForexDeal_ValidateResponse" name="parameters"/>
    </message>
    <message name="CSDLimitUnsecOpen">
        <part element="tns:CSDLimitUnsecOpen" name="parameters"/>
    </message>
    <message name="CSDLimitUnsecOpenResponse">
        <part element="tns:CSDLimitUnsecOpenResponse" name="parameters"/>
    </message>
    <message name="CSDLimitUnsecOpen_Validate">
        <part element="tns:CSDLimitUnsecOpen_Validate" name="parameters"/>
    </message>
    <message name="CSDLimitUnsecOpen_ValidateResponse">
        <part element="tns:CSDLimitUnsecOpen_ValidateResponse" name="parameters"/>
    </message>
    <message name="AOMQueryAccount">
        <part element="tns:AOMQueryAccount" name="parameters"/>
    </message>
    <message name="AOMQueryAccountResponse">
        <part element="tns:AOMQueryAccountResponse" name="parameters"/>
    </message>
    <message name="AOMCreateMetalDeal">
        <part element="tns:AOMCreateMetalDeal" name="parameters"/>
    </message>
    <message name="AOMCreateMetalDealResponse">
        <part element="tns:AOMCreateMetalDealResponse" name="parameters"/>
    </message>
    <message name="AOMCreateMetalDeal_Validate">
        <part element="tns:AOMCreateMetalDeal_Validate" name="parameters"/>
    </message>
    <message name="AOMCreateMetalDeal_ValidateResponse">
        <part element="tns:AOMCreateMetalDeal_ValidateResponse" name="parameters"/>
    </message>
    <message name="AOMReverseMetalDeal">
        <part element="tns:AOMReverseMetalDeal" name="parameters"/>
    </message>
    <message name="AOMReverseMetalDealResponse">
        <part element="tns:AOMReverseMetalDealResponse" name="parameters"/>
    </message>
    <message name="CSDReverseFT">
        <part element="tns:CSDReverseFT" name="parameters"/>
    </message>
    <message name="CSDReverseFTResponse">
        <part element="tns:CSDReverseFTResponse" name="parameters"/>
    </message>
    <message name="COBMatureLoan">
        <part element="tns:COBMatureLoan" name="parameters"/>
    </message>
    <message name="COBMatureLoanResponse">
        <part element="tns:COBMatureLoanResponse" name="parameters"/>
    </message>
    <message name="AOMDeleteMetalDeal">
        <part element="tns:AOMDeleteMetalDeal" name="parameters"/>
    </message>
    <message name="AOMDeleteMetalDealResponse">
        <part element="tns:AOMDeleteMetalDealResponse" name="parameters"/>
    </message>
    <message name="CheckSourceReferency">
        <part element="tns:CheckSourceReferency" name="parameters"/>
    </message>
    <message name="CheckSourceReferencyResponse">
        <part element="tns:CheckSourceReferencyResponse" name="parameters"/>
    </message>
    <message name="CSDLimitUnsec">
        <part element="tns:CSDLimitUnsec" name="parameters"/>
    </message>
    <message name="CSDLimitUnsecResponse">
        <part element="tns:CSDLimitUnsecResponse" name="parameters"/>
    </message>
    <message name="CSDLimitUnsec_Validate">
        <part element="tns:CSDLimitUnsec_Validate" name="parameters"/>
    </message>
    <message name="CSDLimitUnsec_ValidateResponse">
        <part element="tns:CSDLimitUnsec_ValidateResponse" name="parameters"/>
    </message>
    <message name="CSDCreateFT">
        <part element="tns:CSDCreateFT" name="parameters"/>
    </message>
    <message name="CSDCreateFTResponse">
        <part element="tns:CSDCreateFTResponse" name="parameters"/>
    </message>
    <message name="CSDCreateFT_Validate">
        <part element="tns:CSDCreateFT_Validate" name="parameters"/>
    </message>
    <message name="CSDCreateFT_ValidateResponse">
        <part element="tns:CSDCreateFT_ValidateResponse" name="parameters"/>
    </message>
    <message name="CSDReverseFTBulk">
        <part element="tns:CSDReverseFTBulk" name="parameters"/>
    </message>
    <message name="CSDReverseFTBulkResponse">
        <part element="tns:CSDReverseFTBulkResponse" name="parameters"/>
    </message>
    <message name="CSDCreateFTBulk">
        <part element="tns:CSDCreateFTBulk" name="parameters"/>
    </message>
    <message name="CSDCreateFTBulkResponse">
        <part element="tns:CSDCreateFTBulkResponse" name="parameters"/>
    </message>
    <message name="CSDCreateFTBulk_Validate">
        <part element="tns:CSDCreateFTBulk_Validate" name="parameters"/>
    </message>
    <message name="CSDCreateFTBulk_ValidateResponse">
        <part element="tns:CSDCreateFTBulk_ValidateResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="AOMCreateForexDeal">
            <input message="tns:AOMCreateForexDeal" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateForexDealRequest"/>
            <output message="tns:AOMCreateForexDealResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateForexDealResponse"/>
        </operation>
        <operation name="AOMCreateForexDeal_Validate">
            <input message="tns:AOMCreateForexDeal_Validate" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateForexDeal_ValidateRequest"/>
            <output message="tns:AOMCreateForexDeal_ValidateResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateForexDeal_ValidateResponse"/>
        </operation>
        <operation name="CSDLimitUnsecOpen">
            <input message="tns:CSDLimitUnsecOpen" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsecOpenRequest"/>
            <output message="tns:CSDLimitUnsecOpenResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsecOpenResponse"/>
        </operation>
        <operation name="CSDLimitUnsecOpen_Validate">
            <input message="tns:CSDLimitUnsecOpen_Validate" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsecOpen_ValidateRequest"/>
            <output message="tns:CSDLimitUnsecOpen_ValidateResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsecOpen_ValidateResponse"/>
        </operation>
        <operation name="AOMQueryAccount">
            <input message="tns:AOMQueryAccount" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMQueryAccountRequest"/>
            <output message="tns:AOMQueryAccountResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMQueryAccountResponse"/>
        </operation>
        <operation name="AOMCreateMetalDeal">
            <input message="tns:AOMCreateMetalDeal" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateMetalDealRequest"/>
            <output message="tns:AOMCreateMetalDealResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateMetalDealResponse"/>
        </operation>
        <operation name="AOMCreateMetalDeal_Validate">
            <input message="tns:AOMCreateMetalDeal_Validate" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateMetalDeal_ValidateRequest"/>
            <output message="tns:AOMCreateMetalDeal_ValidateResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMCreateMetalDeal_ValidateResponse"/>
        </operation>
        <operation name="AOMReverseMetalDeal">
            <input message="tns:AOMReverseMetalDeal" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMReverseMetalDealRequest"/>
            <output message="tns:AOMReverseMetalDealResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMReverseMetalDealResponse"/>
        </operation>
        <operation name="CSDReverseFT">
            <input message="tns:CSDReverseFT" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDReverseFTRequest"/>
            <output message="tns:CSDReverseFTResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDReverseFTResponse"/>
        </operation>
        <operation name="COBMatureLoan">
            <input message="tns:COBMatureLoan" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/COBMatureLoanRequest"/>
            <output message="tns:COBMatureLoanResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/COBMatureLoanResponse"/>
        </operation>
        <operation name="AOMDeleteMetalDeal">
            <input message="tns:AOMDeleteMetalDeal" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMDeleteMetalDealRequest"/>
            <output message="tns:AOMDeleteMetalDealResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/AOMDeleteMetalDealResponse"/>
        </operation>
        <operation name="CheckSourceReferency">
            <input message="tns:CheckSourceReferency" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CheckSourceReferencyRequest"/>
            <output message="tns:CheckSourceReferencyResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CheckSourceReferencyResponse"/>
        </operation>
        <operation name="CSDLimitUnsec">
            <input message="tns:CSDLimitUnsec" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsecRequest"/>
            <output message="tns:CSDLimitUnsecResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsecResponse"/>
        </operation>
        <operation name="CSDLimitUnsec_Validate">
            <input message="tns:CSDLimitUnsec_Validate" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsec_ValidateRequest"/>
            <output message="tns:CSDLimitUnsec_ValidateResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDLimitUnsec_ValidateResponse"/>
        </operation>
        <operation name="CSDCreateFT">
            <input message="tns:CSDCreateFT" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFTRequest"/>
            <output message="tns:CSDCreateFTResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFTResponse"/>
        </operation>
        <operation name="CSDCreateFT_Validate">
            <input message="tns:CSDCreateFT_Validate" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFT_ValidateRequest"/>
            <output message="tns:CSDCreateFT_ValidateResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFT_ValidateResponse"/>
        </operation>
        <operation name="CSDReverseFTBulk">
            <input message="tns:CSDReverseFTBulk" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDReverseFTBulkRequest"/>
            <output message="tns:CSDReverseFTBulkResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDReverseFTBulkResponse"/>
        </operation>
        <operation name="CSDCreateFTBulk">
            <input message="tns:CSDCreateFTBulk" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFTBulkRequest"/>
            <output message="tns:CSDCreateFTBulkResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFTBulkResponse"/>
        </operation>
        <operation name="CSDCreateFTBulk_Validate">
            <input message="tns:CSDCreateFTBulk_Validate" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFTBulk_ValidateRequest"/>
            <output message="tns:CSDCreateFTBulk_ValidateResponse" wsam:Action="http://temenos.com/SBV.CSD.GOLD.AUCTION.MANAGEMENT/T24WebServicesImpl/CSDCreateFTBulk_ValidateResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AOMCreateForexDeal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AOMCreateForexDeal_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDLimitUnsecOpen">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDLimitUnsecOpen_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AOMQueryAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AOMCreateMetalDeal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AOMCreateMetalDeal_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AOMReverseMetalDeal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDReverseFT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="COBMatureLoan">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AOMDeleteMetalDeal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CheckSourceReferency">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDLimitUnsec">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDLimitUnsec_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDCreateFT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDCreateFT_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDReverseFTBulk">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDCreateFTBulk">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CSDCreateFTBulk_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.1.26.6:7001/SBV.CSD.GOLD.AUCTION.MANAGEMENT/services"/>
        </port>
    </service>
</definitions>