SG31ESBProject/SharedResource/Schema/Global/Utilities/PingEMSServer/PingEMSServer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="sbv/global/pingemsserver/version1.0"
	 targetNamespace="sbv/global/pingemsserver/version1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Response" type="ResponseType"/>
	<xs:complexType name="ResponseType">
		<xs:sequence>
			<xs:element name="IP" type="xs:string" minOccurs="0"/>
			<xs:element name="Port" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>