SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.INTE.T24.WEBSITE/SBV.INTE.T24.WEBSITE_xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:ns0="http://temenos.com/SBV.INTE.T24.WEBSITE.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://temenos.com/SBV.INTE.T24.WEBSITE.WS">
    <xsd:complexType name="BCSORTCODESBVWSType">
        <xsd:sequence>
            <xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="POSTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gTELEPHONENO" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TELEPHONENO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CUSTOMERNO" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Status">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="successIndicator" type="ns0:successIndicator" minOccurs="0"/>
            <xsd:element name="application" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsFunction">
        <xsd:sequence>
            <xsd:element name="activityName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="assignReason" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="extProcess" type="xsd:string" minOccurs="0"/>
            <xsd:element name="extProcessID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gtsControl" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="noOfAuth" type="xsd:string" minOccurs="0"/>
            <xsd:element name="owner" type="xsd:string" minOccurs="0"/>
            <xsd:element name="replace" type="xsd:string" minOccurs="0"/>
            <xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="user" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="webRequestCommon">
        <xsd:sequence>
            <xsd:element name="company" type="xsd:string" minOccurs="0"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="userName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BCSORTCODEType">
        <xsd:sequence>
            <xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="POSTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gTELEPHONENO" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TELEPHONENO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gSORTCODE1" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SORTCODE1" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="EXPKEY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="VALUEDATEPRD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHQSCOLLSUSP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHQSRETSUSP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EXPDATEPRD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED6" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CUSTOMERNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINPUTTER" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gDATETIME" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LIBPSDEBITAC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LIBPSSUPACCT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LBTAC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LCONCENTRATION" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LFCOMPANY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LCHARGEDACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gL.FT.COM.FEE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mL.FT.COM.FEE" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="LFTCOMFEE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="LSTCHARGEDAC" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gL.TT.COM.FEE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mL.TT.COM.FEE" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="LTTCOMFEE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="LTTACCTFEE" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BANKINGCODE" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CreateBankingCode">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="BCSORTCODESBVWSType" type="ns0:BCSORTCODESBVWSType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateBankingCodeResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="BCSORTCODEType" type="ns0:BCSORTCODEType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateBankingCode_Validate">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="BCSORTCODESBVWSType" type="ns0:BCSORTCODESBVWSType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateBankingCode_ValidateResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="BCSORTCODEType" type="ns0:BCSORTCODEType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateBankingCode" type="ns0:CreateBankingCode"/>
    <xsd:element name="CreateBankingCodeResponse" type="ns0:CreateBankingCodeResponse"/>
    <xsd:element name="CreateBankingCode_Validate" type="ns0:CreateBankingCode_Validate"/>
    <xsd:element name="CreateBankingCode_ValidateResponse" type="ns0:CreateBankingCode_ValidateResponse"/>
    <xsd:simpleType name="successIndicator">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Success"/>
            <xsd:enumeration value="TWSError"/>
            <xsd:enumeration value="T24Error"/>
            <xsd:enumeration value="T24Override"/>
            <xsd:enumeration value="T24Offline"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>