SG31ESBProject/SharedResource/Schema/Global/Remittance/ERPFundXfer/ERPFundXfer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="sbv/global/remittance/fundxfer/create/version1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.sbv.org.vn/global/remittance/fundxfer/version1.0" xmlns:ns="sbv/global/remittance/fundxfer/version1.0" xmlns:ns3="http://www.sbv.org.vn/global/remittance/fundxfer/create/version1.0" xmlns:tns="http://www.sbv.gov.vn/global/remittance/erpfundxfer/version1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://www.sbv.gov.vn/global/remittance/fundxfer/version1.0" xmlns:ns6="http://www.sbv.gov.vn/global/remittance/erpfundxfer/version1.0" targetNamespace="http://www.sbv.gov.vn/global/remittance/erpfundxfer/version1.0">
    <import location="ERPFundXfer.xsd" namespace="http://www.sbv.gov.vn/global/remittance/erpfundxfer/version1.0"/>
    <message name="createFundReq">
        <part element="ns6:createFundReq" name="Req"/>
    </message>
    <message name="createFundRes">
        <part element="ns6:createFundRes" name="Res"/>
    </message>
    <message name="createFTCITADReq">
        <part element="ns6:createFTCITADReq" name="Req"/>
    </message>
    <message name="createFTCITADRes">
        <part element="ns6:createFTCITADRes" name="Res"/>
    </message>
    <message name="createTellerReq">
        <part element="tns:createTellerReq" name="Req"/>
    </message>
    <message name="createTellerRes">
        <part element="tns:createTellerRes" name="Res"/>
    </message>
    <portType name="FundXferPortType">
        <operation name="createFund">
            <input message="tns:createFundReq"/>
            <output message="tns:createFundRes"/>
        </operation>
        <operation name="createFTCITAD">
            <input message="tns:createFTCITADReq"/>
            <output message="tns:createFTCITADRes"/>
        </operation>
        <operation name="createTeller">
            <input message="tns:createTellerReq"/>
            <output message="tns:createTellerRes"/>
        </operation>
    </portType>
</definitions>