SG31ESBProject/SharedResource/Schema/Global/System/T24/QueueSchema/PushFeeInterestAuto/PushFeeInterestAuto-PushFeeInterestAutoFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/PushFeeInterestAuto/PushFeeInterestAutoFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/PushFeeInterestAuto/PushFeeInterestAutoFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../Common-EventCommon.xsd"/>
	<xsd:element name="PushFeeInterestAutoFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="transactionType" minOccurs="0"/>
				<xsd:element ref="debitAcctNo" minOccurs="0"/>
				<xsd:element ref="debitCurrency" minOccurs="0"/>
				<xsd:element ref="debitAmount" minOccurs="0"/>
				<xsd:element ref="debitValueDate" minOccurs="0"/>
				<xsd:element ref="creditAcctNo" minOccurs="0"/>
				<xsd:element ref="creditCurrency" minOccurs="0"/>
				<xsd:element ref="creditAmount" minOccurs="0"/>
				<xsd:element ref="lContractRef" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="transactionType" type="xsd:string"/>
	<xsd:element name="debitAcctNo" type="xsd:string"/>
	<xsd:element name="debitCurrency" type="xsd:string"/>
	<xsd:element name="debitAmount" type="xsd:decimal"/>
	<xsd:element name="debitValueDate" type="xsd:date"/>
	<xsd:element name="creditAcctNo" type="xsd:string"/>
	<xsd:element name="creditCurrency" type="xsd:string"/>
	<xsd:element name="creditAmount" type="xsd:decimal"/>
	<xsd:element name="lContractRef" type="xsd:string"/>
</xsd:schema>