SG31ESBProject/SharedResource/Schema/Global/System/T24/T24EntriesBatch/SBV.FT.TOTAL.FEE_xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:ns0="http://temenos.com/SBV.FT.TOTAL.FEE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://temenos.com/SBV.FT.TOTAL.FEE">
    <xsd:complexType name="Status">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="successIndicator" type="ns0:successIndicator" minOccurs="0"/>
            <xsd:element name="application" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsFunction">
        <xsd:sequence>
            <xsd:element name="activityName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="assignReason" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="extProcess" type="xsd:string" minOccurs="0"/>
            <xsd:element name="extProcessID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gtsControl" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="noOfAuth" type="xsd:string" minOccurs="0"/>
            <xsd:element name="owner" type="xsd:string" minOccurs="0"/>
            <xsd:element name="replace" type="xsd:string" minOccurs="0"/>
            <xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="user" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inserttotalfee_ValidateResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="SBVFTTOTALFEEType" type="ns0:SBVFTTOTALFEEType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="webRequestCommon">
        <xsd:sequence>
            <xsd:element name="company" type="xsd:string" minOccurs="0"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="userName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inserttotalfee">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="SBVFTTOTALFEEINPType" type="ns0:SBVFTTOTALFEEINPType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inserttotalfee_Validate">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="SBVFTTOTALFEEINPType" type="ns0:SBVFTTOTALFEEINPType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SBVFTTOTALFEEINPType">
        <xsd:sequence>
            <xsd:element name="FTTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BANKCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PROCESSDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="VALUEDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITACCOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALAMOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALFEE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ACCOUNTCHARGE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PAYMENTDETAIL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FEECHARGE" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SBVFTTOTALFEEType">
        <xsd:sequence>
            <xsd:element name="FTTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BANKCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PROCESSDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="VALUEDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITACCOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALAMOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALFEE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ACCOUNTCHARGE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PAYMENTDETAIL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FEECHARGE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gOVERRIDE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINPUTTER" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gDATETIME" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="InserttotalfeeResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="SBVFTTOTALFEEType" type="ns0:SBVFTTOTALFEEType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Inserttotalfee_ValidateResponse" type="ns0:Inserttotalfee_ValidateResponse"/>
    <xsd:element name="Inserttotalfee" type="ns0:Inserttotalfee"/>
    <xsd:element name="Inserttotalfee_Validate" type="ns0:Inserttotalfee_Validate"/>
    <xsd:element name="InserttotalfeeResponse" type="ns0:InserttotalfeeResponse"/>
    <xsd:simpleType name="successIndicator">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Success"/>
            <xsd:enumeration value="TWSError"/>
            <xsd:enumeration value="T24Error"/>
            <xsd:enumeration value="T24Override"/>
            <xsd:enumeration value="T24Offline"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>