SG31ESBProject/SharedResource/Schema/Global/System/T24/QueueSchema/AccountPublish/AccountInformationFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/AccountInformation/AccountInformationFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/AccountInformation/AccountInformationFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../../System/T24/QueueSchema/Common-EventCommon.xsd"/>
	<xsd:element name="AccountInformationFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="acNoDays" minOccurs="0"/>
				<xsd:element ref="accDebLimitList" minOccurs="0"/>
				<xsd:element ref="accountNo" minOccurs="0"/>
				<xsd:element ref="accountNumber" minOccurs="0"/>
				<xsd:element ref="accountOfficer" minOccurs="0"/>
				<xsd:element ref="accountTitle1" minOccurs="0"/>
				<xsd:element ref="accountTitle2" minOccurs="0"/>
				<xsd:element ref="accrChgCategGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accrCrCategGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accrCr2CategGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accrDrCategGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="accrDr2CategGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="acctCreditIntList" minOccurs="0"/>
				<xsd:element ref="acctDebitIntList" minOccurs="0"/>
				<xsd:element ref="acctEntTodayList" minOccurs="0"/>
				<xsd:element ref="acctId" minOccurs="0"/>
				<xsd:element ref="aciIdList" minOccurs="0"/>
				<xsd:element ref="adiIdList" minOccurs="0"/>
				<xsd:element ref="adlIdList" minOccurs="0"/>
				<xsd:element ref="aelwdIdsList" minOccurs="0"/>
				<xsd:element ref="aetIdsList" minOccurs="0"/>
				<xsd:element ref="allInOneProduct" minOccurs="0"/>
				<xsd:element ref="allowNetting" minOccurs="0"/>
				<xsd:element ref="altAcctTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="amntLastCrAuto" minOccurs="0"/>
				<xsd:element ref="amntLastCrBank" minOccurs="0"/>
				<xsd:element ref="amntLastCrCust" minOccurs="0"/>
				<xsd:element ref="amntLastDrAuto" minOccurs="0"/>
				<xsd:element ref="amntLastDrBank" minOccurs="0"/>
				<xsd:element ref="amntLastDrCust" minOccurs="0"/>
				<xsd:element ref="apr" minOccurs="0"/>
				<xsd:element ref="arrangementId" minOccurs="0"/>
				<xsd:element ref="auditDateTime" minOccurs="0"/>
				<xsd:element ref="auditorCode" minOccurs="0"/>
				<xsd:element ref="authoriser" minOccurs="0"/>
				<xsd:element ref="autoPayAcct" minOccurs="0"/>
				<xsd:element ref="autoRecCcyList" minOccurs="0"/>
				<xsd:element ref="availableDateGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="availableBalUpd" minOccurs="0"/>
				<xsd:element ref="balControl" minOccurs="0"/>
				<xsd:element ref="capBackValue" minOccurs="0"/>
				<xsd:element ref="capDate" minOccurs="0"/>
				<xsd:element ref="capDateC2IntList" minOccurs="0"/>
				<xsd:element ref="capDateChargeList" minOccurs="0"/>
				<xsd:element ref="capDateCrIntList" minOccurs="0"/>
				<xsd:element ref="capDateD2IntList" minOccurs="0"/>
				<xsd:element ref="capDateDrIntList" minOccurs="0"/>
				<xsd:element ref="premiumTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="cardIssueList" minOccurs="0"/>
				<xsd:element ref="cashPoolGroupList" minOccurs="0"/>
				<xsd:element ref="category" minOccurs="0"/>
				<xsd:element ref="chargeAccount" minOccurs="0"/>
				<xsd:element ref="chargeCcy" minOccurs="0"/>
				<xsd:element ref="chargeMkt" minOccurs="0"/>
				<xsd:element ref="closedOnline" minOccurs="0"/>
				<xsd:element ref="closureDate" minOccurs="0"/>
				<xsd:element ref="coCode" minOccurs="0"/>
				<xsd:element ref="conChargeAccr" minOccurs="0"/>
				<xsd:element ref="conInterestAccr" minOccurs="0"/>
				<xsd:element ref="conditionGroup" minOccurs="0"/>
				<xsd:element ref="consolKey" minOccurs="0"/>
				<xsd:element ref="consolidateEnt" minOccurs="0"/>
				<xsd:element ref="contingentBalCr" minOccurs="0"/>
				<xsd:element ref="contingentBalDr" minOccurs="0"/>
				<xsd:element ref="contingentInt" minOccurs="0"/>
				<xsd:element ref="countryRisk" minOccurs="0"/>
				<xsd:element ref="crAdjAmount" minOccurs="0"/>
				<xsd:element ref="cr2AdjAmount" minOccurs="0"/>
				<xsd:element ref="creditCheck" minOccurs="0"/>
				<xsd:element ref="valueDateGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="currNo" minOccurs="0"/>
				<xsd:element ref="currency" minOccurs="0"/>
				<xsd:element ref="currencyMarket" minOccurs="0"/>
				<xsd:element ref="customer" minOccurs="0"/>
				<xsd:element ref="customerCode" minOccurs="0"/>
				<xsd:element ref="customerMnemonic" minOccurs="0"/>
				<xsd:element ref="customerNo" minOccurs="0"/>
				<xsd:element ref="dateLastCrAuto" minOccurs="0"/>
				<xsd:element ref="dateLastCrBank" minOccurs="0"/>
				<xsd:element ref="dateLastCrCust" minOccurs="0"/>
				<xsd:element ref="dateLastDrAuto" minOccurs="0"/>
				<xsd:element ref="dateLastDrBank" minOccurs="0"/>
				<xsd:element ref="dateLastDrCust" minOccurs="0"/>
				<xsd:element ref="dateLastUpdate" minOccurs="0"/>
				<xsd:element ref="dateTimeList" minOccurs="0"/>
				<xsd:element ref="deptCode" minOccurs="0"/>
				<xsd:element ref="dispoExempt" minOccurs="0"/>
				<xsd:element ref="dispoOfficer" minOccurs="0"/>
				<xsd:element ref="drAdjAmount" minOccurs="0"/>
				<xsd:element ref="dr2AdjAmount" minOccurs="0"/>
				<xsd:element ref="endDate" minOccurs="0"/>
				<xsd:element ref="erValueDateGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="eventGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="exposureDatesList" minOccurs="0"/>
				<xsd:element ref="firstAfDate" minOccurs="0"/>
				<xsd:element ref="fromDateGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="fwdEntryHoldList" minOccurs="0"/>
				<xsd:element ref="grpAcNo" minOccurs="0"/>
				<xsd:element ref="grpCcy" minOccurs="0"/>
				<xsd:element ref="hvtFlag" minOccurs="0"/>
				<xsd:element ref="icChargeId" minOccurs="0"/>
				<xsd:element ref="icProductGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="icNextCapDate" minOccurs="0"/>
				<xsd:element ref="icaAddRemove" minOccurs="0"/>
				<xsd:element ref="icaBackValue" minOccurs="0"/>
				<xsd:element ref="icaDistribRatio" minOccurs="0"/>
				<xsd:element ref="icaDistribType" minOccurs="0"/>
				<xsd:element ref="icaMainAccount" minOccurs="0"/>
				<xsd:element ref="icaMainAcctGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="icaMainAcctInd" minOccurs="0"/>
				<xsd:element ref="icaMainRatio" minOccurs="0"/>
				<xsd:element ref="icaNewMainAcc" minOccurs="0"/>
				<xsd:element ref="icaPostInterest" minOccurs="0"/>
				<xsd:element ref="icaStartDate" minOccurs="0"/>
				<xsd:element ref="inactivMarker" minOccurs="0"/>
				<xsd:element ref="industry" minOccurs="0"/>
				<xsd:element ref="inputterList" minOccurs="0"/>
				<xsd:element ref="intLiquTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="intNoBooking" minOccurs="0"/>
				<xsd:element ref="interestCcy" minOccurs="0"/>
				<xsd:element ref="interestCompAcct" minOccurs="0"/>
				<xsd:element ref="interestLiquAcct" minOccurs="0"/>
				<xsd:element ref="interestMkt" minOccurs="0"/>
				<xsd:element ref="jointHolderGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="lAcSgd" minOccurs="0"/>
				<xsd:element ref="lastComChgDate" minOccurs="0"/>
				<xsd:element ref="ledgRecoWithList" minOccurs="0"/>
				<xsd:element ref="limitRef" minOccurs="0"/>
				<xsd:element ref="linkToLimit" minOccurs="0"/>
				<xsd:element ref="liquidationMode" minOccurs="0"/>
				<xsd:element ref="localRefList" minOccurs="0"/>
				<xsd:element ref="lockIncThisMvmt" minOccurs="0"/>
				<xsd:element ref="lockedWithLimit" minOccurs="0"/>
				<xsd:element ref="longPosSign" minOccurs="0"/>
				<xsd:element ref="mandateApplGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="masterAccount" minOccurs="0"/>
				<xsd:element ref="maxSubAccount" minOccurs="0"/>
				<xsd:element ref="mergeNcu" minOccurs="0"/>
				<xsd:element ref="mnemonic" minOccurs="0"/>
				<xsd:element ref="nettingSuspense" minOccurs="0"/>
				<xsd:element ref="nextAcctCap" minOccurs="0"/>
				<xsd:element ref="nextAfDate" minOccurs="0"/>
				<xsd:element ref="nextExpDate" minOccurs="0"/>
				<xsd:element ref="nextStmtDateList" minOccurs="0"/>
				<xsd:element ref="nostroCcy" minOccurs="0"/>
				<xsd:element ref="onlineActualBal" minOccurs="0"/>
				<xsd:element ref="onlineClearedBal" minOccurs="0"/>
				<xsd:element ref="openActualBal" minOccurs="0"/>
				<xsd:element ref="openAssetType" minOccurs="0"/>
				<xsd:element ref="openAvailableBal" minOccurs="0"/>
				<xsd:element ref="openCategory" minOccurs="0"/>
				<xsd:element ref="openClearedBal" minOccurs="0"/>
				<xsd:element ref="openValDatedBal" minOccurs="0"/>
				<xsd:element ref="openingDate" minOccurs="0"/>
				<xsd:element ref="origCcyPayment" minOccurs="0"/>
				<xsd:element ref="originalAcctList" minOccurs="0"/>
				<xsd:element ref="otherOfficerList" minOccurs="0"/>
				<xsd:element ref="ourExtAcctNo" minOccurs="0"/>
				<xsd:element ref="overdueStatus" minOccurs="0"/>
				<xsd:element ref="overrideList" minOccurs="0"/>
				<xsd:element ref="passbook" minOccurs="0"/>
				<xsd:element ref="pendingIdGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="portfolioNoList" minOccurs="0"/>
				<xsd:element ref="positionType" minOccurs="0"/>
				<xsd:element ref="postingRestrictList" minOccurs="0"/>
				<xsd:element ref="prodcat" minOccurs="0"/>
				<xsd:element ref="prodccy" minOccurs="0"/>
				<xsd:element ref="ratesCrList" minOccurs="0"/>
				<xsd:element ref="ratesDescList" minOccurs="0"/>
				<xsd:element ref="ratesDrList" minOccurs="0"/>
				<xsd:element ref="recoTolerance" minOccurs="0"/>
				<xsd:element ref="reconcileAcct" minOccurs="0"/>
				<xsd:element ref="recordStatus" minOccurs="0"/>
				<xsd:element ref="referalCodeList" minOccurs="0"/>
				<xsd:element ref="residence" minOccurs="0"/>
				<xsd:element ref="sbGroupId" minOccurs="0"/>
				<xsd:element ref="sector" minOccurs="0"/>
				<xsd:element ref="selCcy" minOccurs="0"/>
				<xsd:element ref="serialNoFormat" minOccurs="0"/>
				<xsd:element ref="shadowAccount" minOccurs="0"/>
				<xsd:element ref="shortTitle" minOccurs="0"/>
				<xsd:element ref="showTillAcs" minOccurs="0"/>
				<xsd:element ref="singleLimit" minOccurs="0"/>
				<xsd:element ref="sourceId" minOccurs="0"/>
				<xsd:element ref="startDate" minOccurs="0"/>
				<xsd:element ref="startYearBal" minOccurs="0"/>
				<xsd:element ref="stmtRecoWithList" minOccurs="0"/>
				<xsd:element ref="stockControlType" minOccurs="0"/>
				<xsd:element ref="target" minOccurs="0"/>
				<xsd:element ref="taxAtSettle" minOccurs="0"/>
				<xsd:element ref="taxSuspend" minOccurs="0"/>
				<xsd:element ref="tellerId" minOccurs="0"/>
				<xsd:element ref="tranLastCrAuto" minOccurs="0"/>
				<xsd:element ref="tranLastCrBank" minOccurs="0"/>
				<xsd:element ref="tranLastCrCust" minOccurs="0"/>
				<xsd:element ref="tranLastDrAuto" minOccurs="0"/>
				<xsd:element ref="tranLastDrBank" minOccurs="0"/>
				<xsd:element ref="tranLastDrCust" minOccurs="0"/>
				<xsd:element ref="txnAmt" minOccurs="0"/>
				<xsd:element ref="txnCode" minOccurs="0"/>
				<xsd:element ref="valDate" minOccurs="0"/>
				<xsd:element ref="waiveLedgerFee" minOccurs="0"/>
				<xsd:element ref="welcomePack" minOccurs="0"/>
				<xsd:element ref="workingBalance" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="acNoDays" type="xsd:string"/>
	<xsd:element name="accDebLimitList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="accDebLimit" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="accountNo" type="xsd:string"/>
	<xsd:element name="accountNumber" type="xsd:string"/>
	<xsd:element name="accountOfficer" type="xsd:string"/>
	<xsd:element name="accountTitle1" type="xsd:string"/>
	<xsd:element name="accountTitle2" type="xsd:string"/>
	<xsd:element name="accrChgCategGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="accrChgCateg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrChgTrans" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrChgAmount" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="accrChgSusp" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="accrCrCategGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="accrCrCateg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrCrTrans" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrCrAmount" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="accrCrSusp" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="accrCr2CategGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="accrCr2Categ" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrCr2Trans" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrCr2Amount" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="accrCr2Susp" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="accrDrCategGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="accrDrCateg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrDrTrans" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrDrAmount" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="accrDrSusp" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="accrDr2CategGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="accrDr2Categ" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrDr2Trans" type="xsd:string" minOccurs="0"/>
				<xsd:element name="accrDr2Amount" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="accrDr2Susp" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="acctCreditIntList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="acctCreditInt" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="acctDebitIntList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="acctDebitInt" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="acctEntTodayList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="acctEntToday" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="acctId" type="xsd:string"/>
	<xsd:element name="aciIdList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="aciId" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="adiIdList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="adiId" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="adlIdList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="adlId" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="aelwdIdsList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="aelwdIds" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="aetIdsList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="aetIds" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="allInOneProduct" type="xsd:string"/>
	<xsd:element name="allowNetting" type="xsd:string"/>
	<xsd:element name="altAcctTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="altAcctType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="altAcctId" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="amntLastCrAuto" type="xsd:decimal"/>
	<xsd:element name="amntLastCrBank" type="xsd:decimal"/>
	<xsd:element name="amntLastCrCust" type="xsd:decimal"/>
	<xsd:element name="amntLastDrAuto" type="xsd:decimal"/>
	<xsd:element name="amntLastDrBank" type="xsd:decimal"/>
	<xsd:element name="amntLastDrCust" type="xsd:decimal"/>
	<xsd:element name="apr" type="xsd:decimal"/>
	<xsd:element name="arrangementId" type="xsd:string"/>
	<xsd:element name="auditDateTime" type="xsd:string"/>
	<xsd:element name="auditorCode" type="xsd:string"/>
	<xsd:element name="authoriser" type="xsd:string"/>
	<xsd:element name="autoPayAcct" type="xsd:string"/>
	<xsd:element name="autoRecCcyList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="autoRecCcy" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="availableDateGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="availableDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="avAuthDbMvmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="avNauDbMvmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="avAuthCrMvmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="avNauCrMvmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="availableBal" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="forwardMvmts" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="availableBalUpd" type="xsd:string"/>
	<xsd:element name="balControl" type="xsd:string"/>
	<xsd:element name="capBackValue" type="xsd:date"/>
	<xsd:element name="capDate" type="xsd:string"/>
	<xsd:element name="capDateC2IntList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="capDateC2Int" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="capDateChargeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="capDateCharge" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="capDateCrIntList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="capDateCrInt" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="capDateD2IntList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="capDateD2Int" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="capDateDrIntList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="capDateDrInt" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="premiumTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="premiumType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="capDatePrmList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="capDatePrm" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:date">
											<xsd:attribute name="index" type="xsd:integer"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="premiumFreq" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cardIssueList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cardIssue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cashPoolGroupList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cashPoolGroup" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="category" type="xsd:string"/>
	<xsd:element name="chargeAccount" type="xsd:string"/>
	<xsd:element name="chargeCcy" type="xsd:string"/>
	<xsd:element name="chargeMkt" type="xsd:string"/>
	<xsd:element name="closedOnline" type="xsd:string"/>
	<xsd:element name="closureDate" type="xsd:date"/>
	<xsd:element name="coCode" type="xsd:string"/>
	<xsd:element name="conChargeAccr" type="xsd:string"/>
	<xsd:element name="conInterestAccr" type="xsd:string"/>
	<xsd:element name="conditionGroup" type="xsd:string"/>
	<xsd:element name="consolKey" type="xsd:string"/>
	<xsd:element name="consolidateEnt" type="xsd:string"/>
	<xsd:element name="contingentBalCr" type="xsd:decimal"/>
	<xsd:element name="contingentBalDr" type="xsd:decimal"/>
	<xsd:element name="contingentInt" type="xsd:string"/>
	<xsd:element name="countryRisk" type="xsd:string"/>
	<xsd:element name="crAdjAmount" type="xsd:decimal"/>
	<xsd:element name="cr2AdjAmount" type="xsd:decimal"/>
	<xsd:element name="creditCheck" type="xsd:string"/>
	<xsd:element name="valueDateGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="valueDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="creditMovement" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="debitMovement" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="valueDatedBal" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="currNo" type="xsd:string"/>
	<xsd:element name="currency" type="xsd:string"/>
	<xsd:element name="currencyMarket" type="xsd:string"/>
	<xsd:element name="customer" type="xsd:decimal"/>
	<xsd:element name="customerCode" type="xsd:decimal"/>
	<xsd:element name="customerMnemonic" type="xsd:string"/>
	<xsd:element name="customerNo" type="xsd:string"/>
	<xsd:element name="dateLastCrAuto" type="xsd:date"/>
	<xsd:element name="dateLastCrBank" type="xsd:date"/>
	<xsd:element name="dateLastCrCust" type="xsd:date"/>
	<xsd:element name="dateLastDrAuto" type="xsd:date"/>
	<xsd:element name="dateLastDrBank" type="xsd:date"/>
	<xsd:element name="dateLastDrCust" type="xsd:date"/>
	<xsd:element name="dateLastUpdate" type="xsd:date"/>
	<xsd:element name="dateTimeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dateTime" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="deptCode" type="xsd:string"/>
	<xsd:element name="dispoExempt" type="xsd:string"/>
	<xsd:element name="dispoOfficer" type="xsd:string"/>
	<xsd:element name="drAdjAmount" type="xsd:decimal"/>
	<xsd:element name="dr2AdjAmount" type="xsd:decimal"/>
	<xsd:element name="endDate" type="xsd:date"/>
	<xsd:element name="erValueDateGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="erValueDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="erBalance" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="epBalance" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="event" type="xsd:string" minOccurs="0"/>
				<xsd:element name="fieldSubGroup" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="field" type="xsd:string" minOccurs="0"/>
							<xsd:element name="operand" type="xsd:string" minOccurs="0"/>
							<xsd:element name="value" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="index" type="xsd:integer"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="mvAlertRes6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mvAlertRes5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mvAlertRes4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mvAlertRes3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mvAlertRes2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mvAlertRes1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="requestId" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="exposureDatesList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="exposureDates" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="firstAfDate" type="xsd:date"/>
	<xsd:element name="fromDateGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="fromDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="lockedAmount" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fwdEntryHoldList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="fwdEntryHold" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="grpAcNo" type="xsd:string"/>
	<xsd:element name="grpCcy" type="xsd:string"/>
	<xsd:element name="hvtFlag" type="xsd:string"/>
	<xsd:element name="icChargeId" type="xsd:string"/>
	<xsd:element name="icProductGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="icProduct" type="xsd:string" minOccurs="0"/>
				<xsd:element name="icLstProdCap" type="xsd:date" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="icNextCapDate" type="xsd:date"/>
	<xsd:element name="icaAddRemove" type="xsd:string"/>
	<xsd:element name="icaBackValue" type="xsd:date"/>
	<xsd:element name="icaDistribRatio" type="xsd:string"/>
	<xsd:element name="icaDistribType" type="xsd:string"/>
	<xsd:element name="icaMainAccount" type="xsd:string"/>
	<xsd:element name="icaMainAcctGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="icaMainAcct" type="xsd:string" minOccurs="0"/>
				<xsd:element name="icaMainDate" type="xsd:date" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="icaMainAcctInd" type="xsd:string"/>
	<xsd:element name="icaMainRatio" type="xsd:string"/>
	<xsd:element name="icaNewMainAcc" type="xsd:string"/>
	<xsd:element name="icaPostInterest" type="xsd:string"/>
	<xsd:element name="icaStartDate" type="xsd:date"/>
	<xsd:element name="inactivMarker" type="xsd:string"/>
	<xsd:element name="industry" type="xsd:string"/>
	<xsd:element name="inputterList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="inputter" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="intLiquTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="intLiquType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="intLiquAcct" type="xsd:string" minOccurs="0"/>
				<xsd:element name="intLiqCcy" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="intNoBooking" type="xsd:string"/>
	<xsd:element name="interestCcy" type="xsd:string"/>
	<xsd:element name="interestCompAcct" type="xsd:string"/>
	<xsd:element name="interestLiquAcct" type="xsd:string"/>
	<xsd:element name="interestMkt" type="xsd:string"/>
	<xsd:element name="jointHolderGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="jointHolder" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="relationCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="jointNotesList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="jointNotes" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="index" type="xsd:integer"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lAcSgd" type="xsd:string"/>
	<xsd:element name="lastComChgDate" type="xsd:date"/>
	<xsd:element name="ledgRecoWithList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ledgRecoWith" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="limitRef" type="xsd:string"/>
	<xsd:element name="linkToLimit" type="xsd:string"/>
	<xsd:element name="liquidationMode" type="xsd:string"/>
	<xsd:element name="localRefList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="localRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lockIncThisMvmt" type="xsd:string"/>
	<xsd:element name="lockedWithLimit" type="xsd:string"/>
	<xsd:element name="longPosSign" type="xsd:string"/>
	<xsd:element name="mandateApplGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="mandateAppl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mandateReg" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mandateRecord" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="masterAccount" type="xsd:string"/>
	<xsd:element name="maxSubAccount" type="xsd:string"/>
	<xsd:element name="mergeNcu" type="xsd:string"/>
	<xsd:element name="mnemonic" type="xsd:string"/>
	<xsd:element name="nettingSuspense" type="xsd:string"/>
	<xsd:element name="nextAcctCap" type="xsd:date"/>
	<xsd:element name="nextAfDate" type="xsd:date"/>
	<xsd:element name="nextExpDate" type="xsd:date"/>
	<xsd:element name="nextStmtDateList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="nextStmtDate" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:date">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="nostroCcy" type="xsd:string"/>
	<xsd:element name="onlineActualBal" type="xsd:decimal"/>
	<xsd:element name="onlineClearedBal" type="xsd:decimal"/>
	<xsd:element name="openActualBal" type="xsd:decimal"/>
	<xsd:element name="openAssetType" type="xsd:string"/>
	<xsd:element name="openAvailableBal" type="xsd:decimal"/>
	<xsd:element name="openCategory" type="xsd:string"/>
	<xsd:element name="openClearedBal" type="xsd:decimal"/>
	<xsd:element name="openValDatedBal" type="xsd:decimal"/>
	<xsd:element name="openingDate" type="xsd:date"/>
	<xsd:element name="origCcyPayment" type="xsd:string"/>
	<xsd:element name="originalAcctList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="originalAcct" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="otherOfficerList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="otherOfficer" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ourExtAcctNo" type="xsd:string"/>
	<xsd:element name="overdueStatus" type="xsd:string"/>
	<xsd:element name="overrideList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="override" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="passbook" type="xsd:string"/>
	<xsd:element name="pendingIdGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pendingId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totalPending" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="portfolioNoList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="portfolioNo" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="positionType" type="xsd:string"/>
	<xsd:element name="postingRestrictList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="postingRestrict" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="prodcat" type="xsd:string"/>
	<xsd:element name="prodccy" type="xsd:string"/>
	<xsd:element name="ratesCrList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ratesCr" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ratesDescList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ratesDesc" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ratesDrList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ratesDr" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="recoTolerance" type="xsd:decimal"/>
	<xsd:element name="reconcileAcct" type="xsd:string"/>
	<xsd:element name="recordStatus" type="xsd:string"/>
	<xsd:element name="referalCodeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="referalCode" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="residence" type="xsd:string"/>
	<xsd:element name="sbGroupId" type="xsd:string"/>
	<xsd:element name="sector" type="xsd:string"/>
	<xsd:element name="selCcy" type="xsd:string"/>
	<xsd:element name="serialNoFormat" type="xsd:string"/>
	<xsd:element name="shadowAccount" type="xsd:string"/>
	<xsd:element name="shortTitle" type="xsd:string"/>
	<xsd:element name="showTillAcs" type="xsd:string"/>
	<xsd:element name="singleLimit" type="xsd:string"/>
	<xsd:element name="sourceId" type="xsd:string"/>
	<xsd:element name="startDate" type="xsd:date"/>
	<xsd:element name="startYearBal" type="xsd:decimal"/>
	<xsd:element name="stmtRecoWithList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="stmtRecoWith" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="stockControlType" type="xsd:string"/>
	<xsd:element name="target" type="xsd:string"/>
	<xsd:element name="taxAtSettle" type="xsd:string"/>
	<xsd:element name="taxSuspend" type="xsd:string"/>
	<xsd:element name="tellerId" type="xsd:string"/>
	<xsd:element name="tranLastCrAuto" type="xsd:string"/>
	<xsd:element name="tranLastCrBank" type="xsd:string"/>
	<xsd:element name="tranLastCrCust" type="xsd:string"/>
	<xsd:element name="tranLastDrAuto" type="xsd:string"/>
	<xsd:element name="tranLastDrBank" type="xsd:string"/>
	<xsd:element name="tranLastDrCust" type="xsd:string"/>
	<xsd:element name="txnAmt" type="xsd:decimal"/>
	<xsd:element name="txnCode" type="xsd:string"/>
	<xsd:element name="valDate" type="xsd:date"/>
	<xsd:element name="waiveLedgerFee" type="xsd:string"/>
	<xsd:element name="welcomePack" type="xsd:string"/>
	<xsd:element name="workingBalance" type="xsd:decimal"/>
</xsd:schema>