SIT/SG31ESBProject_SIT/SharedResource/Schema/Global/Remittance/GLPosting/GLPosting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (http://www.altova.com) by Tuan Anh Nguyen (FIS) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.sbv.org.vn/global/remittance/glposting/glposting/version1.0" xmlns:ns1="http://www.temenos.com/T24/event/Common/EventCommon" xmlns:ns4="sbv/common/envelope/serviceenvelope/1.0" xmlns:ns="http://xmlns.example.com/1436322400562" xmlns:ns3="sbv/common/envelope/commonheader/1.0" xmlns:ns5="http://www.sbv.org.vn/global/remittance/glposting/glposting/version1.0" xmlns:ns6="http://www.temenos.com/T24/event/T242ERP/T24Entries" targetNamespace="http://xmlns.example.com/1436322400562">
    <import namespace="http://www.sbv.org.vn/global/remittance/glposting/glposting/version1.0" location="GLPosting.xsd"/>
    <message name="GLPostingReq">
        <part name="Req" element="ns2:GLPostingReq"/>
    </message>
    <message name="GLPostingRes">
        <part name="Res" element="ns2:GLPostingRes"/>
    </message>
    <message name="COBGLPostingReq">
        <part name="COBReq" element="ns2:COBGLPostingReq"/>
    </message>
    <message name="COBGLPostingRes">
        <part name="COBRes" element="ns2:COBGLPostingRes"/>
    </message>
    <portType name="PortType">
        <operation name="GLPosting">
            <input message="ns:GLPostingReq"/>
            <output message="ns:GLPostingRes"/>
        </operation>
        <operation name="COBGLPosting">
            <input message="ns:COBGLPostingReq"/>
            <output message="ns:COBGLPostingRes"/>
        </operation>
    </portType>
</definitions>