SG31ESBProject/SharedResource/Schema/Global/DataType/DataType1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:cmd-dt="sbv/global/datatype/datatype/version1.0"
	 targetNamespace="sbv/global/datatype/datatype/version1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType/>
	</xs:element>
	<xs:complexType name="FTAcctIdType">
		<xs:sequence>
			<xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
			<xs:element name="Currency" type="xs:string" minOccurs="0"/>
			<xs:element name="Amount" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>