SG31ESBProject/SharedResource/Schema/Global/System/CSD/AutoMatureLoan/AutoMatureLoan-AutoMatureLoanFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/AutoMatureLoan/AutoMatureLoanFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/AutoMatureLoan/AutoMatureLoanFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../../T24/QueueSchema/Common-EventCommon.xsd"/>
	<xsd:element name="AutoMatureLoanFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="category" minOccurs="0"/>
				<xsd:element ref="customerId" minOccurs="0"/>
				<xsd:element ref="amountList" minOccurs="0"/>
				<xsd:element ref="currency" minOccurs="0"/>
				<xsd:element ref="valueDate" minOccurs="0"/>
				<xsd:element ref="finMatDate" minOccurs="0"/>
				<xsd:element ref="interestRateList" minOccurs="0"/>
				<xsd:element ref="recordStatus" minOccurs="0"/>
				<xsd:element ref="status" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="category" type="xsd:string"/>
	<xsd:element name="customerId" type="xsd:string"/>
	<xsd:element name="currency" type="xsd:string"/>
	<xsd:element name="valueDate" type="xsd:date"/>
	<xsd:element name="finMatDate" type="xsd:date"/>
	<xsd:element name="interestRateList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="interestRate" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:decimal">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="recordStatus" type="xsd:string"/>
	<xsd:element name="status" type="xsd:string"/>
	<xsd:element name="amountList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="amount" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:decimal">
								<xsd:attribute name="index" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>