SG31ESBProject/SharedResource/Schema/Global/Account/AccountInfo/AccountInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.sbv.org.vn/global/account/account/getstatus/version1.0" xmlns:ns="http://xmlns.example.com/1436322400562" xmlns:ns5="http://www.sbv.gov.vn/global/account/accountInfo/version1.0" targetNamespace="http://xmlns.example.com/1436322400562">
    <import namespace="http://www.sbv.gov.vn/global/account/accountInfo/version1.0" location="AccountInfo.xsd"/>
    <message name="getAccountStatusReq">
        <part name="Req" element="ns5:getAccountStatusReq"/>
    </message>
    <message name="getAccountStatusRes">
        <part name="Res" element="ns5:getAccountStatusRes"/>
    </message>
    <message name="getAccountBalanceReq">
        <part name="Req" element="ns5:getAccountBalanceReq"/>
    </message>
    <message name="getAccountBalanceRes">
        <part name="Res" element="ns5:getAccountBalanceRes"/>
    </message>
    <portType name="PortType">
        <operation name="getAccountStatus">
            <input message="ns:getAccountStatusReq"/>
            <output message="ns:getAccountStatusRes"/>
        </operation>
        <operation name="getAccountBalance">
            <input message="ns:getAccountBalanceReq"/>
            <output message="ns:getAccountBalanceRes"/>
        </operation>
    </portType>
</definitions>