SG31ESBProject/SharedResource/Schema/Global/System/CSD/MaintainPastDuesService/MaintainPastDues-MaintainPastDuesFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.temenos.com/T24/event/PushMaintainPastDues/PushMaintainPastDuesFlow"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"
	 targetNamespace="http://www.temenos.com/T24/event/PushMaintainPastDues/PushMaintainPastDuesFlow"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="../../T24/QueueSchema/Common-EventCommon.xsd"/>
	<xsd:element name="PushMaintainPastDuesFlow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon"/>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="accountOfficer" minOccurs="0"/>
				<xsd:element ref="accrualParam" minOccurs="0"/>
				<xsd:element ref="paymentDteDueGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="adviceChgs" minOccurs="0"/>
				<xsd:element ref="adviceFreq" minOccurs="0"/>
				<xsd:element ref="assetClass" minOccurs="0"/>
				<xsd:element ref="auditDateTime" minOccurs="0"/>
				<xsd:element ref="auditorCode" minOccurs="0"/>
				<xsd:element ref="authoriser" minOccurs="0"/>
				<xsd:element ref="autoSpread" minOccurs="0"/>
				<xsd:element ref="backValue" minOccurs="0"/>
				<xsd:element ref="category" minOccurs="0"/>
				<xsd:element ref="ceLastCapDate" minOccurs="0"/>
				<xsd:element ref="chargeTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="chargeTaxCodeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="coCode" minOccurs="0"/>
				<xsd:element ref="consolKey" minOccurs="0"/>
				<xsd:element ref="contractGrp" minOccurs="0"/>
				<xsd:element ref="contractId" minOccurs="0"/>
				<xsd:element ref="contractNumber" minOccurs="0"/>
				<xsd:element ref="csLastCapDate" minOccurs="0"/>
				<xsd:element ref="currNo" minOccurs="0"/>
				<xsd:element ref="currency" minOccurs="0"/>
				<xsd:element ref="currencyMarket" minOccurs="0"/>
				<xsd:element ref="customer" minOccurs="0"/>
				<xsd:element ref="customerName" minOccurs="0"/>
				<xsd:element ref="dateTimeList" minOccurs="0"/>
				<xsd:element ref="dealerDesk" minOccurs="0"/>
				<xsd:element ref="messageTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="deptCode" minOccurs="0"/>
				<xsd:element ref="finalDueDate" minOccurs="0"/>
				<xsd:element ref="inputterList" minOccurs="0"/>
				<xsd:element ref="instalDateGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="interestBasis" minOccurs="0"/>
				<xsd:element ref="lManStatus" minOccurs="0"/>
				<xsd:element ref="lPdLdId" minOccurs="0"/>
				<xsd:element ref="lPdpdKey" minOccurs="0"/>
				<xsd:element ref="limitAmount" minOccurs="0"/>
				<xsd:element ref="limitReference" minOccurs="0"/>
				<xsd:element ref="loanSpread" minOccurs="0"/>
				<xsd:element ref="localRefList" minOccurs="0"/>
				<xsd:element ref="manualNab" minOccurs="0"/>
				<xsd:element ref="moveToHis" minOccurs="0"/>
				<xsd:element ref="netCustEntries" minOccurs="0"/>
				<xsd:element ref="notesList" minOccurs="0"/>
				<xsd:element ref="operation" minOccurs="0"/>
				<xsd:element ref="origLimitRef" minOccurs="0"/>
				<xsd:element ref="origStlmntActList" minOccurs="0"/>
				<xsd:element ref="overrideList" minOccurs="0"/>
				<xsd:element ref="parameterRecord" minOccurs="0"/>
				<xsd:element ref="penaltyKey" minOccurs="0"/>
				<xsd:element ref="penaltyRate" minOccurs="0"/>
				<xsd:element ref="penaltySpread" minOccurs="0"/>
				<xsd:element ref="portfolioNumber" minOccurs="0"/>
				<xsd:element ref="positionType" minOccurs="0"/>
				<xsd:element ref="preventRetry" minOccurs="0"/>
				<xsd:element ref="provision" minOccurs="0"/>
				<xsd:element ref="provisionAmount" minOccurs="0"/>
				<xsd:element ref="provisionMethod" minOccurs="0"/>
				<xsd:element ref="repayTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="recordStatus" minOccurs="0"/>
				<xsd:element ref="repaymentAcct" minOccurs="0"/>
				<xsd:element ref="repaymentDate" minOccurs="0"/>
				<xsd:element ref="repaymentRefList" minOccurs="0"/>
				<xsd:element ref="roundingRule" minOccurs="0"/>
				<xsd:element ref="schdTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="startDate" minOccurs="0"/>
				<xsd:element ref="status" minOccurs="0"/>
				<xsd:element ref="stmtNoList" minOccurs="0"/>
				<xsd:element ref="totAfterDeduct" minOccurs="0"/>
				<xsd:element ref="totOvrdueTypeGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="totRepayAmt" minOccurs="0"/>
				<xsd:element ref="totalAmtToRepay" minOccurs="0"/>
				<xsd:element ref="totalOverdueAmt" minOccurs="0"/>
				<xsd:element ref="totalOverdueTax" minOccurs="0"/>
				<xsd:element ref="waiveGraPe" minOccurs="0"/>
				<xsd:element ref="waiveGraPs" minOccurs="0"/>
				<xsd:element ref="wofReason" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="accountOfficer" type="xsd:string"/>
	<xsd:element name="accrualParam" type="xsd:string"/>
	<xsd:element name="paymentDteDueGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="paymentDteDue" type="xsd:date" minOccurs="0"/>
				<xsd:element name="paymentAmount" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="paymentAmtTax" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="outstandingAmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="payTypeSubGroup" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="payType" type="xsd:string" minOccurs="0"/>
							<xsd:element name="payAmtOrig" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="payAmtOuts" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="payAmtOstx" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="repaidAmt" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="adjustedAmt" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="newOutsAmt" type="xsd:decimal" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="index" type="xsd:integer"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="repaidStatus" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="adviceChgs" type="xsd:string"/>
	<xsd:element name="adviceFreq" type="xsd:string"/>
	<xsd:element name="assetClass" type="xsd:string"/>
	<xsd:element name="auditDateTime" type="xsd:string"/>
	<xsd:element name="auditorCode" type="xsd:string"/>
	<xsd:element name="authoriser" type="xsd:string"/>
	<xsd:element name="autoSpread" type="xsd:string"/>
	<xsd:element name="backValue" type="xsd:date"/>
	<xsd:element name="category" type="xsd:string"/>
	<xsd:element name="ceLastCapDate" type="xsd:date"/>
	<xsd:element name="chargeTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="chargeType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chargeAmt" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="chargeTaxCodeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="chargeTaxCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chargeTaxAmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="chargeTaxLcy" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="chargeTaxXrte" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="coCode" type="xsd:string"/>
	<xsd:element name="consolKey" type="xsd:string"/>
	<xsd:element name="contractGrp" type="xsd:string"/>
	<xsd:element name="contractId" type="xsd:string"/>
	<xsd:element name="contractNumber" type="xsd:string"/>
	<xsd:element name="csLastCapDate" type="xsd:date"/>
	<xsd:element name="currNo" type="xsd:string"/>
	<xsd:element name="currency" type="xsd:string"/>
	<xsd:element name="currencyMarket" type="xsd:string"/>
	<xsd:element name="customer" type="xsd:decimal"/>
	<xsd:element name="customerName" type="xsd:string"/>
	<xsd:element name="dateTimeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dateTime" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dealerDesk" type="xsd:string"/>
	<xsd:element name="messageTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="messageType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="messageDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="deliveryRef" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="deptCode" type="xsd:string"/>
	<xsd:element name="finalDueDate" type="xsd:date"/>
	<xsd:element name="inputterList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="inputter" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="instalDateGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="instalDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="instalAmt" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="interestBasis" type="xsd:string"/>
	<xsd:element name="lManStatus" type="xsd:string"/>
	<xsd:element name="lPdLdId" type="xsd:string"/>
	<xsd:element name="lPdpdKey" type="xsd:string"/>
	<xsd:element name="limitAmount" type="xsd:decimal"/>
	<xsd:element name="limitReference" type="xsd:string"/>
	<xsd:element name="loanSpread" type="xsd:decimal"/>
	<xsd:element name="localRefList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="localRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="manualNab" type="xsd:string"/>
	<xsd:element name="moveToHis" type="xsd:string"/>
	<xsd:element name="netCustEntries" type="xsd:string"/>
	<xsd:element name="notesList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="notes" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="operation" type="xsd:string"/>
	<xsd:element name="origLimitRef" type="xsd:string"/>
	<xsd:element name="origStlmntActList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="origStlmntAct" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="overrideList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="override" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="parameterRecord" type="xsd:string"/>
	<xsd:element name="penaltyKey" type="xsd:string"/>
	<xsd:element name="penaltyRate" type="xsd:decimal"/>
	<xsd:element name="penaltySpread" type="xsd:decimal"/>
	<xsd:element name="portfolioNumber" type="xsd:string"/>
	<xsd:element name="positionType" type="xsd:string"/>
	<xsd:element name="preventRetry" type="xsd:string"/>
	<xsd:element name="provision" type="xsd:decimal"/>
	<xsd:element name="provisionAmount" type="xsd:decimal"/>
	<xsd:element name="provisionMethod" type="xsd:string"/>
	<xsd:element name="repayTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="repayType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="repayAmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="repayDefault" type="xsd:string" minOccurs="0"/>
				<xsd:element name="repayTaxCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="repayTaxAmt" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="repayTaxLcy" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="repayTaxXrate" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="repayDateSubGroup" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="repayDate" type="xsd:date" minOccurs="0"/>
							<xsd:element name="rdAmt" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="rdTax" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="rdTaxLcy" type="xsd:decimal" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="index" type="xsd:integer"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="recordStatus" type="xsd:string"/>
	<xsd:element name="repaymentAcct" type="xsd:string"/>
	<xsd:element name="repaymentDate" type="xsd:date"/>
	<xsd:element name="repaymentRefList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="repaymentRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="roundingRule" type="xsd:string"/>
	<xsd:element name="schdTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="schdType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="schdDateFreq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="schdEndDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="schdAmount" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="schdRate" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="schdSpread" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="schdNarrList">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="schdNarr" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="index" type="xsd:integer"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="schdAdvSent" type="xsd:string" minOccurs="0"/>
				<xsd:element name="schdProcDate" type="xsd:date" minOccurs="0"/>
				<xsd:element name="schdActivity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="schdChgCode" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="startDate" type="xsd:date"/>
	<xsd:element name="status" type="xsd:string"/>
	<xsd:element name="stmtNoList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="stmtNo" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="totAfterDeduct" type="xsd:decimal"/>
	<xsd:element name="totOvrdueTypeGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="totOvrdueType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totOdTypeAmt" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="totRepayAmt" type="xsd:decimal"/>
	<xsd:element name="totalAmtToRepay" type="xsd:decimal"/>
	<xsd:element name="totalOverdueAmt" type="xsd:decimal"/>
	<xsd:element name="totalOverdueTax" type="xsd:decimal"/>
	<xsd:element name="waiveGraPe" type="xsd:string"/>
	<xsd:element name="waiveGraPs" type="xsd:string"/>
	<xsd:element name="wofReason" type="xsd:string"/>
</xsd:schema>