SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.FT.SETTLE.IBPS.PAYMENT.WS/SBV.FT.SETTLE.IBPS.PAYMENT.WS_xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:ns0="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS">
    <xsd:complexType name="FundsTransferKQ_ValidateResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERType" type="ns0:FUNDSTRANSFERType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ENQIBPSQUERYACCOUNTType">
        <xsd:sequence>
            <xsd:element name="gENQIBPSQUERYACCOUNTDetailType" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mENQIBPSQUERYACCOUNTDetailType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="CitadCodeList" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CitadCode" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="AccountID" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="AccountLV" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="SystemStatus" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="StatusCode" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="WorkingBanlance" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="LockedAmount" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="OverDraftLimit" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSAccountKQ">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="ENQIBPSQUERYACCOUNTKQType" type="ns0:enquiryInput" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transactionId">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReloadIBPSNetting_ValidateResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKType" type="ns0:SBVFTLVBULKType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SBVFTLVBULKType">
        <xsd:sequence>
            <xsd:element name="gIBPSREF" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mIBPSREF" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="IBPSREF" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="FTREF" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCITADNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITNAME" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCURBAL" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCITADNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITNAME" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCURBAL" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="TRANSCOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="FTSTATUS" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="FTERRORMSG" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="FENUMBER" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SYSTEMTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TRANSFLAG" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PROCESSINGDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RELOAD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FTGENERATELSTAT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="COMPANYCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gERRORMSG" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ERRORMSG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gOVERRIDE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINPUTTER" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gDATETIME" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ReloadIBPSNetting_Validate">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKSBVLVRELOADType" type="ns0:SBVFTLVBULKSBVLVRELOADType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSQueryAccount">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="ENQIBPSQUERYACCOUNTType" type="ns0:enquiryInput" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReloadIBPSNetting">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKSBVLVRELOADType" type="ns0:SBVFTLVBULKSBVLVRELOADType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ENQSYSTEMSTATUSType">
        <xsd:sequence>
            <xsd:element name="gENQSYSTEMSTATUSDetailType" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mENQSYSTEMSTATUSDetailType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="IBPSDate" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="IBPSSystemDate" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="T24SystemDate" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="StateT24" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="StateCode" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FundsTransferHV_ValidateResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERType" type="ns0:FUNDSTRANSFERType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CoreSystemStatusResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="ENQSYSTEMSTATUSType" type="ns0:ENQSYSTEMSTATUSType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ofsFunction">
        <xsd:sequence>
            <xsd:element name="activityName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="assignReason" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="extProcess" type="xsd:string" minOccurs="0"/>
            <xsd:element name="extProcessID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gtsControl" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="noOfAuth" type="xsd:string" minOccurs="0"/>
            <xsd:element name="owner" type="xsd:string" minOccurs="0"/>
            <xsd:element name="replace" type="xsd:string" minOccurs="0"/>
            <xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="user" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SBVFTLVBULKSBVLVRELOADType">
        <xsd:sequence>
            <xsd:element name="RELOAD" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="enquiryInputCollection">
        <xsd:sequence>
            <xsd:element name="columnName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="criteriaValue" type="xsd:string" minOccurs="0"/>
            <xsd:element name="operand" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FUNDSTRANSFERSBVIBPSACTRFTHVType">
        <xsd:sequence>
            <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitAmount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitValueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAmount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditValueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SourceSystemID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SystemType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBPSTransType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ProcessDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AmountNetting" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ReloadIBPSNettingResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKType" type="ns0:SBVFTLVBULKType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SeeIBPSNettingResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKType" type="ns0:SBVFTLVBULKType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SBVFTLVBULKSBVLVWSType">
        <xsd:sequence>
            <xsd:element name="gIBPSREF" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mIBPSREF" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="IBPSREF" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCITADNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCITADNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="TRANSCOUNT" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SYSTEMTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TRANSFLAG" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="FundsTransferHV_Validate">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERSBVIBPSACTRFTHVType" type="ns0:FUNDSTRANSFERSBVIBPSACTRFTHVType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FUNDSTRANSFERSBVIBPSACKQType">
        <xsd:sequence>
            <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitAmount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitValueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAmount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditValueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SourceSystemID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SystemType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBPSTransType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ProcessDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AmountNetting" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="IBPSQueryAccountResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="ENQIBPSQUERYACCOUNTType" type="ns0:ENQIBPSQUERYACCOUNTType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SeeIBPSNetting">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKSBVLVWSSEEType" type="ns0:transactionId" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FundsTransferHVResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERType" type="ns0:FUNDSTRANSFERType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FundsTransferKQ_Validate">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERSBVIBPSACKQType" type="ns0:FUNDSTRANSFERSBVIBPSACKQType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FundsTransferKQResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERType" type="ns0:FUNDSTRANSFERType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="enquiryInput">
        <xsd:sequence>
            <xsd:element name="enquiryInputCollection" type="ns0:enquiryInputCollection" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSOpenAccount">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="ENQIBPSQUERYACCOUNTOPENType" type="ns0:enquiryInput" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FundsTransferKQ">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERSBVIBPSACKQType" type="ns0:FUNDSTRANSFERSBVIBPSACKQType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSNetting_Validate">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKSBVLVWSType" type="ns0:SBVFTLVBULKSBVLVWSType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CoreSystemStatus">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="ENQSYSTEMSTATUSType" type="ns0:enquiryInput" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Status">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="successIndicator" type="ns0:successIndicator" minOccurs="0"/>
            <xsd:element name="application" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSNetting">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKSBVLVWSType" type="ns0:SBVFTLVBULKSBVLVWSType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FundsTransferHV">
        <xsd:sequence>
            <xsd:element name="WebRequestCommon" type="ns0:webRequestCommon" minOccurs="0"/>
            <xsd:element name="OfsFunction" type="ns0:ofsFunction" minOccurs="0"/>
            <xsd:element name="FUNDSTRANSFERSBVIBPSACTRFTHVType" type="ns0:FUNDSTRANSFERSBVIBPSACTRFTHVType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="webRequestCommon">
        <xsd:sequence>
            <xsd:element name="company" type="xsd:string" minOccurs="0"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="userName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ENQIBPSQUERYACCOUNTKQType">
        <xsd:sequence>
            <xsd:element name="gENQIBPSQUERYACCOUNTKQDetailType" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mENQIBPSQUERYACCOUNTKQDetailType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="CitadCodeList" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CitadCode" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="AccountKq" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="SystemStatus" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="StatusCode" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="WorkingBanlance" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="LockedAmount" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSOpenAccountResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="ENQIBPSQUERYACCOUNTOPENType" type="ns0:ENQIBPSQUERYACCOUNTOPENType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SBVFTLVBULKSBVLVWSSEEType">
        <xsd:sequence>
            <xsd:element name="gIBPSREF" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mIBPSREF" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="IBPSREF" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="FTREF" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCITADNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITCURBAL" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCITADNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITCURBAL" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="TRANSCOUNT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="FTSTATUS" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="FTERRORMSG" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SYSTEMTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TRANSFLAG" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PROCESSINGDATE" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="FUNDSTRANSFERType">
        <xsd:sequence>
            <xsd:element name="TRANSACTIONTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITACCTNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INDEBITACCTNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CURRENCYMKTDR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITCURRENCY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITAMOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITVALUEDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INDEBITVDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITTHEIRREF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CREDITTHEIRREF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CREDITACCTNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CURRENCYMKTCR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CREDITCURRENCY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CREDITAMOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CREDITVALUEDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TREASURYRATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NEGDEALERREFNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PROCESSINGDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gORDERINGCUST" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ORDERINGCUST" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINORDERINGCUS" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INORDERINGCUS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gORDERINGBANK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ORDERINGBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINORDERINGBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INORDERINGBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gACCTWITHBANK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ACCTWITHBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gACCTWITHBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ACCTWITHBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BENACCTNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INBENACCTNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gBENCUSTOMER" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BENCUSTOMER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINBENCUSTOMER" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INBENCUSTOMER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gBENBANK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BENBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINBENBANK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INBENBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CHEQUENUMBER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gPAYMENTDETAILS" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PAYMENTDETAILS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINPAYDETAILS" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INPAYDETAILS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BCBANKSORTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RECEIVERBANK" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gRECCORRBANK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RECCORRBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINTERMEDBANK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INTERMEDBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gININTMEDBANK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ININTMEDBANK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MAILING" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PAYMETHOD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BENOURCHARGES" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INBENOURCHARGES" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHARGESACCTNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHARGECOMDISPLAY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="COMMISSIONCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gCOMMISSIONTYPE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mCOMMISSIONTYPE" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="COMMISSIONTYPE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="COMMISSIONAMT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="COMMISSIONFOR" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CHARGECODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gCHARGETYPE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mCHARGETYPE" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="CHARGETYPE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CHARGEAMT" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CHARGEFOR" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CUSTOMERSPREAD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BASECURRENCY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PROFITCENTRECUST" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PROFITCENTREDEPT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RETURNTODEPT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PRIORITYTXN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gBKTOBKINFO" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BKTOBKINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINBKTOBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INBKTOBKINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="EXPOSUREDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FEDFUNDS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="POSITIONTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NOOFBATCHITEMS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gFREETEXTMSGTO" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FREETEXTMSGTO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gMESSAGE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MESSAGE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gTAXTYPE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mTAXTYPE" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="TAXTYPE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="TAXAMT" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMOUNTDEBITED" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AMOUNTCREDITED" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALCHARGEAMT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTALTAXAMOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CUSTOMERRATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINRECCORRBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INRECCORRBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INWARDPAYTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINSENDCORRBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INSENDCORRBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TELEXFROMCUST" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DELIVERYINREF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gDELIVERYOUTREF" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DELIVERYOUTREF" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CREDITCOMPCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITCOMPCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DELIVERYMKR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ORDCUSTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ACCTWITHBKACNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LOCAMTDEBITED" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LOCAMTCREDITED" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LOCTOTTAXAMT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LOCALCHARGEAMT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LOCPOSCHGSAMT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MKTGEXCHPROFIT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RATEINPUTMKR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CUSTGROUPLEVEL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEBITCUSTOMER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CREDITCUSTOMER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SENDPAYMENTYN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DRADVICEREQDYN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CRADVICEREQDYN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEALMARKET" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHARGEDCUSTOMER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINREASONOVE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INREASONOVE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DEALERDESK" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RECALCFWDRATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RETURNCHEQUE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DRAWNACCOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ACCOUNTINGDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINSTRCTNCODE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INSTRCTNCODE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="COLLREMBK" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EXPECTEDRECSID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTRECCOMM" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTRECCOMMLCL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTRECCHG" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTRECCHGLCL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHEQTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gRELATEDMSG" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mRELATEDMSG" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="RELATEDMSG" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="sgTIMEIND" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="TIMEIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                            <xsd:attribute name="sg" type="xsd:positiveInteger"/>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINTIMEIND" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INTIMEIND" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gSENDTOPARTY" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mSENDTOPARTY" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="SENDTOPARTY" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="sgBKTOBKOUT" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="BKTOBKOUT" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                            <xsd:attribute name="sg" type="xsd:positiveInteger"/>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="MESSAGETYPE" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="REVERSALMKR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RELATEDREF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gININSTRCODE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ININSTRCODE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINPROCESSERR" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INPROCESSERR" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINSWIFTMSG" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INSWIFTMSG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ACCTWITHBANKACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INACCTBANKACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RECCORRBANKACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INRECCORRACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INTERMEDBANKACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ININTERMEDACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INSTRUCTEDAMT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gININTERMEDBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ININTERMEDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INEXCHRATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RATEFIXING" type="xsd:string" minOccurs="0"/>
            <xsd:element name="COVERMETHOD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gIN3RDREIMBBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IN3RDREIMBBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="IN3RDREIMBACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MT103TYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EXTENDFORMAT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gEXTENDINFO" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="EXTENDINFO" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RATEFIXINGIND" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INWSENDBIC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINSENDCHG" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INSENDCHG" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INRECCHG" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ACCHGREQID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTRECCHGCRCCY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TOTSNDCHGCRCCY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHGADVICEMSG" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EXPECTEDCOVERID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NETTINGSTATUS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUTHDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BKOPERATIONCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AMINFLOWRATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PARENTTXNID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ROUNDTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BENEFICIARYID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gMSGTYPE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mMSGTYPE" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="MSGTYPE" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="MSGDATE" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gSIGNATORY" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SIGNATORY" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CARDNUMBER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gCARDTXNDETAIL" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CARDTXNDETAIL" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINCORDBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INCORDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINCINTMEDBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INCINTMEDBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINCACCWITBK" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INCACCWITBK" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gINCBKTBKIN" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INCBKTBKIN" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TFSREFERENCE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHEQUEDRAWN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ISSUECHEQUETYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="STOCKNUMBER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PAYEENAME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="STOCKREGISTER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SERIESID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ORDCUSTACCT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="INORDCUSTACCT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANDEBIT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANCREDIT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANBEN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANACCTWITHBANK" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANRECCORRBANK" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANINTERMEDBANK" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANORDCUSTACC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBANCHARGESACCT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BICIBANBEN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gBICIBANBENNAME" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BICIBANBENNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BICIBANBENCITY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED7" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED6" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RESERVED1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gSTMTNOS" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="STMTNOS" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gOVERRIDE" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OVERRIDE" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RECORDSTATUS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CURRNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gINPUTTER" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gDATETIME" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DATETIME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AUTHORISER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="COCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DEPTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITORCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AUDITDATETIME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBLCCODEDR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBLCCODECR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBLCCODECH" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBLCCOUNTRYDR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBLCCOUNTRYCR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBLCCOUNTRYCH" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IMMEDIATELY" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FUTUREDATE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ATUNIQUEID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BALAFTTXN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ATAUTHCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ATMGENMAPID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FXREFNO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SECTRADEREF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CUNETAMTRD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CONFIRMAMOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TRADEDIFFAMT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IBPSTRANS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CITADTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LOCICODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OINDIRECTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LRCICODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RINDIRECTCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LIBPSREF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LSYSTEMTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TYPEFLAG" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CHECKCODE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LIBPSTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LPROCESSTIME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LAMTNETTING" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LTRANSCOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LFENUMBER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LDEALNUMBER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LPAYDETAIL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PAYDETAIL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LTRANSFLAG" type="xsd:string" minOccurs="0"/>
            <xsd:element name="QUEUENAME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LBTTYPE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LTXNTYPEREF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gL.BEN" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="LBEN" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LBENACCT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OINDIRECT2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gL.ORD.CUST.ADD" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="LORDCUSTADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LORDCUSTACCT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gL.BEN.CUST.ADD" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="LBENCUSTADD" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RINDIRECTNAME" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gO.INDIRECT.NAME" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OINDIRECTNAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LPLACCOUNT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LFTID" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ENQIBPSQUERYACCOUNTOPENType">
        <xsd:sequence>
            <xsd:element name="gENQIBPSQUERYACCOUNTOPENDetailType" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mENQIBPSQUERYACCOUNTOPENDetailType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="CitadCodeList" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="SystemDate" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="CitadCode" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="AccountID" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="AccountLV" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="SystemStatus" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="StatusCode" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="OpenBalance" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="WorkingBanlance" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="LockedAmount" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="OverDraftLimit" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSNetting_ValidateResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKType" type="ns0:SBVFTLVBULKType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSNettingResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="SBVFTLVBULKType" type="ns0:SBVFTLVBULKType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IBPSAccountKQResponse">
        <xsd:sequence>
            <xsd:element name="Status" type="ns0:Status" minOccurs="0"/>
            <xsd:element name="ENQIBPSQUERYACCOUNTKQType" type="ns0:ENQIBPSQUERYACCOUNTKQType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FundsTransferKQ_ValidateResponse" type="ns0:FundsTransferKQ_ValidateResponse"/>
    <xsd:element name="IBPSAccountKQ" type="ns0:IBPSAccountKQ"/>
    <xsd:element name="ReloadIBPSNetting_ValidateResponse" type="ns0:ReloadIBPSNetting_ValidateResponse"/>
    <xsd:element name="ReloadIBPSNetting_Validate" type="ns0:ReloadIBPSNetting_Validate"/>
    <xsd:element name="IBPSQueryAccount" type="ns0:IBPSQueryAccount"/>
    <xsd:element name="ReloadIBPSNetting" type="ns0:ReloadIBPSNetting"/>
    <xsd:element name="FundsTransferHV_ValidateResponse" type="ns0:FundsTransferHV_ValidateResponse"/>
    <xsd:element name="CoreSystemStatusResponse" type="ns0:CoreSystemStatusResponse"/>
    <xsd:element name="ReloadIBPSNettingResponse" type="ns0:ReloadIBPSNettingResponse"/>
    <xsd:element name="SeeIBPSNettingResponse" type="ns0:SeeIBPSNettingResponse"/>
    <xsd:element name="FundsTransferHV_Validate" type="ns0:FundsTransferHV_Validate"/>
    <xsd:element name="IBPSQueryAccountResponse" type="ns0:IBPSQueryAccountResponse"/>
    <xsd:element name="SeeIBPSNetting" type="ns0:SeeIBPSNetting"/>
    <xsd:element name="FundsTransferHVResponse" type="ns0:FundsTransferHVResponse"/>
    <xsd:element name="FundsTransferKQResponse" type="ns0:FundsTransferKQResponse"/>
    <xsd:element name="FundsTransferKQ_Validate" type="ns0:FundsTransferKQ_Validate"/>
    <xsd:element name="FundsTransferKQ" type="ns0:FundsTransferKQ"/>
    <xsd:element name="IBPSOpenAccount" type="ns0:IBPSOpenAccount"/>
    <xsd:element name="IBPSNetting_Validate" type="ns0:IBPSNetting_Validate"/>
    <xsd:element name="CoreSystemStatus" type="ns0:CoreSystemStatus"/>
    <xsd:element name="FundsTransferHV" type="ns0:FundsTransferHV"/>
    <xsd:element name="IBPSNetting" type="ns0:IBPSNetting"/>
    <xsd:element name="IBPSOpenAccountResponse" type="ns0:IBPSOpenAccountResponse"/>
    <xsd:element name="IBPSNetting_ValidateResponse" type="ns0:IBPSNetting_ValidateResponse"/>
    <xsd:element name="IBPSNettingResponse" type="ns0:IBPSNettingResponse"/>
    <xsd:element name="IBPSAccountKQResponse" type="ns0:IBPSAccountKQResponse"/>
    <xsd:simpleType name="successIndicator">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Success"/>
            <xsd:enumeration value="TWSError"/>
            <xsd:enumeration value="T24Error"/>
            <xsd:enumeration value="T24Override"/>
            <xsd:enumeration value="T24Offline"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>