SG31ESBProject/SharedResource/Schema/Global/System/T24/SBV.FT.SETTLE.IBPS.PAYMENT.WS/SBV.FT.SETTLE.IBPS.PAYMENT.WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="T24WebServicesImplService" targetNamespace="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS">
    <import location="SBV.FT.SETTLE.IBPS.PAYMENT.WS_xsd1.xsd" namespace="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS" schemaLocation="SBV.FT.SETTLE.IBPS.PAYMENT.WS_xsd1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import location="generatedName.xsd" namespace="http://jaxb.dev.java.net/array" schemaLocation="SBV.FT.SETTLE.IBPS.PAYMENT.WS_xsd2.xsd"/>
        </xsd:schema>
    </types>
    <message name="CoreSystemStatus">
        <part element="tns:CoreSystemStatus" name="parameters"/>
    </message>
    <message name="CoreSystemStatusResponse">
        <part element="tns:CoreSystemStatusResponse" name="parameters"/>
    </message>
    <message name="IBPSAccountKQ">
        <part element="tns:IBPSAccountKQ" name="parameters"/>
    </message>
    <message name="IBPSAccountKQResponse">
        <part element="tns:IBPSAccountKQResponse" name="parameters"/>
    </message>
    <message name="FundsTransferHV">
        <part element="tns:FundsTransferHV" name="parameters"/>
    </message>
    <message name="FundsTransferHVResponse">
        <part element="tns:FundsTransferHVResponse" name="parameters"/>
    </message>
    <message name="FundsTransferHV_Validate">
        <part element="tns:FundsTransferHV_Validate" name="parameters"/>
    </message>
    <message name="FundsTransferHV_ValidateResponse">
        <part element="tns:FundsTransferHV_ValidateResponse" name="parameters"/>
    </message>
    <message name="IBPSNetting">
        <part element="tns:IBPSNetting" name="parameters"/>
    </message>
    <message name="IBPSNettingResponse">
        <part element="tns:IBPSNettingResponse" name="parameters"/>
    </message>
    <message name="IBPSNetting_Validate">
        <part element="tns:IBPSNetting_Validate" name="parameters"/>
    </message>
    <message name="IBPSNetting_ValidateResponse">
        <part element="tns:IBPSNetting_ValidateResponse" name="parameters"/>
    </message>
    <message name="IBPSQueryAccount">
        <part element="tns:IBPSQueryAccount" name="parameters"/>
    </message>
    <message name="IBPSQueryAccountResponse">
        <part element="tns:IBPSQueryAccountResponse" name="parameters"/>
    </message>
    <message name="ReloadIBPSNetting">
        <part element="tns:ReloadIBPSNetting" name="parameters"/>
    </message>
    <message name="ReloadIBPSNettingResponse">
        <part element="tns:ReloadIBPSNettingResponse" name="parameters"/>
    </message>
    <message name="ReloadIBPSNetting_Validate">
        <part element="tns:ReloadIBPSNetting_Validate" name="parameters"/>
    </message>
    <message name="ReloadIBPSNetting_ValidateResponse">
        <part element="tns:ReloadIBPSNetting_ValidateResponse" name="parameters"/>
    </message>
    <message name="SeeIBPSNetting">
        <part element="tns:SeeIBPSNetting" name="parameters"/>
    </message>
    <message name="SeeIBPSNettingResponse">
        <part element="tns:SeeIBPSNettingResponse" name="parameters"/>
    </message>
    <message name="IBPSOpenAccount">
        <part element="tns:IBPSOpenAccount" name="parameters"/>
    </message>
    <message name="IBPSOpenAccountResponse">
        <part element="tns:IBPSOpenAccountResponse" name="parameters"/>
    </message>
    <message name="FundsTransferKQ">
        <part element="tns:FundsTransferKQ" name="parameters"/>
    </message>
    <message name="FundsTransferKQResponse">
        <part element="tns:FundsTransferKQResponse" name="parameters"/>
    </message>
    <message name="FundsTransferKQ_Validate">
        <part element="tns:FundsTransferKQ_Validate" name="parameters"/>
    </message>
    <message name="FundsTransferKQ_ValidateResponse">
        <part element="tns:FundsTransferKQ_ValidateResponse" name="parameters"/>
    </message>
    <portType name="T24WebServicesImpl">
        <operation name="CoreSystemStatus">
            <input message="tns:CoreSystemStatus" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/CoreSystemStatusRequest"/>
            <output message="tns:CoreSystemStatusResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/CoreSystemStatusResponse"/>
        </operation>
        <operation name="IBPSAccountKQ">
            <input message="tns:IBPSAccountKQ" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSAccountKQRequest"/>
            <output message="tns:IBPSAccountKQResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSAccountKQResponse"/>
        </operation>
        <operation name="FundsTransferHV">
            <input message="tns:FundsTransferHV" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHVRequest"/>
            <output message="tns:FundsTransferHVResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHVResponse"/>
        </operation>
        <operation name="FundsTransferHV_Validate">
            <input message="tns:FundsTransferHV_Validate" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHV_ValidateRequest"/>
            <output message="tns:FundsTransferHV_ValidateResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferHV_ValidateResponse"/>
        </operation>
        <operation name="IBPSNetting">
            <input message="tns:IBPSNetting" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNettingRequest"/>
            <output message="tns:IBPSNettingResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNettingResponse"/>
        </operation>
        <operation name="IBPSNetting_Validate">
            <input message="tns:IBPSNetting_Validate" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNetting_ValidateRequest"/>
            <output message="tns:IBPSNetting_ValidateResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSNetting_ValidateResponse"/>
        </operation>
        <operation name="IBPSQueryAccount">
            <input message="tns:IBPSQueryAccount" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSQueryAccountRequest"/>
            <output message="tns:IBPSQueryAccountResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSQueryAccountResponse"/>
        </operation>
        <operation name="ReloadIBPSNetting">
            <input message="tns:ReloadIBPSNetting" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/ReloadIBPSNettingRequest"/>
            <output message="tns:ReloadIBPSNettingResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/ReloadIBPSNettingResponse"/>
        </operation>
        <operation name="ReloadIBPSNetting_Validate">
            <input message="tns:ReloadIBPSNetting_Validate" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/ReloadIBPSNetting_ValidateRequest"/>
            <output message="tns:ReloadIBPSNetting_ValidateResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/ReloadIBPSNetting_ValidateResponse"/>
        </operation>
        <operation name="SeeIBPSNetting">
            <input message="tns:SeeIBPSNetting" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/SeeIBPSNettingRequest"/>
            <output message="tns:SeeIBPSNettingResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/SeeIBPSNettingResponse"/>
        </operation>
        <operation name="IBPSOpenAccount">
            <input message="tns:IBPSOpenAccount" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSOpenAccountRequest"/>
            <output message="tns:IBPSOpenAccountResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/IBPSOpenAccountResponse"/>
        </operation>
        <operation name="FundsTransferKQ">
            <input message="tns:FundsTransferKQ" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferKQRequest"/>
            <output message="tns:FundsTransferKQResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferKQResponse"/>
        </operation>
        <operation name="FundsTransferKQ_Validate">
            <input message="tns:FundsTransferKQ_Validate" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferKQ_ValidateRequest"/>
            <output message="tns:FundsTransferKQ_ValidateResponse" wsam:Action="http://temenos.com/SBV.FT.SETTLE.IBPS.PAYMENT.WS/T24WebServicesImpl/FundsTransferKQ_ValidateResponse"/>
        </operation>
    </portType>
    <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CoreSystemStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSAccountKQ">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FundsTransferHV">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FundsTransferHV_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSNetting">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSNetting_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSQueryAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReloadIBPSNetting">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReloadIBPSNetting_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SeeIBPSNetting">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="IBPSOpenAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FundsTransferKQ">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FundsTransferKQ_Validate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="T24WebServicesImplService">
        <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
            <soap:address location="http://10.192.26.101:7001/SBV.FT.SETTLE.IBPS.PAYMENT.WS/services"/>
        </port>
    </service>
</definitions>